<div class="calendar" >

  <ion-row class="month-row" center>
    <ion-col offset-25 width-50 class="text-center">
      {{activeMonth.split(' ')[0]}}
    </ion-col>
    <ion-col width-25 style="text-align:right;padding-right:15px;">
      {{activeMonth.split(' ')[1]}}
    </ion-col>
  </ion-row>

  <ion-slides #mySlider [options]="slideOptions" (ionDrag)="onSlideDrag($event)" (ionDidChange)="onSlideChanged($event)">
    <ion-slide *ngFor="let weekObj of weeks; let i = index">
      <div class="day-grid">
        <ion-row class="text-center week-row">
          <ion-col *ngFor="let weekName of weekNames">
            <span>{{weekName}}</span>
          </ion-col>
        </ion-row>
        <ion-row class="text-center day-row" center>
          <ion-col class="day-col" *ngFor="let day of weekObj.days; let i = index" 
            [ngClass]="{
              'stay': day.isBetween(checkIn, checkOut),
              'stayStart-col': day.isSame(checkIn),
              'stayEnd-col': day.isSame(checkOut),
              'startDay': (i == 0 && drag == false),
              'endDay': (i == 6 && drag == false)
            }">
            <div class="day-cell"
              (click)="select(weekObj,day)"
              [ngClass]="{
                'weekend': ((day.days() % 6) === 0),
                'non-current-month': !(day.month() === weekObj.selectedWeek.month()),
                'stayStart': day.isSame(checkIn),
                'stayEnd': day.isSame(checkOut),
                'today': day.isSame(today,'day'),
                'selected': day.isSame(selectedDate, 'day'),
                'selectedOutStay': !(day.isBetween(checkIn - 1, checkOut + 1))
            }">
              {{day.date()}}
            </div>
          </ion-col>
        </ion-row>
      </div>
    </ion-slide>
  </ion-slides>
</div>  
