calendar-by-week {
$calBaseColor: map-get($colors,white);
  $calDarkColor: map-get($colors,dark);
  $calTextColor:map-get($colors,dark);
  $calSelectedDayColor: map-get($colors,blue);
  $calTodayColor: map-get($colors,blue);
  $calWeekHeaderBgColor:$calBaseColor;
  $calWeekHeaderBgColor:$calBaseColor;
  $calDayCellBgColor: $calBaseColor;
  $stayColor:map-get($colors,blue-light);
  $dateHolidayBgColor:$calBaseColor;
  $dateWeekendColor: map-get($colors,dark);
  $dateNonCurrentMonthColor: #888;

  .calendar {

    .swiper-container.swiper-container-horizontal {
      background-color: white !important;
    }

    ion-grid {
      padding:0;
    }

    ion-row {
      padding-left:0;
      padding-right:0;
    }

    button.item-block.item.item-ios,
    button.item-block.item.item-md {
      padding-left: 0;
    }

    .day-grid {
      background-color: white;
      padding-bottom: 6px;
    }

    .month-row {
      background-color:$calWeekHeaderBgColor !important;
      color:$calTextColor;
      text-align: center;
      font-size:map-get($font-sizes,descrip-mod);
      font-weight: 500;
      padding-top: 8px;
    }

    .week-row {
      background-color:$calWeekHeaderBgColor !important;
      color:$calTextColor;
      text-align: center;
      font-size:map-get($font-sizes,descrip-mod) - 0.1;
      padding-top: 8px;
    }

    .day-row button {
      color:$calTextColor !important;
      position:relative;
    }

    .day-col {
      background-color: none !important;
      /*border:solid 1px $calBaseColor;*/
      margin:6px 0 !important;
      padding: 0;
      height: 36px;
    }

    .day-col:hover,
    .day-col:active  {
      cursor: pointer;
    }

    .day-cell {
      border: 2px solid transparent;
      margin: 0 auto;
      line-height: 32px;
      width: 36px;
    }

    .today {
        background-color: white !important;
        border-radius: 50% !important;
        border-color: map-get($colors,blue-light);
        color: map-get($colors,blue);
     }


    .selected {
      background-color: $calSelectedDayColor !important;
      color: white !important;
      border-radius: 50% !important;
      border-color: map-get($colors,blue-light);
    }

    .selectedOutStay {
      border-color: white;
    }

    .startDay {
      -webkit-clip-path: polygon(14% 0, 101% -1%, 101% 101%, 14% 100%, 0 50%);
      clip-path: polygon(14% 0, 101% -1%, 101% 101%, 14% 100%, 0 50%);
    }

    .endDay {
      -webkit-clip-path: polygon(86% 0, 100% 50%, 86% 100%, -1% 101%, -1% -1%);
      clip-path: polygon(86% 0, 100% 50%, 86% 100%, -1% 101%, -1% -1%);
    }

    .stay {
      background-color:$stayColor;
    }

    .stayStart-col {
      background: -webkit-linear-gradient(90deg, transparent 50%, $stayColor 50%);
      background: -moz-linear-gradient(90deg, transparent 50%, $stayColor 50%);
      background: -o-linear-gradient(90deg, transparent 50%, $stayColor 50%);
      background: linear-gradient(90deg, transparent 50%, $stayColor 50%);
    }

    .stayEnd-col {
      background: -webkit-linear-gradient(90deg, $stayColor 50%, transparent 50%);
      background: -moz-linear-gradient(90deg, $stayColor 50%, transparent 50%);
      background: -o-linear-gradient(90deg, $stayColor 50%, transparent 50%);
      background: linear-gradient(90deg, $stayColor 50%, transparent 50%);
    }

    .stayStart {
      border-radius:50% 0 0 50%;
      background-color:$stayColor;
    }

    .stayEnd {
      border-radius:0 50% 50% 0;
      background-color:$stayColor;
    }

    .weekend {
      color: $dateWeekendColor;
      /*box-shadow:none !important;*/
    }

    .non-current-month {
      color: $dateNonCurrentMonthColor;
    }


    .holiday {
      background-color: $dateHolidayBgColor;
      box-shadow:none !important;
    }

  }
}
