page-on-boarding {


  ion-header ion-navbar .toolbar-background {
    background: white;
    border-bottom: none !important;
  }

  ion-toolbar {
    button {
      font-weight: 500;
    }
  }

  ion-slides {
    background: white;
  }

  .slide-zoom {
    height: 100%;
  }

  .slide-title {
    margin-top: 2.8rem;
  }

  .logo, .slide-image {
    display: block;
    margin: 5vh auto;
    width: auto;
    height: 10vh;
  }

  .logo {
    margin-top: 20px;
  }

  .slide-image {
    height: 30vh;
  }

  .text-container {
    h2 {
      padding: 0 40px;
      font-size: 18px;
      color: map-get($colors, blue);
      font-size: 1.8rem;
      font-weight: 500;
    }
    p {
      margin: 16px 0 30px 0;
      padding: 0 40px;
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 1.3;
    }
  }

}
