<ion-content class="tutorial-page">
  <ion-slides [options]="slideOptions">
    <ion-slide *ngFor="let slide of slides">
      <img src="assets/icon/flor.png" class="logo"/>
      <img [src]="slide.image" class="slide-image"/>
      <div class="text-container">
        <h2 [innerHTML]="slide.title"></h2>
        <p [style.margin-bottom]="(slide.description_2) ? '16px' : '30px'" [innerHTML]="slide.description"></p>
        <p [innerHTML]="slide.description_2"></p>
        <button ion-button round color="blue" (click)="buttonTapped('end')" [innerHTML]="slide.button" [hidden]="slide.button == ''">
        </button>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
