page-tratamientos {

  ion-content {
    .scroll-content {
      padding: 12px 0 !important;
    }
  }

  ion-row {
    padding:0;
    ion-col {
      padding:0px;
    }
  }

  .card {
    position: relative;
    border-radius: 6px;
    margin: 12px 6px 6px 12px !important;
    height: 130px;
    .card-title {
      position: absolute;
      bottom: 0;
      padding: 10px;
      width: 100%;
      font-size: map-get($font-sizes, descrip-mod);
      font-weight: bold;
      text-align: center;
      color: map-get($colors, dark);
      background-color: rgba(255, 255, 255, 0.8);
    }
    img {
      height: 100%;
      object-fit: cover;
    }
  }

  .card.card-right {
    margin-left: 6px !important;
  }

}
