<ion-header>
  <ion-navbar>
    <button ion-button menuToggle color="dark">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'CATEGORIAS.TITULO' | translate}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list [virtualScroll]="grid" [approxItemHeight]="'148px'" [bufferRatio]="6">
    <ion-row *virtualItem="let row">
      <ion-col *ngFor="let treatment of row">
        <ion-card *ngIf="treatment" class="card" (tap)="treatmentTapped(event, treatment)">
          <img [src]="(cachedImages) ? (treatment.image) : (treatment.image + '?' + getRandom())" onError="this.src='assets/images/placeholders/no-image.jpg'"/>
          <div class="card-title">{{treatment.name}}</div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>
