page-estilo-vida {

  .card-background-page {

    ion-card {
      position: relative;
      text-align: center;
      border-radius: 10px;
      .mask {
        position: absolute;
        top: 0;
        left: 0;
        min-height: 100%;
        min-width: 100%;
        height: auto;
        width: auto;
        background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.25) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.25) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        z-index: 2;
        img {
          position: absolute;
          bottom: 0;
          right: 0;
          padding: 10px;
          width: 45px;
          z-index: 4;
        }
      }
    }

    .card-title {
      font-size: map-get($font-sizes, titulares);
      color: white;
      font-weight: bold;
      z-index: 3;
      position: absolute;
      top: 0;
      padding: 0 16px;
      width: 100%;
      height: 100%;
      display: flex;
      display: -webkit-flex;
      justify-content: center;
      -webkit-justify-content: center;
      align-items: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      p {
        margin-top: 5px;
        padding: 0 10px;
        font-size: map-get($font-sizes, descrip-mod);
        font-weight: normal;
        color: white;
      }
    }
  }

}
