<ion-header>
  <ion-navbar>
    <button ion-button menuToggle color="dark">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'ESTILO_VIDA.TITULO' | translate}}</ion-title>
    <ion-buttons end *ngIf="userData.user.fase == 'Sha'">
      <button ion-button color="blue" clear (click)="openActionSheet()"><img src="assets/icon/contact.png" height="22px" alt=""></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="card-background-page">
  <ion-card *ngIf="userData.user.fase == 'postSha'" (click)="programasTapped()" >
    <img src="assets/images/programas.jpg"/>
    <div class="mask"><img src="assets/icon/link-ext-white.png" alt=""></div>
    <div class="card-title">{{'ESTILO_VIDA.LINK_PROGRAMAS.NAME' | translate}}</div>
  </ion-card>
  <ion-card *ngIf="userData.user.fase == 'postSha'" (click)="tratamientosTapped()" >
    <img src="assets/images/tratamientos.jpg"/>
    <div class="mask"><img src="assets/icon/link-ext-white.png" alt=""></div>
    <div class="card-title">{{'ESTILO_VIDA.LINK_TRATAMIENTOS.NAME' | translate}}</div>
  </ion-card>
  <ion-card (click)="boutiqueTapped()" >
    <img src="assets/images/boutique.jpg"/>
    <div class="mask"><img src="assets/icon/link-ext-white.png" alt=""></div>
    <div class="card-title">{{'ESTILO_VIDA.LINK_BOUTIQUE.NAME' | translate}}</div>
  </ion-card>
  <ion-card (click)="magazineTapped()" >
    <img src="assets/images/magazine.jpg"/>
    <div class="mask"><img src="assets/icon/link-ext-white.png" alt=""></div>
    <div class="card-title">{{'ESTILO_VIDA.LINK_MAGAZINE.NAME' | translate}}</div>
  </ion-card>
  <ion-card (click)="privilegedTapped()" >
    <img src="assets/images/sha-privileged.jpg"/>
    <div class="mask"><img src="assets/icon/link-ext-white.png" alt=""></div>
    <div class="card-title">SHA Privileged</div>
  </ion-card>
  <ion-card (click)="foundationTapped()" >
    <img src="assets/images/sha-fundacion.jpg"/>
    <div class="mask"><img src="assets/icon/link-ext-white.png" alt=""></div>
    <div class="card-title">SHA Foundation</div>
  </ion-card>
  <ion-card (click)="esenzaTapped()" >
    <img src="assets/images/esenza.jpg"/>
    <div class="mask"><img src="assets/icon/link-ext-white.png" alt=""></div>
    <div class="card-title">Esenza by SHA</div>
  </ion-card>
  <ion-card (click)="abTapped()" >
    <img src="assets/images/sha-ab.jpg"/>
    <div class="mask"><img src="assets/icon/link-ext-white.png" alt=""></div>
    <div class="card-title">AB Living</div>
  </ion-card>
</ion-content>
