<ion-header>
  <ion-navbar>
    <button ion-button menuToggle color="dark">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="title_page == undefined">{{'TERAPEUTA.TITULO' | translate}}</ion-title>
    <ion-title *ngIf="title_page != ''">{{title_page}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="header-container">
    <img class="avatar" [src]="(cachedImages) ? (doctor.image) : (doctor.image + '?' + getRandom())" onError="this.src='assets/images/placeholders/no-image-doctor.jpg'; this.style.border='none'">
    <h3>{{doctor.name}}</h3>
    <p>{{doctor.specialities.join(" | ")}}</p>
  </div>
  <div class="cv-container">
    <div class="text" [innerHtml]="texto_defecto" class="cv-container__texto-defecto"></div>
    <div class="text" [innerHtml]="doctor.cv"></div>
  </div>
  <div class="treatment-container">
    <h5>{{'TERAPEUTA.TRATAMIENTOS' | translate}}</h5>
    <p><span *ngFor="let treatment of doctor.treatments; let i = index" (click)="treatmentTapped(treatment)">{{treatment.name}} {{(i <doctor.treatments.length - 1) ? '|' : ''}} </span></p>
  </div>
</ion-content>

