page-ficha-terapeuta {

/*   .toolbar-ios {
      //workaround: statusbar height is too small on root view without home button
      // -> manually set min-height on root view (verified on iOS 10)
      min-height: 64px;
  } */

  ion-content {
    background-color: white !important;
  } 
  ion-navbar.toolbar {
    .toolbar-background {
      background-color: map-get($colors, blue) !important;
      border-bottom: none !important;
    }
    button {
      color: white !important;
    }
  }

  ion-title {
    text-transform: capitalize;
  }

  ion-title .toolbar-title {
    color: white !important;
  }

  .header-container {
    padding: 10px 20px;
    width: 100%;
    text-align: center;
    background-color: map-get($colors, blue);
    .avatar {
      margin: 0 auto;
      width: 80px;
      height: 80px;
      border: 4px solid white;
      border-radius: 50%;
      object-fit: cover;
    }
    h3 {
      color: white;
      font-size: map-get($font-sizes, texto);
      font-weight: bold;
      margin: 10px 0;
    }
    p {
      color: white;
      font-size: map-get($font-sizes, descrip-mod); 
      margin: 10px 0;     
    }
  }

  .cv-container {
    padding: 20px;
    padding-bottom: 40px;
    background-color: white;
    h3 {
      margin: 0;
      padding-top: 20px;
      font-size: map-get($font-sizes, titulares);
      font-weight: 500;
    }
    .text {
        font-size: 1.4rem;
        margin-bottom: 10px;
        line-height: 18px;
    }
  }

  .treatment-container {
    display:none;
    margin: 0 20px;
    padding-bottom: 20px;
    background-color: white;
    border-top: 1px solid map-get($colors, grey-medium-l) !important;
    text-align: center;
    h5 {
      margin: 12px 0;
      color: map-get($colors, grey);
      font-size: map-get($font-sizes, descrip-mod) !important;
      font-weight: bold;
    }
    p {
      margin: 12px 0;
      color: map-get($colors, grey);
      font-size: map-get($font-sizes, descrip-mod);
      line-height: 2em;
    }
  }

}
