<ion-header>
  <ion-navbar>
    <ion-title>{{stepArrayText[stepIndex]}}</ion-title>
    <ion-buttons end>
        <button ion-button color="blue" clear [disabled] = "!validatedForm" (click)="nextSubmitForm()">{{(stepIndex === stepArrayText.length - 1) ? buttonNextSubmitText[1] : buttonNextSubmitText[0]}}</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content *ngIf="stepIndex === 0">
  <p class="aviso">{{'CUESTIONARIO_SALUD.CABECERA' | translate}}</p>
  <ion-list mode="ios">
    <ion-list-header mode="ios">
      {{'CUESTIONARIO_SALUD.TITULO1' | translate}}
    </ion-list-header>
    <ion-item text-wrap>
      <ion-label>{{'CUESTIONARIO_SALUD.Q0.NOMBRE' | translate}} <br><br> <span style="padding-left:8px">{{userData.user.name}}</span></ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{'CUESTIONARIO_SALUD.Q1.PESO' | translate}}</ion-label>
      <div item-content>
        <ion-row center>
          <ion-col width-20>
            {{form.weight}}<span *ngIf="form.weight"> kg</span>
          </ion-col>
          <ion-col width-80>
            <ion-range min="40" max="150" [(ngModel)]="form.weight" color="blue" (ionChange)="validateForm()">
              <ion-label range-left class="small-text">kg</ion-label>
              <ion-label range-right>kg</ion-label>
            </ion-range>
          </ion-col>
        </ion-row>
      </div>
    </ion-item>
    <ion-item>
      <ion-label>{{'CUESTIONARIO_SALUD.Q1.ALTURA' | translate}}</ion-label>
      <div item-content>
        <ion-row center>
          <ion-col width-20>
            {{form.height}}<span *ngIf="form.height"> cm</span>
          </ion-col>
          <ion-col width-80>
            <ion-range min="140" max="220" [(ngModel)]="form.height" color="blue" (ionChange)="validateForm()">
              <ion-label range-left class="small-text">cm</ion-label>
              <ion-label range-right>cm</ion-label>
            </ion-range>
          </ion-col>
        </ion-row>
      </div>
    </ion-item>
  </ion-list>
  <ion-list mode="ios">
    <ion-list-header mode="ios">
      {{'CUESTIONARIO_SALUD.TITULO2' | translate}}
    </ion-list-header>
    <ion-item text-wrap [ngClass]="((form.targets ? form.targets.indexOf('otros') : -1) > -1) ? 'no-border-bottom' : ''">
      <ion-label>{{'CUESTIONARIO_SALUD.Q15.TITULO' | translate}}</ion-label>
      <ion-select placeholder="{{'CUESTIONARIO_SALUD.Q15.OPCION' | translate}}" name="targets" [selectOptions]="{title:'CUESTIONARIO_SALUD.Q15.TITULO' | translate}" okText="{{'CUESTIONARIO_SALUD.Q15.ACEPTAR' | translate}}" cancelText="{{'CUESTIONARIO_SALUD.Q15.CANCELAR' | translate}}" [(ngModel)]="form.targets"  multiple="true" (ionChange)="validateForm()">
        <ion-option value="habitos">{{'CUESTIONARIO_SALUD.Q15.OPCION1' | translate}}</ion-option>
        <ion-option value="prevenir">{{'CUESTIONARIO_SALUD.Q15.OPCION2' | translate}}</ion-option>
        <ion-option value="salud">{{'CUESTIONARIO_SALUD.Q15.OPCION3' | translate}}</ion-option>
        <ion-option value="fisico">{{'CUESTIONARIO_SALUD.Q15.OPCION4' | translate}}</ion-option>
        <ion-option value="animo">{{'CUESTIONARIO_SALUD.Q15.OPCION5' | translate}}</ion-option>
        <ion-option value="rejuvenecer">{{'CUESTIONARIO_SALUD.Q15.OPCION6' | translate}}</ion-option>
        <ion-option value="dormir">{{'CUESTIONARIO_SALUD.Q15.OPCION7' | translate}}</ion-option>
        <ion-option value="detox">{{'CUESTIONARIO_SALUD.Q15.OPCION8' | translate}}</ion-option>
        <ion-option value="peso">{{'CUESTIONARIO_SALUD.Q15.OPCION9' | translate}}</ion-option>
        <ion-option value="relax">{{'CUESTIONARIO_SALUD.Q15.OPCION10' | translate}}</ion-option>
        <ion-option value="otros">{{'CUESTIONARIO_SALUD.Q15.OPCION11' | translate}}</ion-option>
      </ion-select>
      <ion-icon ios="ios-add-circle-outline" md="ios-add-circle-outline" color="blue" item-right></ion-icon>
    </ion-item>
    <ion-item [hidden]="((form.targets) ? form.targets.indexOf('otros') : -1) < 0" class="itemize">
      <ion-input type="text" placeholder="{{'CUESTIONARIO_SALUD.Q15.ESPECIFIQUE' | translate}}" (blur)="validateForm()" [(ngModel)]="form.targetsDetail"></ion-input>
    </ion-item>
  </ion-list>
  <ion-list mode="ios">
    <ion-list-header mode="ios">
      {{'CUESTIONARIO_SALUD.TITULO3' | translate}}
    </ion-list-header>
    <ion-item text-wrap>
      <ion-label>{{'CUESTIONARIO_SALUD.Q2.TITULO' | translate}}</ion-label>
      <ion-select placeholder="{{'CUESTIONARIO_SALUD.Q2.OPCION' | translate}}" name="exercise" [selectOptions]="{title:'CUESTIONARIO_SALUD.Q2.TITULO' | translate}" okText="{{'CUESTIONARIO_SALUD.Q2.ACEPTAR' | translate}}" cancelText="{{'CUESTIONARIO_SALUD.Q2.CANCELAR' | translate}}" [(ngModel)]="form.exercise">
        <ion-option value="never">{{'CUESTIONARIO_SALUD.Q2.OPCION1' | translate}}</ion-option>
        <ion-option value="sometimes">{{'CUESTIONARIO_SALUD.Q2.OPCION2' | translate}}</ion-option>
        <ion-option value="1-3">{{'CUESTIONARIO_SALUD.Q2.OPCION3' | translate}}</ion-option>
        <ion-option value="4">{{'CUESTIONARIO_SALUD.Q2.OPCION4' | translate}}</ion-option>
      </ion-select>
      <ion-icon ios="md-arrow-dropdown" md="md-arrow-dropdown" color="grey-medium" item-right></ion-icon>    
    </ion-item>
    <ion-item text-wrap>
      <ion-label>{{'CUESTIONARIO_SALUD.Q3.TITULO' | translate}}</ion-label>
      <ion-toggle [(ngModel)]="form.sleep" checked="false" color="blue"></ion-toggle>
    </ion-item>
    <ion-item text-wrap [ngClass]="(form.feeding) ? 'no-border-bottom' : ''">
      <ion-label>{{'CUESTIONARIO_SALUD.Q4.TITULO' | translate}}</ion-label>
      <ion-toggle [(ngModel)]="form.feeding" checked="false" color="blue" (ionChange)="validateForm()"></ion-toggle>
    </ion-item>
    <ion-item [hidden]="!form.feeding" class="itemize">
      <ion-input type="text" placeholder="{{'CUESTIONARIO_SALUD.Q4.ESPECIFIQUE' | translate}}" [(ngModel)]="form.feedingDetail" (blur)="validateForm()"></ion-input>
    </ion-item>
    <ion-item text-wrap>
      <ion-label>{{'CUESTIONARIO_SALUD.Q5.TITULO' | translate}}</ion-label>
      <ion-select placeholder="{{'CUESTIONARIO_SALUD.Q5.OPCION' | translate}}" name="addiction" [selectOptions]="{title:'CUESTIONARIO_SALUD.Q5.TITULO' | translate}" okText="{{'CUESTIONARIO_SALUD.Q5.ACEPTAR' | translate}}" cancelText="{{'CUESTIONARIO_SALUD.Q5.CANCELAR' | translate}}" [(ngModel)]="form.addiction"  multiple="true">
        <ion-option value="no">{{'CUESTIONARIO_SALUD.Q5.OPCION1' | translate}}</ion-option>
        <ion-option value="alcohol">{{'CUESTIONARIO_SALUD.Q5.OPCION2' | translate}}</ion-option>
        <ion-option value="tabaco">{{'CUESTIONARIO_SALUD.Q5.OPCION3' | translate}}</ion-option>
        <ion-option value="otras">{{'CUESTIONARIO_SALUD.Q5.OPCION4' | translate}}</ion-option>
      </ion-select>
      <ion-icon ios="ios-add-circle-outline" md="ios-add-circle-outline" color="blue" item-right></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>

<ion-content *ngIf="stepIndex === 1">
  <ion-list mode="ios">
    <ion-list-header mode="ios">
      {{'CUESTIONARIO_SALUD.TITULO3' | translate}}
    </ion-list-header>
    <ion-item text-wrap [ngClass]="(form.treatment) ? 'no-border-bottom' : ''">
      <ion-label>{{'CUESTIONARIO_SALUD.Q6.TITULO' | translate}}</ion-label>
      <ion-toggle [(ngModel)]="form.treatment" checked="false" color="blue" (ionChange)="validateForm()"></ion-toggle>
    </ion-item>
    <ion-item [hidden]="!form.treatment" class="itemize">
      <ion-input type="text" placeholder="{{'CUESTIONARIO_SALUD.Q6.ESPECIFIQUE' | translate}}" [(ngModel)]="form.treatmentDetail" (blur)="validateForm()"></ion-input>
    </ion-item>
    <ion-item text-wrap [ngClass]="((form.disease ? form.disease.indexOf('otros') : -1) > -1) ? 'no-border-bottom' : ''">
      <ion-label>{{'CUESTIONARIO_SALUD.Q7.TITULO' | translate}}</ion-label>
      <ion-select placeholder="{{'CUESTIONARIO_SALUD.Q7.OPCION' | translate}}" name="disease" [selectOptions]="{title:'CUESTIONARIO_SALUD.Q7.TITULO' | translate}" okText="{{'CUESTIONARIO_SALUD.Q7.ACEPTAR' | translate}}" cancelText="{{'CUESTIONARIO_SALUD.Q7.CANCELAR' | translate}}" [(ngModel)]="form.disease" (ionChange)="validateForm()" multiple="true">
        <ion-option value="digestivo">{{'CUESTIONARIO_SALUD.Q7.OPCION1' | translate}}</ion-option>
        <ion-option value="corazon">{{'CUESTIONARIO_SALUD.Q7.OPCION2' | translate}}</ion-option>
        <ion-option value="circulacion">{{'CUESTIONARIO_SALUD.Q7.OPCION3' | translate}}</ion-option>
        <ion-option value="pulmonar">{{'CUESTIONARIO_SALUD.Q7.OPCION4' | translate}}</ion-option>
        <ion-option value="neurologico">{{'CUESTIONARIO_SALUD.Q7.OPCION5' | translate}}</ion-option>
        <ion-option value="otros">{{'CUESTIONARIO_SALUD.Q7.OPCION6' | translate}}</ion-option>
      </ion-select>
      <ion-icon ios="ios-add-circle-outline" md="ios-add-circle-outline" color="blue" item-right></ion-icon>   
    </ion-item>
    <ion-item [hidden]="((form.disease) ? form.disease.indexOf('otros') : -1) < 0" class="itemize">
      <ion-input type="text" placeholder="{{'CUESTIONARIO_SALUD.Q7.ESPECIFIQUE' | translate}}" (blur)="validateForm()" [(ngModel)]="form.diseaseDetail"></ion-input>
    </ion-item>
    <ion-item text-wrap [ngClass]="(form.surgery) ? 'no-border-bottom' : ''">
      <ion-label>{{'CUESTIONARIO_SALUD.Q8.TITULO' | translate}}</ion-label>
      <ion-toggle [(ngModel)]="form.surgery" checked="false" color="blue" (ionChange)="validateForm()"></ion-toggle>
    </ion-item>
    <ion-item [hidden]="!form.surgery" class="itemize">
      <ion-input type="text" placeholder="{{'CUESTIONARIO_SALUD.Q8.ESPECIFIQUE' | translate}}" (blur)="validateForm()" [(ngModel)]="form.surgeryDetail"></ion-input>
    </ion-item>
    <ion-item text-wrap>
      <ion-label>{{'CUESTIONARIO_SALUD.Q9.TITULO' | translate}}</ion-label>
      <ion-toggle [(ngModel)]="form.back" checked="false" color="blue" (ionChange)="validateForm()"></ion-toggle>
    </ion-item>
    <ion-item text-wrap [ngClass]="(form.ache) ? 'no-border-bottom' : ''">
      <ion-label>{{'CUESTIONARIO_SALUD.Q10.TITULO' | translate}}</ion-label>
      <ion-toggle [(ngModel)]="form.ache" checked="false" color="blue" (ionChange)="validateForm(); scrollToBottom()"></ion-toggle>
    </ion-item>
    <ion-item [hidden]="!form.ache" class="itemize">
      <ion-input type="text" placeholder="{{'CUESTIONARIO_SALUD.Q10.TIPO' | translate}}" (blur)="validateForm()" [(ngModel)]="form.acheDetail"></ion-input>
    </ion-item>
    <ion-item text-wrap [ngClass]="(form.medicalAllergy) ? 'no-border-bottom' : ''">
      <ion-label>{{'CUESTIONARIO_SALUD.Q11.TITULO' | translate}}</ion-label>
      <ion-toggle [(ngModel)]="form.medicalAllergy" checked="false" color="blue" (ionChange)="validateForm(); scrollToBottom()"></ion-toggle>
    </ion-item>
    <ion-item [hidden]="!form.medicalAllergy" class="itemize">
      <ion-input type="text" placeholder="{{'CUESTIONARIO_SALUD.Q11.ESPECIFIQUE' | translate}}" (blur)="validateForm()" [(ngModel)]="form.medicalAllergyDetail"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>

<ion-content *ngIf="stepIndex === 2">
  <ion-list mode="ios">
    <ion-list-header mode="ios">
      {{'CUESTIONARIO_SALUD.TITULO3' | translate}}
    </ion-list-header>
    <ion-item text-wrap [ngClass]="(form.foodAllergy) ? 'no-border-bottom' : ''">
      <ion-label>{{'CUESTIONARIO_SALUD.Q12.TITULO' | translate}}</ion-label>
      <ion-toggle [(ngModel)]="form.foodAllergy" checked="false" color="blue" (ionChange)="validateForm()"></ion-toggle>
    </ion-item>
    <ion-item [hidden]="!form.foodAllergy" class="itemize">
      <ion-input type="text" placeholder="{{'CUESTIONARIO_SALUD.Q11.ESPECIFIQUE' | translate}}" (blur)="validateForm()" [(ngModel)]="form.foodAllergyDetail"></ion-input>
    </ion-item>
    <ion-item text-wrap [ngClass]="(form.otherAllergy) ? 'no-border-bottom' : ''">
      <ion-label>{{'CUESTIONARIO_SALUD.Q13.TITULO' | translate}}</ion-label>
      <ion-toggle [(ngModel)]="form.otherAllergy" checked="false" color="blue" (ionChange)="validateForm()"></ion-toggle>
    </ion-item>
    <ion-item [hidden]="!form.otherAllergy" class="itemize">
      <ion-input type="text" placeholder="{{'CUESTIONARIO_SALUD.Q12.ESPECIFIQUE' | translate}}" (blur)="validateForm()" [(ngModel)]="form.otherAllergyDetail"></ion-input>
    </ion-item>

    <ion-item text-wrap class="no-border-bottom">
      <ion-label>{{'CUESTIONARIO_SALUD.Q14.TITULO' | translate}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-textarea rows="6" placeholder="{{'CUESTIONARIO_SALUD.Q14.ESCRIBA' | translate}}" name="body" [(ngModel)]="form.otherInformation"></ion-textarea>
    </ion-item>
  </ion-list>
</ion-content>

<ion-content *ngIf="stepIndex === 3">
  <ion-list mode="ios">
    <ion-list-header mode="ios">
      {{'CUESTIONARIO_SALUD.TITULO4' | translate}}
      <p class="subtitle">{{'CUESTIONARIO_SALUD.SUBTITULO4' | translate}}</p>
    </ion-list-header>
    <ion-item text-wrap>
      <ion-label>{{'CUESTIONARIO_SALUD.P1.TITULO' | translate}}</ion-label>
      <ion-select placeholder="{{'CUESTIONARIO_SALUD.P1.OPCION' | translate}}" name="shoes" [selectOptions]="{title:'CUESTIONARIO_SALUD.P1.TITULO' | translate}" okText="{{'CUESTIONARIO_SALUD.P1.ACEPTAR' | translate}}" cancelText="{{'CUESTIONARIO_SALUD.P1.CANCELAR' | translate}}" [(ngModel)]="form.shoes" (ionChange)="validateForm()">
        <ion-option value="S">{{'CUESTIONARIO_SALUD.P1.OPCION1' | translate}}</ion-option>
        <ion-option value="M">{{'CUESTIONARIO_SALUD.P1.OPCION2' | translate}}</ion-option>
        <ion-option value="L">{{'CUESTIONARIO_SALUD.P1.OPCION3' | translate}}</ion-option>
      </ion-select>
      <ion-icon ios="md-arrow-dropdown" md="md-arrow-dropdown" color="grey-medium" item-right></ion-icon>    
    </ion-item>
    <ion-item text-wrap>
      <ion-label>{{'CUESTIONARIO_SALUD.P2.TITULO' | translate}}</ion-label>
      <ion-select placeholder="{{'CUESTIONARIO_SALUD.P2.OPCION' | translate}}" name="bathrobe" [selectOptions]="{title:'CUESTIONARIO_SALUD.P2.TITULO' | translate}" okText="{{'CUESTIONARIO_SALUD.P2.ACEPTAR' | translate}}" cancelText="{{'CUESTIONARIO_SALUD.P2.CANCELAR' | translate}}" [(ngModel)]="form.bathrobe" (ionChange)="validateForm()">
        <ion-option value="S">{{'CUESTIONARIO_SALUD.P2.OPCION1' | translate}}</ion-option>
        <ion-option value="M">{{'CUESTIONARIO_SALUD.P2.OPCION2' | translate}}</ion-option>
        <ion-option value="L">{{'CUESTIONARIO_SALUD.P2.OPCION3' | translate}}</ion-option>
        <ion-option value="XL">{{'CUESTIONARIO_SALUD.P2.OPCION4' | translate}}</ion-option>
        <ion-option value="XXL">{{'CUESTIONARIO_SALUD.P2.OPCION5' | translate}}</ion-option>
        <ion-option value="XXXL">{{'CUESTIONARIO_SALUD.P2.OPCION6' | translate}}</ion-option>
      </ion-select>
      <ion-icon ios="md-arrow-dropdown" md="md-arrow-dropdown" color="grey-medium" item-right></ion-icon>    
    </ion-item>
    <ion-item text-wrap>
      <ion-label>{{'CUESTIONARIO_SALUD.P3.TITULO' | translate}}</ion-label>
      <ion-select placeholder="{{'CUESTIONARIO_SALUD.P3.OPCION' | translate}}" name="mattress" [selectOptions]="{title:'CUESTIONARIO_SALUD.P3.TITULO' | translate}" okText="{{'CUESTIONARIO_SALUD.P3.ACEPTAR' | translate}}" cancelText="{{'CUESTIONARIO_SALUD.P3.CANCELAR' | translate}}" [(ngModel)]="form.mattress" (ionChange)="validateForm()">
        <ion-option value="Hard">{{'CUESTIONARIO_SALUD.P3.OPCION1' | translate}}
          {{'CUESTIONARIO_SALUD.P3.OPCION1-SUB' | translate}} 
        </ion-option>
        <ion-option value="Medium">{{'CUESTIONARIO_SALUD.P3.OPCION2' | translate}}
          {{'CUESTIONARIO_SALUD.P3.OPCION2-SUB' | translate}} 
        </ion-option>
        <ion-option value="Natural">{{'CUESTIONARIO_SALUD.P3.OPCION3' | translate}}
          {{'CUESTIONARIO_SALUD.P3.OPCION3-SUB' | translate}} 
        </ion-option>
        <ion-option value="Soft">{{'CUESTIONARIO_SALUD.P3.OPCION4' | translate}}
          {{'CUESTIONARIO_SALUD.P3.OPCION4-SUB' | translate}} 
        </ion-option>
        <ion-option value="Visco Fresh">{{'CUESTIONARIO_SALUD.P3.OPCION5' | translate}}
          {{'CUESTIONARIO_SALUD.P3.OPCION5-SUB' | translate}} 
        </ion-option>
      </ion-select>
      <ion-icon ios="md-arrow-dropdown" md="md-arrow-dropdown" color="grey-medium" item-right></ion-icon>    
    </ion-item>
    <ion-item text-wrap>
      <ion-label>{{'CUESTIONARIO_SALUD.P4.TITULO' | translate}}</ion-label>
      <ion-select placeholder="{{'CUESTIONARIO_SALUD.P4.OPCION' | translate}}" name="pillow" [selectOptions]="{title:'CUESTIONARIO_SALUD.P4.TITULO' | translate}" okText="{{'CUESTIONARIO_SALUD.P4.ACEPTAR' | translate}}" cancelText="{{'CUESTIONARIO_SALUD.P4.CANCELAR' | translate}}" [(ngModel)]="form.pillow" (ionChange)="validateForm()">
        <ion-option value="Active Cervical">{{'CUESTIONARIO_SALUD.P4.OPCION1' | translate}}
          {{'CUESTIONARIO_SALUD.P4.OPCION1-SUB' | translate}} 
        </ion-option>
        <ion-option value="Pluma">{{'CUESTIONARIO_SALUD.P4.OPCION2' | translate}}
          {{'CUESTIONARIO_SALUD.P4.OPCION2-SUB' | translate}} 
        </ion-option>
        <ion-option value="Tacto Pluma">{{'CUESTIONARIO_SALUD.P4.OPCION3' | translate}}
          {{'CUESTIONARIO_SALUD.P4.OPCION3-SUB' | translate}} 
        </ion-option>
        <ion-option value="Aloe Vera">{{'CUESTIONARIO_SALUD.P4.OPCION4' | translate}}
          {{'CUESTIONARIO_SALUD.P4.OPCION4-SUB' | translate}} 
        </ion-option>
        <ion-option value="Visco Elastica">{{'CUESTIONARIO_SALUD.P4.OPCION5' | translate}}
          {{'CUESTIONARIO_SALUD.P4.OPCION5-SUB' | translate}} 
        </ion-option>
        <ion-option value="Almohada Latex">{{'CUESTIONARIO_SALUD.P4.OPCION6' | translate}}
          {{'CUESTIONARIO_SALUD.P4.OPCION6-SUB' | translate}} 
        </ion-option>
      </ion-select>
      <ion-icon ios="md-arrow-dropdown" md="md-arrow-dropdown" color="grey-medium" item-right></ion-icon>    
    </ion-item>
    <ion-item text-wrap [ngClass]="((form.cleaning_period ? form.cleaning_period.indexOf('Otro') : -1) > -1) ? 'no-border-bottom' : ''">
      <ion-label>{{'CUESTIONARIO_SALUD.P5.TITULO' | translate}}</ion-label>
      <ion-select placeholder="{{'CUESTIONARIO_SALUD.P5.OPCION' | translate}}" name="cleaning_period" [selectOptions]="{title:'CUESTIONARIO_SALUD.P5.TITULO' | translate}" okText="{{'CUESTIONARIO_SALUD.P5.ACEPTAR' | translate}}" cancelText="{{'CUESTIONARIO_SALUD.P5.CANCELAR' | translate}}" [(ngModel)]="form.cleaning_period" (ionChange)="validateForm()">
        <ion-option value="De 09:00 a 11:00h">{{'CUESTIONARIO_SALUD.P5.OPCION1' | translate}}
        </ion-option>
        <ion-option value="De 11:00 a 13:00h">{{'CUESTIONARIO_SALUD.P5.OPCION2' | translate}}
        </ion-option>
        <ion-option value="De 13:00 a 15:00h">{{'CUESTIONARIO_SALUD.P5.OPCION3' | translate}}
        </ion-option>
        <ion-option value="Otro">{{'CUESTIONARIO_SALUD.P5.OPCION4' | translate}}
        </ion-option>
      </ion-select>
      <ion-icon ios="md-arrow-dropdown" md="md-arrow-dropdown" color="blue" item-right></ion-icon>   
    </ion-item>
    <ion-item [hidden]="((form.cleaning_period) ? form.cleaning_period.indexOf('Otro') : -1) < 0" class="itemize">
      <ion-input type="text" placeholder="{{'CUESTIONARIO_SALUD.P6.ESPECIFIQUE' | translate}}" (blur)="validateForm()" [(ngModel)]="form.cleaning_periodDetail"></ion-input>
    </ion-item>
    <ion-item text-wrap [ngClass]="((form.coverage_period ? form.coverage_period.indexOf('Otro') : -1) > -1) ? 'no-border-bottom' : ''">
      <ion-label>{{'CUESTIONARIO_SALUD.P6.TITULO' | translate}}</ion-label>
      <ion-select placeholder="{{'CUESTIONARIO_SALUD.P6.OPCION' | translate}}" name="coverage_period" [selectOptions]="{title:'CUESTIONARIO_SALUD.P6.TITULO' | translate}" okText="{{'CUESTIONARIO_SALUD.P6.ACEPTAR' | translate}}" cancelText="{{'CUESTIONARIO_SALUD.P6.CANCELAR' | translate}}" [(ngModel)]="form.coverage_period" (ionChange)="validateForm()">
        <ion-option value="De 18.30 a 19.30h">{{'CUESTIONARIO_SALUD.P6.OPCION1' | translate}}
        </ion-option>
        <ion-option value="De 19.30 a 20.30h">{{'CUESTIONARIO_SALUD.P6.OPCION2' | translate}}
        </ion-option>
        <ion-option value="De 20.30 a 21.30h">{{'CUESTIONARIO_SALUD.P6.OPCION3' | translate}}
        </ion-option>
        <ion-option value="Otro">{{'CUESTIONARIO_SALUD.P6.OPCION4' | translate}}
        </ion-option>
      </ion-select>
      <ion-icon ios="md-arrow-dropdown" md="md-arrow-dropdown" color="blue" item-right></ion-icon>   
    </ion-item>
    <ion-item [hidden]="((form.coverage_period) ? form.coverage_period.indexOf('Otro') : -1) < 0" class="itemize">
      <ion-input type="text" placeholder="{{'CUESTIONARIO_SALUD.P6.ESPECIFIQUE' | translate}}" (blur)="validateForm()" [(ngModel)]="form.coverage_periodDetail"></ion-input>
    </ion-item>
  </ion-list>
  <ion-list mode="ios">
    <ion-item text-wrap>
      <ion-label>{{'CUESTIONARIO_SALUD.TERMINOS_Y_CONDICIONES.ACEPTO' | translate}} <span (click)="showTerms()" color="blue">{{'CUESTIONARIO_SALUD.TERMINOS_Y_CONDICIONES.TERMINOS' | translate}}</span></ion-label>
      <ion-toggle [(ngModel)]="form.acceptPolicy" checked="false" color="blue" (ionChange)="validateForm()"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>