page-cuestionario-salud {
  ion-list-header {
    padding-top: 16px;
    .subtitle {
      white-space: normal;
      font-size: 12px !important;
      color: map-get($colors, grey-medium) !important;
      text-transform: none;
      padding-left: 0;
      letter-spacing: 0;
    }
  }

  ion-label {
    font-weight: 500 !important;
    color: map-get($colors, dark) !important;
    font-size: map-get($font-sizes, seccion) !important;
    &.small-text {
      font-size: 12px !important;
      font-weight: normal !important;
    }
    p {
      padding-top: 5px;
      padding-left: 8px;
      font-weight: normal !important;
      font-size: map-get($font-sizes, texto) !important;
      color: map-get($colors, dark) !important;
    }
  }

  ion-range.range {
    padding: 0;
  }

  ion-col {
    padding-top: 0;
  }
  ion-col:first-child {
    font-size: map-get($font-sizes, texto) !important;
    padding-left: 8px;
    margin-bottom: 5px;
  }

  ion-select {
    font-size: map-get($font-sizes, texto) !important;
    max-width: 100%;
    &.select {
      padding-left: 8px !important;
    }
    .select-icon-inner {
      color: white !important;
    }
    .select-placeholder{
      color: map-get($colors,grey-medium-l) !important;
    }
  }

  ion-item {
    .input-wrapper {
      display: block;
    }
    &.itemize {
      font-size: map-get($font-sizes, texto);
      input.text-input-ios {
        padding-left: 8px !important;
      }
    }
    &.no-border-bottom {
      .item-inner {
        border-bottom-width: 0px !important;
      }      
    }
  }

  ion-textarea {
    font-size: map-get($font-sizes, texto) !important;
  }

  p.aviso {
    text-align: left;
    font-size: 13px;
    padding: 16px 16px 0 16px;
    color: #75787B;
    margin:0;
  }

}
