<ion-content>
  <video preload autoplay loop playsinline poster="assets/videos/poster_white.png"><source src="assets/videos/login.mp4"></video>
  <div class="mask"></div>
  <div class="login-box">
    <div class="logo-container">
      <img src="assets/icon/logo-white.png" alt="">
    </div>
    <form (ngSubmit)="login()" #registerForm="ngForm">
      <ion-row class="inputs-container">
        <ion-col width-90>
          <ion-list mode="ios">
            <ion-item>
              <ion-input type="text" placeholder="{{'LOGIN.EMAIL' | translate}}" name="email" autocapitalize="none" [(ngModel)]="registerCredentials.email" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="{{(passFieldStatus) ? 'text' : 'password'}}" placeholder="{{'LOGIN.PASSWORD' | translate}}" name="password" [(ngModel)]="registerCredentials.password" required></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col width-10 style="align-self: flex-end;">
          <div (click)="togglePassField()" class="eye">
            <ion-icon ios="ios-eye-outline" md="ios-eye-outline" color="white" [hidden]="passFieldStatus"></ion-icon>
            <ion-icon ios="ios-eye-off-outline" md="ios-eye-off-outline" color="white" [hidden]="!passFieldStatus"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="terms-conditions">
        <ion-toggle [(ngModel)]="acceptConditions" [ngModelOptions]="{standalone: true}" color="blue"></ion-toggle><p>{{'LOGIN.CONDICIONES_MSG1' | translate}}<span color="blue-light" (click)="goToConditionsUse()">{{'LOGIN.CONDICIONES_MSG2' | translate}}</span></p>
      </ion-row>
      <ion-row>
        <ion-col>
          <button ion-button class="submitButton" color="white" full round type="submit" [disabled]="!registerForm.form.valid || !acceptConditions">{{'LOGIN.LOGIN' | translate}}</button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="recoverPassword" text-right>
          <span (click)="goToRecoverPassword()">{{'LOGIN.OLVIDO_PASS_LINK' | translate}}</span>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>
