page-login {

  .scroll-content {
    padding-bottom:0!important;
  }

  ion-content {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -10;
    background:transparent url('../assets/videos/poster_white.png') no-repeat 0 0;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
  }

  .mask {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -5;
    background: rgba(1,1,1,0.40);
    //background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.50) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    //background: linear-gradient(to top, rgba(0,0,0,0.50) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    //background: rgba(1,1,1,0.35);
  }

  .logo-container {
    text-align: center;
    padding-bottom: 20vh;
    img {
      width: 60vw;
    }
  }

  .login-box {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    padding-bottom: 20px;
    width: 100%;
  }

  .terms-conditions {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 10px 0px 10px 20px;
    p{
      margin-left:15px;
      padding-right:30px;
      font-size:14px;
      color:white;
      span {
        text-decoration:underline;
      }
    }
  }

  .inputs-container {
    padding-left:15px;
  }

  .recoverPassword {
    color: white;
    margin: 10px 0;
    font-size: map-get($font-sizes, descrip-mod) !important;
    padding-right: 40px;
  }

  .submitButton {
    color: map-get($colors, dark);
    background-color: white;
    font-weight: 500;
    margin-left: 15px;
    margin-right: 30px;
    width: 87%;
  }
  .eye {
    margin: 0 !important;
    padding-bottom: 5px;
    ion-icon {
      font-size: 2.5rem !important;
    }
  }

  ion-list {
    margin-bottom: 0 !important;
     ion-item {
      padding-left: 0 !important;
      background-color: transparent !important;
      color: white !important;
      font-size: map-get($font-sizes, texto) !important;
      border-top: none !important;
      ion-input.input {
        padding-left: 8px !important;
      }
     }
  }

}
