page-configurar-salida {
  ion-datetime.datetime{
    padding-left: 0 !important;
  }

  ion-list {
    background-color: white;
    padding-bottom: 44px;
    border-bottom: 2px solid map-get($colors,grey-medium-l);
    margin-bottom:0 !important;
  }

  .formTransfer ion-item {
    padding-left: 60px;
  }

  ion-select{
    max-width: 100% !important;

    .select-icon-inner {
      color: white !important;
    }
  }

  ion-label, ion-select, ion-datetime div.datetime-text{
    padding-left: 5px !important;
  }

  input.text-input, textarea.text-input {
    margin-left: 0 !important;
    padding-left: 5px !important;
  }

  .item-textarea .item-inner {
    border-bottom: none !important;
  }

  .disabled {
    color: map-get($colors, grey-light);
  }

  .contacto {
    padding: 10px 15px;
    p {
      text-align: center;
      font-size: map-get($font-sizes, descrip-mod) !important;
      color: map-get($colors, grey-medium) !important;
      margin-bottom: 6px;
    }
    button {
      width: 100%;
      span {
        font-size: map-get($font-sizes, texto) !important;
      }
    }
  }
  .aviso{
    text-align: center;
    font-size: map-get($font-sizes, descrip-mod);
    p {
      text-align: left;
      font-size: 13px;
      padding: 0 16px;
      color: map-get($colors, grey);
    }
  }
  .status{
    padding-left: 16px;
    margin-top: 40px;
    margin-bottom: -28px;
    text-align: left;
    font-weight: 600;
    font-size: 1.7rem;
    color: map-get($colors, dark);
  }
}
