<ion-header>
  <ion-navbar>
    <button ion-button menuToggle color="dark">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{(!configured) ? ('CONF_SALIDA.TITULO' | translate) : ('CONF_SALIDA.TITULO2' | translate)}}</ion-title>
    <ion-buttons end>
        <button ion-button color="blue" clear (click)="tappedSubmit()" [hidden]="configured" [disabled]="!llegadaForm.form.valid || (!form.hourOut && !form.transfer)">{{'CONF_SALIDA.HECHO' | translate}}</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <form #llegadaForm="ngForm">
    <ion-list>
      <ion-item>
        <img src="assets/icon/agenda-blue.png" class="icono-grande" item-left>
        <h2>{{checkOut.format("D MMMM YYYY")}}</h2>
      </ion-item>
      <ion-item [hidden]="configured && !form.hourOut">
        <img [src]="(form.hourOut) ? 'assets/icon/reloj-blue.png' : ((form.transfer) ? 'assets/icon/reloj-grey-light.png' : 'assets/icon/reloj-grey-medium-l.png')" class="icono-grande" item-left>
        <ion-label [hidden]="form.hourOut" color="grey-medium-l">{{'CONF_SALIDA.HORA_SALIDA_CLINICA' | translate}}</ion-label>
        <ion-datetime minuteValues="0,5,10,15,20,25,30,35,40,45,50,55" displayFormat="HH:mm" [(ngModel)]="form.hourOut" [ngModelOptions]="{standalone: true}" [required]="!form.transfer" [disabled]="form.transfer || configured" (ionChange)="changeDate()"></ion-datetime>
        <ion-icon name="arrow-dropdown" ios="md-arrow-dropdown" md="md-arrow-dropdown" item-right [color]="form.transfer ? 'grey-light' : 'grey'" [hidden]="configured"></ion-icon>
      </ion-item>
      <ion-item>
        <img [src]="(form.transfer) ? 'assets/icon/transfer-blue.png' : 'assets/icon/transfer-grey-medium-l.png'" class="icono-grande" item-left>
        <ion-label [color]="(form.transfer) ? ((!configured) ? 'dark' : 'grey-medium') : 'grey-medium-l'">{{'CONF_SALIDA.TRANSFER' | translate}}</ion-label>
        <ion-badge [color]="(form.transfer) ? 'blue' : 'grey-medium'" item-right>{{transferPrice}}</ion-badge>
        <ion-toggle [(ngModel)]="form.transfer" color="blue" [ngModelOptions]="{standalone: true}" (ionChange)="tappedTransfer($event)"></ion-toggle>
      </ion-item>
      <div class="formTransfer" [hidden]="!form.transfer">
        <ion-item>
          <img [src]="(form.place) ? 'assets/icon/localizador-blue.png' : 'assets/icon/localizador-grey-medium-l.png'" class="icono-grande" item-left>
          <ion-label [hidden]="form.place" color="grey-medium-l">{{'CONF_SALIDA.PLACE' | translate}}</ion-label>
          <ion-select name="place" [selectOptions]="{title:'CONF_SALIDA.PLACE' | translate}" okText="{{'CONF_SALIDA.ACEPTAR' | translate}}" cancelText="{{'CONF_SALIDA.CANCELAR' | translate}}" [(ngModel)]="form.place" [required]="form.transfer" [disabled]="configured" (ionChange)="changedTransferPlace($event)">
            <ion-option value="ALC Airport">{{'CONF_SALIDA.AEROPUERTO' | translate}} Alicante</ion-option>
            <ion-option value="VLC Airport">{{'CONF_SALIDA.AEROPUERTO' | translate}} Valencia</ion-option>
            <ion-option value="ALC Renfe">{{'CONF_SALIDA.TREN' | translate}} Alicante</ion-option>
            <ion-option value="VLC Renfe">{{'CONF_SALIDA.TREN' | translate}} Valencia</ion-option>
            <ion-option value="Otros">{{'CONF_SALIDA.OTROS' | translate}}</ion-option>
          </ion-select>
          <ion-icon name="arrow-dropdown" ios="md-arrow-dropdown" md="md-arrow-dropdown" item-right color="grey" [hidden]="configured"></ion-icon>
        </ion-item>

        <ion-item [hidden]="form.place == 'Otros' || configured && !form.code">
          <img [src]="(form.code) ? 'assets/icon/codigo-blue.png' : 'assets/icon/codigo-grey-medium-l.png'" class="icono-grande" item-left>
          <ion-input type="text" maxlength="10" placeholder="{{'CONF_LLEGADA.CODIGO' | translate}}" name="code" [(ngModel)]="form.code" [required]="form.transfer && !form.hourTransfer && form.place!='Otros'" [disabled]="configured"></ion-input>
        </ion-item>

        <ion-item [hidden]="configured && !form.hourTransfer">
          <img [src]="(form.hourTransfer) ? 'assets/icon/reloj-blue.png' : 'assets/icon/reloj-grey-medium-l.png'" class="icono-grande" item-left>
          <ion-label [hidden]="form.hourTransfer" color="grey-medium-l">{{'CONF_LLEGADA.HORA_RECOGIDA' | translate}}</ion-label>
          <ion-datetime minuteValues="0,5,10,15,20,25,30,35,40,45,50,55" displayFormat="HH:mm" [(ngModel)]="form.hourTransfer" [ngModelOptions]="{standalone: true}" [required]="form.transfer" [disabled]="configured"></ion-datetime>
          <ion-icon name="arrow-dropdown" ios="md-arrow-dropdown" md="md-arrow-dropdown" item-right color="grey" [hidden]="configured"></ion-icon>
        </ion-item>

        <ion-item [hidden]="configured && !form.people">
          <img [src]="(form.people) ? 'assets/icon/multiple-users-blue.png' : 'assets/icon/multiple-users-grey-medium-l.png'" class="icono-grande" item-left>
          <ion-label [hidden]="form.people" color="grey-medium-l">{{'CONF_LLEGADA.PERSONAS' | translate}}</ion-label>
          <ion-select name="people" [selectOptions]="{title:'CONF_LLEGADA.PERSONAS' | translate}" okText="{{'CONF_LLEGADA.ACEPTAR' | translate}}" cancelText="{{'CONF_LLEGADA.CANCELAR' | translate}}" [(ngModel)]="form.people" [required]="form.transfer" [disabled]="configured" (ionChange)="changedTransferPlace()">
            <ion-option value="1">1</ion-option>
            <ion-option value="2">2</ion-option>
            <ion-option value="3">3</ion-option>
            <ion-option value="4">4</ion-option>
            <ion-option value="5">5</ion-option>
            <ion-option value="6">6</ion-option>
            <ion-option value="7">7</ion-option>
          </ion-select>
          <ion-icon name="arrow-dropdown" ios="md-arrow-dropdown" md="md-arrow-dropdown" item-right color="grey" [hidden]="configured"></ion-icon>
        </ion-item>
        <ion-item>
          <img [src]="(form.comment) ? 'assets/icon/comentarios-blue.png' : 'assets/icon/comentarios-grey-medium-l.png'" class="icono-grande" item-left>
          <ion-textarea rows="3" maxlength="250" placeholder="{{'CONF_SALIDA.COMENTARIO' | translate}}" name="comment" [(ngModel)]="form.comment" [disabled]="configured"></ion-textarea>
        </ion-item>
      </div>
      <div class="status" *ngIf="configured">
        <span style="font-weight:normal">{{('CONF_LLEGADA.ESTADO_SOLICITUD' | translate)}}</span> {{form.status ? ('CONF_LLEGADA.ESTADO_TRANSFER_1' | translate) : ('CONF_LLEGADA.ESTADO_TRANSFER_0' | translate)}}
      </div>
    </ion-list>
  </form>
  <div class="aviso">
    <p *ngIf="!configured">{{'CONF_SALIDA.AVISO' | translate}}</p>
    <p *ngIf="configured">{{'CONF_SALIDA.AVISO2' | translate}}</p> 
  </div>
  <!--<div [hidden]="!configured" class="contacto">
    <p>{{'CONF_SALIDA.PREGUNTA_CAMBIO' | translate}}</p>
    <button ion-button round small color="blue" (click)="openActionSheet()">{{'CONF_SALIDA.BOTON_CONTACTAR' | translate}}</button>    
  </div>-->
</ion-content>
