page-ficha-detalles-programa {

  .img-container {
    position: relative;
    height: $header-images-height;
    img {
      max-height: $header-images-height;
      object-fit: cover;
      min-height: 100%;
      min-width: 100%;
      height: auto;
      width: auto;
    }
  }

  .info-container {
    background-color: white;
    padding: 20px;
    border-bottom: 2px solid map-get($colors, grey-medium-l);
    font-size: map-get($font-sizes, texto);
    line-height: 18px;
    ul {
      margin: 0;
      padding-left:30px;
      margin-top: 15px;
      li {
        padding:5px;
      }
    }
  }

  pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    line-height: 20px;
    margin-top:0;
  }

}
