<!--
  Generated template for the FichaDetallesProgramaPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{item.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="img-container">
    <img [src]="(cachedImages) ? (item.image) : (item.image + '?' + getRandom())" onError="this.src='assets/images/placeholders/no-image-program.jpg'" alt="">
  </div>
  <div class="info-container" *ngIf="treatments.indexOf('</') >= 0" [innerHtml]="treatments"></div>
  <pre class="info-container" *ngIf="treatments.indexOf('</') < 0">{{treatments}}</pre>
</ion-content>
