<ion-header no-border>
  <ion-navbar style="background:transparent !important;" no-shadow transparent>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <img class="img-bg" src="assets/images/placeholders/recovery-password.png" />
  <div class="mask"></div>
  <h1>{{'RECUP_PASSWD.TITULO' | translate}}</h1>
  <h2>{{'RECUP_PASSWD.SUBTITULO' | translate}}</h2>
  <form (ngSubmit)="submitForm()" #recoverPasswordForm="ngForm">
    <ion-row>
      <ion-col>
        <ion-list mode="ios">
          <ion-item>
            <ion-input type="text" placeholder="{{'LOGIN.EMAIL' | translate}}" name="email" [(ngModel)]="email" autocapitalize="none" required></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button class="submitButton" color="white" full round type="submit" [disabled]="!recoverPasswordForm.form.valid">{{'RECUP_PASSWD.ENVIAR' | translate}}</button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
