page-recuperar-password {

  ion-navbar.toolbar {
    background: transparent !important;
    .toolbar-background {
      background: transparent !important;
      border-bottom: none !important;
    }
    button {
      color: #ccc !important;
    }
  }

  ion-content {
    padding: 10px !important;
  }

  .img-bg {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -10;
    background:transparent url('../assets/videos/poster_white.png') no-repeat 0 0;
   -webkit-background-size:cover;
   -moz-background-size:cover;
   -o-background-size:cover;
   background-size:cover;
  }

  .mask {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -5;
    background: rgba(0,0,0,0.50); /* Chrome10-25,Safari5.1-6 */
    background: rgba(0,0,0,0.50); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    //background: rgba(1,1,1,0.35);
  }

  h1 {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    padding: 5px;
    margin-top: 70px !important;
  }

  h2 {
    color: white;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 5px;
    margin-top: 20px !important;
  }

  ion-list {
    margin-top: 20px !important;
    margin-bottom: 0 !important;
     ion-item {
      padding-left: 0 !important;
      background-color: transparent !important;
      color: white !important;
      font-size: map-get($font-sizes, texto) !important;
      border-top: none !important;
      ion-input.input {
        padding-left: 8px !important;
      }
    }
  }

  .submitButton {
    color: map-get($colors, dark);
    background-color: white;
    font-weight: 500;
    margin-top: 25px;
  }

}
