<ion-header>
  <ion-navbar>
    <button ion-button menuToggle color="dark">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'MI_LLEGADA.TITULO' | translate}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <slider-programs></slider-programs>
  <div class="information-container">
    <ion-row center text-center class="dates-container">
      <ion-col width-25 style="padding-right: 0;">
        <div class="month">{{checkIn.format('MMM').toUpperCase()}}</div>
        <div class="day_num">{{checkIn.format('DD')}}</div>
        <div class="day">{{checkIn.format('dddd')}}</div>
      </ion-col>
      <ion-col class="days" width-50>
      <ion-item>
        <img src="assets/icon/mi-llegada-grey.png" class="icono-pequeno" alt="" item-left>
        <div class="texto-days" text-center>{{numNights}} {{'MI_LLEGADA.NOCHES' | translate}}</div>
        <img src="assets/icon/mi-salida-grey.png" class="icono-pequeno" alt="" item-right>
      </ion-item>
      </ion-col>
      <ion-col width-25 style="padding-left: 0;">
        <div class="month">{{checkOut.format('MMM').toUpperCase()}}</div>
        <div class="day_num">{{checkOut.format('DD')}}</div>
        <div class="day">{{checkOut.format('dddd')}}</div>
      </ion-col>
    </ion-row>


    <div class="information-content">

      <ion-list mode="ios" *ngIf="userData.user.programs.length > 0">
        <ion-list-header mode="ios" (click)="showTapped('programs')" mode="ios">
          <img src="assets/icon/programs-blue.png" class="icono-grande" item-left>
          {{'MI_LLEGADA.PROGRAMA' | translate}}
          <ion-icon *ngIf="!showPrograms" ios="ios-add-circle-outline" md="ios-add-circle-outline" color="grey-medium" small item-right></ion-icon>
          <ion-icon *ngIf="showPrograms" ios="ios-remove-circle-outline" md="ios-remove-circle-outline" color="grey-medium" small item-right></ion-icon>
        </ion-list-header>
        <div *ngIf="showPrograms">
          <button ion-item detail-push mode="ios" (click)="openProgramDetails(program)" *ngFor="let program of userData.user.programs" style="font-size: 1.5rem !important">
            {{program.name}}
          </button>
        </div>
      </ion-list>

      <ion-list mode="ios">
        <ion-list-header mode="ios" (click)="showTapped('additionalTreatments')" mode="ios">
          <img src="assets/icon/tratamientos-blue.png" class="icono-grande" item-left>
          <span *ngIf="userData.user.programs.length > 0">{{'MI_LLEGADA.TRATAMIENTOS_ADICIONALES' | translate}}</span>
          <span *ngIf="userData.user.programs.length == 0">{{'MI_LLEGADA.TRATAMIENTOS' | translate}}</span>
          <ion-icon *ngIf="!showAdditionalTreatments" ios="ios-add-circle-outline" md="ios-add-circle-outline" color="grey-medium" small item-right></ion-icon>
          <ion-icon *ngIf="showAdditionalTreatments" ios="ios-remove-circle-outline" md="ios-remove-circle-outline" color="grey-medium" small item-right></ion-icon>
        </ion-list-header>
        <ion-item mode="ios" detail-none class="hideBorderItem" *ngIf="showAdditionalTreatments" text-wrap>
          <p *ngFor="let additionalTreatment of additionalTreatments">
            {{additionalTreatment.count}}x {{additionalTreatment.value}}
          </p>
          <p *ngIf="additionalTreatments.length == 0">
            {{'MI_LLEGADA.SIN_TRATAMIENTOS_ADICIONALES' | translate}}
          </p>
        </ion-item>
      </ion-list>

      <ion-list mode="ios">
        <ion-list-header mode="ios" detail-push (click)="agendaTapped()">
          <img src="assets/icon/agenda-blue.png" class="icono-grande" item-left>
          {{'ESTANCIA.VER_AGENDA' | translate}}
        </ion-list-header>
      </ion-list>

      <ion-list mode="ios">
        <ion-list-header mode="ios" (click)="showTapped('suite')" mode="ios">
          <img src="assets/icon/suite-blue.png" class="icono-grande" item-left>
          {{'MI_LLEGADA.SUITE' | translate}}
          <ion-icon *ngIf="!showSuite" ios="ios-add-circle-outline" md="ios-add-circle-outline" color="grey-medium" small item-right></ion-icon>
          <ion-icon *ngIf="showSuite" ios="ios-remove-circle-outline" md="ios-remove-circle-outline" color="grey-medium" small item-right></ion-icon>
        </ion-list-header>
        <ion-item mode="ios" *ngIf="showSuite" style="font-size: 1.5rem !important">
          {{userData.user.suite.name}}
        </ion-item>
      </ion-list>

      <ion-list mode="ios">
        <ion-list-header mode="ios" detail-push (click)="horariosTapped()" style="border-bottom: none">
          <img src="assets/icon/reloj-blue.png" class="icono-grande" item-left>
          {{'ESTANCIA.VER_HORARIOS' | translate}}
        </ion-list-header>
      </ion-list>

    </div>
  </div>

  <ion-list class="button_to_config" mode="ios" style="margin-bottom: 0;">
    <button ion-item detail-push (click)="openCuestionario()" mode="ios">
      <div class="seccion">
        {{'MI_LLEGADA.CUESTIONARIO_SALUD' | translate}}
      </div>
      <div class="descripcion-mod">
        {{'MI_LLEGADA.CUESTIONARIO_SALUD_SUBTITLE' | translate}}
      </div>
    </button>
  </ion-list>
  <ion-list class="button_to_config" mode="ios" [hidden]="!formMyArrivalConfig">
    <button ion-item detail-push (click)="openConfigLlegada()" mode="ios" [disabled]="!isTwoDaysBeforeCheckIn && !formMyArrivalConfig['configured']">
      <div class="seccion">
        {{buttonArrivalConfig.title}}
      </div>
      <div class="descripcion-mod">
        {{buttonArrivalConfig.subtitle}}
      </div>
    </button>
  </ion-list>

  <div class="contact">
    <button ion-button round small color="blue" (click)="openActionSheet()">{{'MI_LLEGADA.CONTACTAR_SHA' | translate}}</button>
  </div>

  <div class="open-maps" (click)="openMapsApp()">
    <img src="assets/icon/localizador-blue.png" class="icono-pequeno" item-left>
    <h3 color="blue">{{location.address}}</h3>
  </div>

</ion-content>
