page-mi-llegada {

  .information-container {
    padding: 26px 0 0 0;
    border-bottom: 2px solid map-get($colors, grey-medium-l);
    background-color: white;
    ion-item {
      border: 0 !important;
    }
    h2 {
      margin: 12px 0px 12px 20px;
      font-size: 1.6rem;
      font-weight: bold;
    }
    .dates-container {
      margin-bottom: 25px;
    }
    .titulares {
      margin: 5px 0;
    }
    .information-content {
      margin-top:10px;
      ion-list {
        &:last-child {
          margin-bottom:0;
        }
        ion-list-header {
          color: map-get($colors,grey);
          ion-icon {
            margin-right:14px;
          }
        }
        button, ion-item, p {
          font-size: 1.5rem !important;
          color: map-get($colors, dark);
          font-size: 13px !important;
        }
        button, ion-item {
          padding-left: 54px;
        }
        p {
          padding-top:2px;
          padding-bottom:2px;
          font-size: 15px !important;
        }
      }
    }

    ion-col {
      padding-top:0;
      padding-bottom:0;
    }

    .day {
      color: map-get($colors, grey);
      font-size: 1.3rem;
      text-transform: capitalize;
    }

    .day_num{
      color: map-get($colors, blue);
      font-size: 4.5rem;
    }

    .month {
      color: map-get($colors, grey);
      font-size: 1.3rem;
      text-transform: uppercase;
    }

    .days {
        padding: 0;
        .icono-pequeno {
          margin: 0;
        }
        .texto-days {
          font-size: 1.3rem;
          color: map-get($colors, grey);
          border-bottom: 1px solid map-get($colors, grey);
          padding-bottom: 2px;
          margin-bottom: 18px;
        }
        ion-item {
          padding: 0;
          .item-inner {
            padding: 0;
            border-bottom: 0;
            ion-label.label {
              margin: 0 5px;
            }
          }
        }
    }
  }

  .button_to_config {
    margin-top: 30px;
    margin-bottom: 30px;
    button {
      ion-label {
        margin-top: 6px;
        margin-bottom: 6px;
        white-space:normal !important;
      }
    }
    .seccion {
      font-weight: normal;
      letter-spacing: 0.1rem;
      font-size: 12px;
      font-weight: 500;
      text-transform: uppercase;
    }
    .descripcion-mod {
      font-size: 12px;      
    }
  }

  .contact {
    text-align:center;
    margin-bottom:18px;
    button {
      margin:2px auto;
      text-transform: uppercase !important;
    }
  }

  .open-maps {
    text-align:center;
    margin-bottom:30px;
    width:100%;
    padding:0 10px;
    img {
      display:inline-block;
      vertical-align:middle;
      margin:0;
    }
    h3 {
      display:inline-block;
      vertical-align:middle;
      font-size:1.3rem;
      white-space:normal;
    }
  }

}
