<ion-header>
  <ion-toolbar mode="ios">
    <ion-title>
      {{'POLICY.TITULO' | translate}}
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="blue" showWhen="ios">{{'POLICY.CANCELAR' | translate}}</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>

<pre>{{'POLICY.TEXTO' | translate}}</pre>

</ion-content>
