<!--
  Generated template for the FichaDetallesProgramaPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Newsletter - {{itemSection}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="img-container">
    <img [src]="(cachedImages) ? (item.image) : (item.image + '?' + getRandom())" onError="this.src='assets/images/placeholders/no-image-program.jpg'" alt="">
  </div>
  <h1>{{item.title}}</h1>
  <div class="info-container" *ngIf="item.description">
    <p [innerHtml]="item.description"></p>
    <ion-row no-padding *ngIf="item.url">
      <ion-col text-right>
        <button ion-button clear small color="blue" icon-start (click)="openUrl(item.url)">
          <img src="assets/icon/link-ext-blue.png" alt="" />
        </button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
