page-ficha-detalles-newsletter {

  .img-container {
    position: relative;
    height: $header-images-height;
    img {
      max-height: $header-images-height;
      object-fit: cover;
      min-height: 100%;
      min-width: 100%;
      height: auto;
      width: auto;
    }
  }

  .info-container {
    background-color: white;
    padding: 20px;
    border-bottom: 2px solid map-get($colors, grey-medium-l);
    text-align: left;
    p:first-of-type {
      margin-top: 0px;
    }
    button {
      padding:0px;

      img{
        width: auto;
        height: 26px;
      }
    }
  }

  h1 {
    font-size: 22px;
    font-weight: 500;
    padding:22px 22px 0 22px;
    margin: 0;
    background-color: white;
  }

}
