<ion-header>
  <ion-navbar>
    <button ion-button menuToggle color="dark">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'AGENDA.TITULO' | translate}}</ion-title>
    <ion-buttons [hidden]="finishedSchedule == 0" end>
        <button *ngIf="userData.user.fase != 'Sha'" ion-button color="blue" clear (click)="openActionSheet()"><img src="assets/icon/contact.png" height="22px" alt=""></button>

        <button *ngIf="userData.user.fase == 'Sha'" ion-button color="blue" clear (click)="comentar($event)">{{'AGENDA.COMENTAR' | translate}}</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content *ngIf="finishedSchedule != 0">
  <div #headerTag class="calendar" ion-fixed>
    <calendar-by-week [check_in]="userData.user.checkIn" [check_out]="userData.user.checkOut" (daySelected) = "dayChanged($event)"></calendar-by-week>
  </div>
  <div #scrollableTag class="list-appointments">
    <div class="day-bar">{{moment(daySelected, 'DD/MM/YYYY').locale(userData.user.lang).format('dddd[,] D MMMM')}}<span class="acciones" (click)="addTreatement($event)" [hidden]="userData.user.fase != 'Sha'">{{'AGENDA.ANADIR_TRATAMIENTO' | translate}}</span></div>
    <ion-list mode="md">
      <ion-item class="item" text-wrap *ngFor="let appointment of appointments" [@fadeInOut] text-wrap detail-push (click)="tappedAppointment(appointment)">
        <div class="img-container" item-left>
          <img [src]="(cachedImages) ? (appointment.image) : (appointment.image + '?' + getRandom())" onError="this.src='assets/images/placeholders/no-image.jpg'" alt=""> 
        </div>
        <div class="appointments-text">
          <div class="hours"><img src="assets/icon/reloj-blue.png" class="icono-pequeno" alt=""><span>{{appointment.start}} ({{moment(appointment.end,"HH:mm").diff(moment(appointment.start,"HH:mm"), 'minutes')}} {{'AGENDA.MINUTOS' | translate}})</span></div>
          <p class="name">{{appointment.name}}</p>
          <div class="tags">
            <span [hidden]="(appointment.type == 'included') || (appointment.price == '0€')">{{'AGENDA.ADICIONAL' | translate}}</span>
            <img src="assets/icon/alerta.png" alt="" [hidden]="!appointment.advice">
          </div>        
        </div>
      </ion-item>
      <div class="sin-contenido" [hidden]="!noAppointments" [@fadeInOut]>
        <span></span>
        <p>
          {{'AGENDA.NO_CITAS' | translate}}
        </p>
      </div>
      <div class="msg_disponibilidad" [hidden]="noAppointments">
        {{'AGENDA.DISPONIBILIDAD' | translate}}
      </div>
    </ion-list>
  </div>
</ion-content>

<ion-content *ngIf="finishedSchedule == 0" class="notCalendar">
  <div class="calendar-info">
    <img src="assets/icon/agenda-no-config.png" alt="">
    <h3 class="seccion">{{'AGENDA.NO_AGENDA_TITLE' | translate}}</h3>
    <p>{{'AGENDA.NO_AGENDA_MSG' | translate}}</p>
  </div>
  <div class="cuestionario-info" [hidden]="isCuestionario">
    <h3 class="seccion">{{'AGENDA.NO_CUESTIONARIO_SALUD_TITULO' | translate}}</h3>
    <p>{{'AGENDA.NO_CUESTIONARIO_SALUD_TEXTO' | translate}}</p>
    <button ion-button round color="blue" (click)="cuestionarioTapped()">{{'AGENDA.BOTON_NO_CUESTIONARIO' | translate}}</button>
  </div>
</ion-content>