page-agenda {

  .calendar {
    width: 100%;
    border-bottom: 1px solid #CFCFCF;
  }
  .list-appointments {
    .day-bar {
      position:relative;
      padding: 10px;
      padding-top: 20px;
      background: map-get($colors, grey-medium-l);
      font-size: map-get($font-sizes, texto);
      font-weight: 500;
      border-bottom: 2px solid #CFCFCF;
      .acciones {
        position:absolute;
        right: 10px;
        top:22px;
        font-size: map-get($font-sizes, descrip-mod);
      }
    }
    .item {
      border-bottom: 2px solid map-get($colors, grey-medium-l);
      padding-left:0;
      .img-container {
        align-self: flex-start;
        margin: 0;
        width: 100px;
        height: 100px;
        img {
          height: 100%;
          object-fit: cover;
        }
      }
      .appointments-text {
        padding-left:10px;
        .hours {
          font-size: map-get($font-sizes, descrip-mod);
          color: map-get($colors, dark);
          img {
            height: auto;
            width: 15px;
            margin-left: 0px;
          }
          img, span {
            display:inline-block;
            vertical-align: middle;
          }
        }
        .name {
          font-size: map-get($font-sizes, texto);
          color: map-get($colors, dark);
          font-weight: bold;
          min-height: 40px;
        }
        .tags {
          text-transform: uppercase;
          span {
            font-size: map-get($font-sizes, descrip-mod) - 0.3 !important;
            display: inline-block;
            vertical-align: middle;
            margin-right: 4px;
            padding: 2px 10px;
            font-weight: normal !important;
            color: map-get($colors, blue);
            border: 1px solid map-get($colors, blue);
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            border-radius: 30px;
          }
          img {
            height: 20px;
            vertical-align: middle;
          }
        }
      }
    }
  }

  .contacto {
    padding: 10px 15px;
    p {
      text-align: center;
      font-size: map-get($font-sizes, descrip-mod) !important;
      color: map-get($colors, grey-medium) !important;
      margin-bottom: 6px;
    }
    button {
      margin-top:15px;
      width: 100%;
      span {
        font-size: map-get($font-sizes, texto) !important;
      }
    }
  }

  .msg_disponibilidad {
    padding: 15px;
    color: map-get($colors, grey-medium);
    font-size: map-get($font-sizes, descrip-mod);
    text-align: left;
  }

  ion-list {
    margin:0 !important;
    .item-inner {
      border: 0 !important;
    }
  }
  ion-label.label{
    margin: 0px !important;
    margin-right: 5px !important;
  }

  .notCalendar > * {
    background-color: map-get($colors, blue-light) !important;

    .info-content {
      align-self: flex-start !important;
      text-align: center;
    }
    .cuestionario-content {
      align-self: flex-end !important;
      text-align: center !important;
    }
  }

  .notCalendar > * {
    background-color: map-get($colors, blue-light) !important;
    .calendar-info {
      text-align: center;
      margin: 90px auto;
      margin-bottom: 40px;
      max-width: 280px;
      word-wrap: break-word;
      img {
        height: 25vh;
      }
      h3 {
        margin-top: 40px;
      }
      p {
        font-text: map-get($font-sizes, descrip-mod);
      }
    }
    .cuestionario-info {
      text-align: center;
      margin: 0 auto;
      margin-bottom: 30px;
      max-width: 280px;
      word-wrap: break-word;
      h3 {
        margin: 0 auto;
        max-width: 250px;
      }
      p {
        font-text: map-get($font-sizes, descrip-mod);
      }
    }
  }

}
