<ion-header>
  <ion-navbar>
    <button ion-button menuToggle color="dark">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="showTitle">{{treatment.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="img-container">
    <div class="mask" [hidden]="(treatment.videoId == '')"><span (click)="openVideo()">{{'TRATAMIENTO.VER_VIDEO' | translate}}</span></div>
    <img [src]="(cachedImages) ? (treatment.image) : (treatment.image + '?' + getRandom())" onError="this.src='assets/images/placeholders/no-image.jpg'" alt="">
  </div>
  <div class="info-container">
    <h1 class="titulares">{{treatment.name}}</h1>
    <div class="listado"><img src="assets/icon/reloj-blue.png" class="icono-pequeno" alt=""><span>{{treatment.duration}} {{'AGENDA.MINUTOS' | translate}}</span></div>
    <p class="descripcion-mod">{{treatment.brief}}</p>
    <form #treatmentForm="ngForm">
      <ion-list [hidden]="!(showDisponibilidad)">
        <ion-item>
          <img src="assets/icon/agenda-blue.png" class="icono-pequeno" item-left>
          <ion-select #selectDay placeholder="{{'TRATAMIENTO.FECHA' | translate}}" name="day" [selectOptions]="{title:'TRATAMIENTO.FECHA' | translate}" okText="{{'TRATAMIENTO.ACEPTAR' | translate}}" cancelText="{{'TRATAMIENTO.CANCELAR' | translate}}" [(ngModel)]="form.day" (ionChange)="getSelectFormHours()" required>
            <ion-option [value]="day" *ngFor="let day of arrayDays">{{getDayFormated(day)}}</ion-option>
          </ion-select>
          <ion-icon name="arrow-dropdown" ios="ios-arrow-down" md="ios-arrow-down" item-right color="grey"></ion-icon>
        </ion-item>
        <ion-item>
          <img src="assets/icon/reloj-blue.png" class="icono-pequeno" item-left>
          <ion-select #selectHour placeholder="{{'TRATAMIENTO.HORARIO' | translate}}" name="hour" [selectOptions]="{title:'TRATAMIENTO.HORARIO' | translate}" okText="{{'TRATAMIENTO.ACEPTAR' | translate}}" cancelText="{{'TRATAMIENTO.CANCELAR' | translate}}" [(ngModel)]="form.hour" required>
            <ion-option [value]="item" *ngFor="let item of arrayAvailability">{{item.start}} ({{treatment.duration}} {{'AGENDA.MINUTOS' | translate}})</ion-option>
          </ion-select>
          <ion-icon name="arrow-dropdown" ios="ios-arrow-down" md="ios-arrow-down" item-right color="grey"></ion-icon>
        </ion-item>
        <ion-item [hidden]="true">
          <img src="assets/icon/localizador-blue.png" class="icono-pequeno" item-left>
          <ion-label>{{form.room}}</ion-label>
        </ion-item>
      </ion-list>
    </form>
    <pre>{{treatment.description}}</pre>
  </div>
</ion-content>

<ion-footer *ngIf="(userData.user.fase != 'postSha')">
  <ion-row center>
    <ion-col text-left>
      <h1 class="titulares">{{treatment.price}}</h1>
      <p class="descripcion-mod">{{'TRATAMIENTO.POR_SESION' | translate}}</p>
    </ion-col>
    <ion-col text-right *ngIf="(userData.user.fase == 'Sha') && (treatment.notScheduled != 1)">
      <button ion-button color="blue" round (click)="submitForm()" [disabled]="showDisponibilidad && (showDisponibilidad && !this.form.hour.start)" [innerHTML]="showDisponibilidad ? ('TRATAMIENTO.ANADIR' | translate) : ('TRATAMIENTO.CONSULTAR_DISPONIBILIDAD' | translate)"></button>
    </ion-col>
  </ion-row>
</ion-footer>
