page-ficha-tratamiento {

  form {
    ion-list.list {
      background-color: white;
      margin: 20px 0px;
      padding-left: 0px;
      border: none;
    }
    ion-item {
      border: none !important;
      padding: 0 !important;
      font-size: map-get($font-sizes, texto) - 0.1 !important;
      .item-inner {
        border: none !important;
      }
      img {
        margin-right: 8px !important;
      }
      ion-label {
        margin:0 !important;
      }
      ion-select{
        max-width: 100% !important;
        padding-top: 14px !important;
        padding-left: 0 !important;
        .select-icon-inner {
          color: white !important;
        }
      }
      ion-icon{
        padding-top: 5px !important;
        font-size: 20px !important;
      }
    }
  }

  iframe {
    z-index:10;
  }
  
  h1 {
    font-size: 22px !important;
  }

  p, h1 {
    margin: 0;
  }

  div.scroll-content {
    background-color: white !important;
  }

  .img-container {
    position: relative;
    height: 160px;
    img {
      max-height: 160px;
      object-fit: cover;
      min-height: 100%;
      min-width: 100%;
      height: auto;
      width: auto;
    }
    .mask {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 100%;
      min-width: 100%;
      height: auto;
      width: auto;
      background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.70) 0%, rgba(0,0,0,0.50) 15%, rgba(0,0,0,0) 25%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to top, rgba(0,0,0,0.70) 0%, rgba(0,0,0,0.50) 15%, rgba(0,0,0,0) 25%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      z-index: 2;
      span {
        position: absolute;
        bottom: 0;
        right: 0;
        color: white;
        padding: 12px 20px;
        font-size: map-get($font-sizes, seccion);
        font-weight: 500;
      }
    }
  }

  .listado {
    margin-top: 20px;
    display: flex;
    align-items: center;
    img {
      margin-left: 0;
    }
  }

  .info-container {
    background-color: white;
    padding: 0 20px;
    pre {
      margin: 20px 0;
      text-align: left;
      white-space: pre-wrap;
    }
    h1 {
      padding-top: 25px;
    }
  }


  ion-footer{
    border-top: 2px solid map-get($colors,grey-medium-l);
    ion-row {
      padding: 8px 20px;
      ion-col {
        padding: 0;
        button {
          span.button-inner {
            font-size: map-get($font-sizes, texto);
          }
        }
      }
    }
    button:disabled {
      color: map-get($colors, grey-medium-l);
      background-color: map-get($colors, grey-medium);;
    }
  }
}

ion-alert {
  .alert-radio-label {
    font-size: 13px;
  }
}

//Estilos del alert
.custom-alert {
  .alert-head {
    border-bottom: 1px solid map-get($colors,grey-medium-l);
  }
  .alert-title {
    p {
      font-size: map-get($font-sizes, descrip-mod);
      font-weight: normal;
    }
  }
  .alert-message {
    text-align: left;
    padding: 21px 8px;
    img, span {
      display:inline-block;
      vertical-align: middle;
    }
  }
}
