page-cuestionario-satisfaccion {

  .header_empty {
    .toolbar-background {
      border:none !important;
      background-color:white !important;
    }
  }

  .scrollContentNotMargin {
    .scroll-content, .fixed-content {
      margin-top:0px !important;
    }
  }

  .scrollContentMargin {
    .scroll-content, .fixed-content {
      margin-top:22px !important;
    }
  }

  .notAvailable, .available {
    background-color: map-get($colors, blue-light) !important;
    .container {
      margin-top: 60px;
      display: flex;
      overflow:auto;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 80px 20px;
      img {
        height: 120px;
        margin-bottom: 40px;
      }
      p{
        max-width:200px;
        font-size: 14px;
        margin: 14px 0;
        strong {
          font-weight: 500;
        }
        &.p_first {
          max-width:200px;
          font-size: 16px;
          font-weight: 500;
        }
      }
    }
  }

  .available {
    background-color: white !important;
    ion-slide {
      background-color:white;
      overflow: auto;
      &.questions {
        overflow: hidden;
      }
      .container {
        padding:20px;
        img {
          margin-bottom: 34px;
        }
        .firma {
          height:50px;
          margin-top:14px;
          margin-bottom:10px;
          &__text {
            display:block;
            font-size:12px;
            &.strong {
              font-weight:600;
            }
          }
        }
        button {
          margin-top:48px;
        }
      } 
      .tutorial {
        margin:16px;
        padding:20px;
        height:96%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p {
          margin-top:30px;
          font-size:16px;
        }
      }
      .slide-zoom {
        height:100%;
      }
      .slide-container{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .container {
          padding-top: 40px;
          p {
            max-width:250px;
          }  
        }
        .slideHeader {
          background-color: map-get($colors, grey-light);
          padding: 10px 7px 18px 7px;
          position: fixed;
          top:0;
          z-index: 1000;
          width: 100%;
          .titleBar {
            display:flex;
            justify-content: space-between;
            align-items: center;
            ion-icon {
              font-size:34px;
              line-heigth:34px;
              padding: 0 7px;
              color: map-get($colors, grey);
            }
            h1 {
              margin:0;
              padding:0 5px;
              font-size: 18px;
              font-weight:500;
            }
            img {
              max-height: 40px;
              padding: 0 7px;
            }
          }
          .progressBar {
            &__text {
              margin:0;
              color: map-get($colors, grey-medium);
              font-size: 14px;
            }
            .range {
              margin-top: -20px;
              padding: 7px !important;
            }
            .range-slider {
              height: 28px;
            }
            .range-knob-handle {
              display:none;
            }
            .range-bar {
              height: 5px;
              border-radius: 20px;
              background: #e2e2e2;
            }
            .range-bar-active {
              background: map-get($colors, primary);
            }
            .range-disabled {
                opacity: 1;
            }
          }
        }
        .slideQuestions {
          margin-top: 107px;
          padding: 0 14px;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          overflow: auto;
          .questionsContainer {
            .itemQ {
              border-top: 1px solid map-get($colors, grey-light);
              padding:26px 0;
              font-size:16px;
              line-height:22px;
              &:first-child {
                border-top: none;
              }
              &__entero {
                .question {
                  display:flex;
                  justify-content: space-between;
                  align-items: center;
                  &__name {
                    margin:0;
                    text-align:left;
                    padding-right:16px;
                    &-careteam {
                      padding-left:16px;
                      .avatar {
                        margin: 0 auto;
                        width: 70px;
                        height: 70px;
                        border: 4px solid white;
                        border-radius: 50%;
                        object-fit: cover;
                        vertical-align:middle;
                      }
                      .texto {
                        display: inline-block;
                        font-size: 14px;
                        vertical-align:middle;
                        padding-left:5px;
                        line-height:18px;
                        p {
                          margin:0;
                          text-align:left;
                          &:first-child {
                            text-transform:uppercase;
                            font-weight:500;
                          }
                        }
                      }
                    }
                  }
                  &__eval {
                    margin:0;
                    width:60px;
                    padding-left:8px;
                    span {
                      float:right;
                      font-size:20px;
                      line-height:40px;
                      height:40px;
                      width:40px;
                      display:block;
                      border-radius:50%;
                      border: 1px solid map-get($colors, blue);
                      background-color:white;
                      color: white;
                      &.color12 {
                         background-color: #a73f3e;
                         border: none;
                      }
                      &.color34 {
                         background-color: #e67b58;
                         border: none;
                      }
                      &.color56 {
                         background-color: #cbca45;
                         border: none;
                      }
                      &.color78 {
                         background-color: #8eac5e;
                         border: none;
                      }
                      &.color910 {
                         background-color: #618d5e;
                         border: none;
                      }
                    }
                  }
                }
                ion-range {
                  padding-bottom:0;
                  padding-top:10px;
                  .range-bar {
                    height: 5px;
                    border-radius: 20px;
                    background-color: map-get($colors, grey-light);
                  }
                  .range-bar-active {
                    background: map-get($colors, primary);
                  }
                  .range-knob {
                    background-color: map-get($colors, grey-light);
                    border: 8px solid white;
                  }
                }
              }
              &__sn {
                text-align:left;
                .question__name {
                    margin-top:0;
                }
              }
              &__comentario {
                button {
                  color:white;
                  z-index:2;
                  padding-top: 4px;
                  padding-bottom: 4px;
                  .button-inner {
                    white-space: normal;
                    line-height:20px;
                  }
                  &.button-ios {
                    min-height:2em;
                    height: auto;
                  }
                }
                img {
                  z-index:2;
                  position:relative;
                  margin-top:-2px;
                  width:28px;
                }
                ion-textarea {
                  border: 1px solid map-get($colors, blue);
                  border-radius:20px;
                  margin-top:-20px;
                  padding:30px 20px 20px 20px;
                  margin-bottom: 30px;
                  .text-input {
                    padding:0;
                    margin:0;
                  }
                }
              }
              &__texto {
                text-align:left;
                .question__name {
                    margin-top:0;
                }
                ion-textarea {
                  border: 1px solid map-get($colors, blue);
                  border-radius:20px;
                  padding:20px;
                  .text-input {
                    padding:0;
                    margin:0;
                  }
                }                
              }
              &__titulo {
                .question__name {
                  margin: 0;
                  margin-bottom: -18px;
                  font-size: 18px
                }
              }
            }
          }
        }
      }
      .slidePositivo, .slideNeutro, .slideNegativo {
        font-size:14px;
        img {
          margin:35px 0 20px 0;
          height:150px;
        }
        p {
          margin: 15px auto;
          width:300px;
          line-height:20px;
          &.gracias{
            font-size:18px;
            width:220px;
            color: map-get($colors,blue);
            font-weight:500;
          }
        }
        .descuento_block, .contactar_block {
          background-color: map-get($colors,grey-light);
          padding:20px 16px;
          margin-top: 20px;
          p {
            font-weight:500;
            margin: 0 auto;
            padding:0;
          }
          .condiciones {
            color: map-get($colors,blue);
            margin-top: 15px;
            text-align:right;
            text-transform:uppercase;
            font-size:12px;
          }
        }
        .tripadvisor_block {
          margin-top:20px;
          margin-bottom:10px;
          text-align:center;
          img {
            display:block;
            margin: 15px auto;
            height: 44px;
          }
          button {
            height: 1.9em;
            font-size:14px;
            display: block;
            margin: 0 auto;
          }
        }   
      }
    }

    .radio_block {
      margin-top:20px;
      span {
        vertical-align: middle;
        margin-right:20px;
        font-size:18px;
        text-transform:uppercase;
      }
      ion-radio{
        margin-right:5px;
        vertical-align: middle;
        .radio-icon {
          border-width: 1px;
          width: 24px;
          height: 24px;
          .radio-inner {
            top: 4px;
            left: 4px;
            width: 14px;
            height: 14px;
          }
        }
      }
    }

    .nextButton {
      background-color: map-get($colors, blue);
      color: white;
      text-transform: uppercase;
      padding: 16px;
      font-size: 17px;
      font-weight:400;
      margin:30px -14px 0 -14px;
    }

    .swiper-slide {
        display: block;
    }

    .scroll-content { 
      padding-bottom: 0!important; 
    }

    .slide-header-ios {
      padding-top: 40px;
    }

  }


}
