<ion-header [hidden]="hideHeader || availableCuestionario == undefined" *ngIf="(availableCuestionario && !isSentCuestionario && !cuestionarioExpired)" class="header_empty">
  <ion-navbar>
    <button ion-button menuToggle color="dark" (click)="tappedMenu()">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>

<ion-header [hidden]="availableCuestionario == undefined" *ngIf="!(availableCuestionario && !isSentCuestionario && !cuestionarioExpired)">
  <ion-navbar>
    <button ion-button menuToggle color="dark">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'CUESTIONARIO_SATISFACCION.TITULO' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content *ngIf="availableCuestionario == undefined">
</ion-content>


<ion-content *ngIf="availableCuestionario != undefined && !availableCuestionario && !isSentCuestionario && !cuestionarioExpired" class="notAvailable">
  <div class="container">
    <img [src]="url_icons + 'bocadillo.png'" alt="">
    <p class="p_first" [innerHtml]="'CUESTIONARIO_SATISFACCION.NO_CUESTIONARIO_P1' | translate"></p>
    <p [innerHtml]="'CUESTIONARIO_SATISFACCION.NO_CUESTIONARIO_P2' | translate"></p>
    <p [innerHtml]="'CUESTIONARIO_SATISFACCION.NO_CUESTIONARIO_P3' | translate"></p>
  </div>
</ion-content>


<ion-content *ngIf="availableCuestionario != undefined && isSentCuestionario && !cuestionarioExpired" class="notAvailable">
  <div class="container">
    <img [src]="url_icons + 'encuesta.png'" alt="">
    <p style="max-width:134px;" class="p_first" [innerHtml]="'CUESTIONARIO_SATISFACCION.CUESTIONARIO_ENVIADO_P1' | translate"></p>
    <p style="max-width:230px;" [innerHtml]="'CUESTIONARIO_SATISFACCION.CUESTIONARIO_ENVIADO_P2' | translate"></p>
  </div>
</ion-content>


<ion-content *ngIf="availableCuestionario != undefined && cuestionarioExpired" class="notAvailable">
  <div class="container">
    <img [src]="url_icons + 'reloj-arena.png'" alt="">
    <p [innerHtml]="'CUESTIONARIO_SATISFACCION.CUESTIONARIO_EXPIRADO_P1' | translate"></p>
    <p [innerHtml]="'CUESTIONARIO_SATISFACCION.CUESTIONARIO_EXPIRADO_P2' | translate"></p>
  </div>
</ion-content>


<ion-content *ngIf="availableCuestionario != undefined && availableCuestionario && !isSentCuestionario && !cuestionarioExpired" class="available" [ngClass]="{'scrollContentMargin': platform.is('ios'),
                                                       'scrollContentNotMargin': !platform.is('ios')}">

  <ion-slides #Slides [options]="sliderOptions" [ngStyle]="{
                                'height': (platform.is('ios') && keyboard.isOpen()) ? 'auto' : '100%'
                              }">
    <ion-slide>
      <div class="container">
        <img [src]="url_icons + 'check_active.svg'" alt="">
        <p class="p_first" color="blue" [innerHtml]="'CUESTIONARIO_SATISFACCION.CUESTIONARIO_P0' | translate:{name: userData.user.name}"></p>
        <p [innerHtml]="'CUESTIONARIO_SATISFACCION.CUESTIONARIO_P1' | translate"></p>
        <p [innerHtml]="'CUESTIONARIO_SATISFACCION.CUESTIONARIO_P2' | translate"></p>
        <p [innerHtml]="'CUESTIONARIO_SATISFACCION.CUESTIONARIO_P3' | translate"></p>
        <img class="firma" [src]="url_icons + 'firma.svg'" alt="">
        <span class="firma__text strong">Alfredo Bataller Parietti</span>
        <span class="firma__text">{{'CUESTIONARIO_SATISFACCION.PRESIDENTE' | translate}}</span>
        <button ion-button color="blue" round (click)="next()">{{'CUESTIONARIO_SATISFACCION.COMENZAR' | translate}}</button>
      </div>
    </ion-slide>
    <ion-slide (click)="next()">
      <p style="text-align:right;font-size:14px;padding-right:36px;margin-top: 60px;" color="blue">{{'CUESTIONARIO_SATISFACCION.SALTAR' | translate}}</p>
      <div class="tutorial">
        <img src="assets/images/cuestionario_satisfaccion/numeros.svg">
        <p>{{'CUESTIONARIO_SATISFACCION.TUTORIAL' | translate}}</p>
      </div>
    </ion-slide>
    <ng-container *ngFor="let block of blocks; let i = index" >
      <ion-slide *ngIf="block.visible == 1" class="questions">
        <div class="slide-container">
          <div class="slideHeader" [ngStyle]="{ 'padding-top': platform.is('ios') ? '22px' : '' }">
            <div class="titleBar">
              <ion-icon name="arrow-back" (click)="prev(block.id)"></ion-icon>
              <h1>{{ block.title }}</h1>
              <img [src]="url_icons + '/blocks/' + (i + 1) + '.svg'" alt="">
            </div>
            <div class="progressBar">
              <ion-range mode="ios" [ngModel]="i" color="primary" pin="false" min="0" max="{{ blocks.length }}" disabled="true"></ion-range>
              <p class="progressBar__text">{{ i }} {{'CUESTIONARIO_SATISFACCION.DE' | translate}} {{ blocks.length }} {{'CUESTIONARIO_SATISFACCION.COMPLETADO' | translate}}</p>
            </div>
          </div>
          <div class="slideQuestions" [ngStyle]="{ 'padding-top': platform.is('ios') ? '22px' : '' }">
            <div class="questionsContainer">
              <div class="itemQ" *ngFor="let question of block.questions" [hidden]="(question.visible == 0) || (question.dependencyId && !(form[question.dependencyId] == question.dependencyIdEnableTo))" [ngStyle]="{ 
              'border-top': (question.type == 'titulo') || (question.type == 'texto') && (question.isComment == 0) ? 'none' : '',
              'padding-top': (question.type == 'texto') && (question.isComment == 0) ? '0px' : '' }">

                  <div *ngIf="question.type == 'entero'" class="itemQ__entero">
                    <div class="question">
                      <p *ngIf="block.id != 1" class="question__name">{{ question.name }}</p>
                      <div *ngIf="block.id == 1" class="question__name-careteam">
                        <div>
                          <img [src]="careTeam[question.id] ? careTeam[question.id]['image'] : ''" class="avatar" onError="this.src='assets/images/placeholders/no-image-program.jpg'" alt="">
                          <div class="texto">
                            <p [innerHtml]="careTeam[question.id] ? careTeam[question.id]['name'] : ''"></p>
                            <p>{{ question.name }}</p>
                          </div>
                        </div>
                      </div>
                      <p class="question__eval">
                        <span [ngClass]="{
                                          'color12': form[question.id] < 3, 
                                          'color34': form[question.id] > 2 && form[question.id] < 5, 
                                          'color56': form[question.id] > 4 && form[question.id] < 7, 
                                          'color78': form[question.id] > 6 && form[question.id] < 9, 
                                          'color910': form[question.id] > 8
                                        }">
                           {{ form[question.id] }}
                        </span>
                      </p>
                    </div>
                    <ion-range mode="ios" [ngModel]="5" pin="false" min="1" max="10" (ionChange)="checkCommentOfBlock($event, block.id, question.id)"></ion-range>                
                  </div>

                  <div *ngIf="question.type == 'sn'" class="itemQ__sn">
                      <p class="question__name">{{ question.name }}</p>
                      <div class="radio_block" radio-group [(ngModel)]="form[question.id]" (ionChange)="changeRadioButton($event, block.id, question.id)">
                        <ion-radio value="si" mode="md" color="blue" checked></ion-radio><span>{{ 'CUESTIONARIO_SATISFACCION.SI' | translate }}</span>
                        <ion-radio value="no" mode="md" color="blue"></ion-radio><span>{{ 'CUESTIONARIO_SATISFACCION.NO' | translate }}</span>
                      </div>            
                  </div>


                  <div *ngIf="question.type == 'titulo'" class="itemQ__titulo">
                      <p class="question__name" [ngStyle]="{
                                          'font-size':block.id == 1 ? '14px' : '',
                                          'text-align':block.id == 1 ? 'left' : '',
                                          'line-height':block.id == 1 ? '18px' : '',
                                          'margin-bottom':block.id == 1 ? '5px' : ''
                      }">{{ question.name }}</p>         
                  </div>

                  <div *ngIf="(question.type == 'texto') && (question.isComment == 0)" class="itemQ__texto">
                      <ion-textarea rows="2" maxLength="250" [(ngModel)]="form[question.id]" [placeholder]="question.name"></ion-textarea>           
                  </div>

                  <div *ngIf="(question.type == 'texto') && (question.isComment == 1)" class="itemQ__comentario">
                      <button mode="ios" ion-button round color="blue" [hidden]="negativeEvaluation" (click)="tappedCommentBtn()" text-wrap>{{ question.name }}</button>
                      <img src="assets/images/cuestionario_satisfaccion/exclamacion.png" [hidden]="!negativeEvaluation">
                      <ion-textarea [hidden]="!showComment && !form[question.id]" rows="5" maxLength="250" [(ngModel)]="form[question.id]" [placeholder]="negativeEvaluation ? ('CUESTIONARIO_SATISFACCION.PLACEHOLDER_COMENTARIO' | translate) : ''"></ion-textarea>
                  </div>

              </div>              
            </div>
            <div *ngIf="i < blocks.length - 1" class="nextButton" (click)="next(block.id)">{{ 'CUESTIONARIO_SATISFACCION.SIGUIENTE' | translate }}</div>
            <div *ngIf="i == blocks.length - 1" class="nextButton" (click)="save()">{{ 'CUESTIONARIO_SATISFACCION.FINALIZAR' | translate }}</div>  
          </div>      
        </div>
      </ion-slide>
    </ng-container>
    <ion-slide *ngIf="resultadoEncuesta == 'positivo'">
      <div class="slide-container slidePositivo">
        <img src="assets/images/cuestionario_satisfaccion/logo.svg">
        <p class="gracias">{{ 'CUESTIONARIO_SATISFACCION.POSITIVO_P0' | translate }}</p>
        <p>{{ 'CUESTIONARIO_SATISFACCION.POSITIVO_P1' | translate }}</p>
        <p>{{ 'CUESTIONARIO_SATISFACCION.POSITIVO_P1_1' | translate }}</p>
        <p>{{ 'CUESTIONARIO_SATISFACCION.POSITIVO_P2' | translate }}</p>
        <div class="descuento_block" [hidden]="userData.user.fase != 'Sha'">
          <p>{{ 'CUESTIONARIO_SATISFACCION.POSITIVO_P3' | translate }}</p>
          <p class="condiciones" (click)="tappedCondiciones()">{{ 'CUESTIONARIO_SATISFACCION.MAS_INFO' | translate }} <ion-icon color="blue" ios="ios-add-circle-outline" md="md-add-circle"></ion-icon></p>
        </div>
        <div class="tripadvisor_block" (click)="tappedTripadvisor()">
          <p>{{ 'CUESTIONARIO_SATISFACCION.POSITIVO_P4' | translate }}</p>
          <img src="assets/images/cuestionario_satisfaccion/tripadvisor.png">
          <button ion-button color="green" round>{{ 'CUESTIONARIO_SATISFACCION.RESENA' | translate }}</button>
        </div>
        <div class="nextButton" (click)="tappedCerrar()">{{ 'CUESTIONARIO_SATISFACCION.CERRAR' | translate }}</div>
      </div>
    </ion-slide>
    <ion-slide *ngIf="resultadoEncuesta == 'neutro'">
      <div class="slide-container slideNeutro">
        <img src="assets/images/cuestionario_satisfaccion/logo.svg">
        <p class="gracias">{{ 'CUESTIONARIO_SATISFACCION.NEUTRO_P0' | translate }}</p>
        <p>{{ 'CUESTIONARIO_SATISFACCION.NEUTRO_P1' | translate }}</p>
        <p>{{ 'CUESTIONARIO_SATISFACCION.POSITIVO_P2' | translate }}</p>
        <div class="descuento_block" [hidden]="userData.user.fase != 'Sha'">
          <p>{{ 'CUESTIONARIO_SATISFACCION.POSITIVO_P3' | translate }}</p>
          <p class="condiciones" (click)="tappedCondiciones()">{{ 'CUESTIONARIO_SATISFACCION.MAS_INFO' | translate }} <ion-icon color="blue" ios="ios-add-circle-outline" md="md-add-circle"></ion-icon></p>
        </div>
        <div class="nextButton" (click)="tappedCerrar()">{{ 'CUESTIONARIO_SATISFACCION.CERRAR' | translate }}</div>
      </div>
    </ion-slide>
    <ion-slide *ngIf="resultadoEncuesta == 'negativo'">
      <div class="slide-container slideNegativo">
        <img src="assets/images/cuestionario_satisfaccion/logo.svg">
        <p class="gracias">{{ 'CUESTIONARIO_SATISFACCION.NEGATIVO_P0' | translate }}</p>
        <p>{{ 'CUESTIONARIO_SATISFACCION.NEGATIVO_P1' | translate }}</p>
        <div class="contactar_block">
          <p>{{ 'CUESTIONARIO_SATISFACCION.NEGATIVO_P2' | translate }}</p>
          <div class="radio_block" radio-group [(ngModel)]="contactar">
            <ion-radio value="si" mode="md" color="blue" checked></ion-radio><span>{{ 'CUESTIONARIO_SATISFACCION.SI' | translate }}</span>
            <ion-radio value="no" mode="md" color="blue"></ion-radio><span>{{ 'CUESTIONARIO_SATISFACCION.NO' | translate }}</span>
          </div> 
        </div>
        <div class="nextButton" (click)="tappedContactar()">{{ 'CUESTIONARIO_SATISFACCION.ENVIAR' | translate }}</div>
      </div>
    </ion-slide>
  </ion-slides>

</ion-content>