page-categorias-tratamientos {

  .card-background-page {

    ion-card {
      position: relative;
      text-align: center;
      border-radius: 10px;
    }

    .card-title {
      position: absolute;
      top: 0;
      padding: 0 16px;
      width: 100%;
      height: 100%;
      display: flex;
      display: -webkit-flex;
      justify-content: center;
      -webkit-justify-content: center;
      align-items: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      div p {
        font-size: map-get($font-sizes, titulares);
        font-weight: bold;
        color: map-get($colors, dark);
        &:last-of-type {
          font-size: map-get($font-sizes, texto);   
          font-weight: 500;       
        }
      }
    }

    img {
      opacity: 0.45;
    }

  }


}
