<ion-header>
  <ion-navbar>
    <button ion-button menuToggle color="dark">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'CATEGORIAS.TITULO' | translate}}</ion-title>
    <ion-buttons end *ngIf="userData.user.fase == 'Sha'">
      <button ion-button color="blue" clear (click)="openActionSheet()"><img src="assets/icon/contact.png" height="22px" alt=""></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="card-background-page">
  <ion-card *ngFor="let category of categories" (tap)="categoryTapped($event, category)" >
    <img [src]="(cachedImages) ? (category.image) : (category.image + '?' + getRandom())" onError="this.src='assets/images/placeholders/no-image.jpg'"/>
    <div class="card-title"><div><p>{{category.name}}</p><p>{{category.description}}</p></div></div>
  </ion-card>
</ion-content>
