slider-resumen-estancia {
  .img-container {
    position: relative;
    height: 160px;
    .image {
      background: white !important;
      img {
        height: 160px;
        object-fit: cover;
        min-width: 100%;
        width: auto;
        //filter: blur(5px) grayscale(100%);
        //-webkit-filter: blur(5px) grayscale(100%);
      }
    }
    .mask {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 100%;
      min-width: 100%;
      height: auto;
      width: auto;
      background: rgba(0,0,0,0.70);
      z-index: 2;
      span {
        position: absolute;
        bottom: 0;
        left: 0;
        color: white;
        padding: 12px 20px;
        font-size: map-get($font-sizes, titulares) - 0.3;
        font-weight: 500;
        text-transform: capitalize;
      }
    }
  }
  .swiper-pagination {
    top:15px;
    bottom:inherit;
  }
  span.swiper-pagination-bullet {
    color: map-get($colors, dark);
  }
  .swiper-pagination-bullet-active {
    background: rgba(255,255,255,0.70);
  }
  .data-container {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 3;
    color: white;
    ion-row {
      .avatar {
        margin: 0 auto;
        width: 85px;
        height: 85px;
        background-size: cover;
        background-position: center;
        border-radius: 50%;
        border: 4px solid white;
      }
      .data {
        display: flex;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        justify-content: center;
        img {
          height: 25px;
          margin: 5px;
          align-self: center;
        }
        p {
          margin:5px 5px;
          font-size: map-get($font-sizes, texto);
        }
        .right {
          text-align: right;
        }
        .day {
          text-transform: uppercase;
          font-weight: bold;
          font-size: map-get($font-sizes, texto) + 0.2;
        }
      }
      .data-out {
        justify-content: center;
      }
    }
  }
}
