<ion-slides class="img-container" [options]="slideOptions" *ngIf="stay.programs.length > 1">
  <ion-slide *ngFor="let program of stay.programs" style="margin:0;padding:0">
    <div class="mask"></div>
    <div class="image">
      <img [src]="program.image" onError="this.src='assets/images/placeholders/no-image-program.jpg'" alt=""> 
    </div>
  </ion-slide>
</ion-slides>
<div class="img-container" *ngIf="stay.programs.length == 1">
  <div class="mask"></div>
  <div class="image"> 
    <img [src]="stay.programs[0].image" onError="this.src='assets/images/placeholders/no-image-program.jpg'" alt="">
  </div> 
</div>
<div class="img-container" *ngIf="stay.programs.length == 0">
  <div class="mask"></div>
  <div class="image">
    <img src="assets/images/placeholders/without_program.jpg" alt="">
  </div> 
</div>
<div class="data-container">
  <ion-row center>
    <ion-col>
      <div class="data">
        <img src="assets/icon/mi-llegada-white.png" alt="">
        <div>
          <p class ="year">{{moment(stay.checkIn,'DD/MM/YYYY').year()}}</p>
          <p class ="day">{{moment(stay.checkIn,'DD/MM/YYYY').locale(userData.user.lang).format('DD MMM')}}</p>
        </div>
      </div>
    </ion-col>
    <ion-col [hidden]="true">
      <div class="avatar" [ngStyle]="{'background-image': (userData.user.image!='') ? 'url('+ userData.user.image +')' : 'url(assets/icon/icono-usuario-dark.png)', 'border': (userData.user.image=='') ? '0' : '4px solid white'}"></div>
    </ion-col>
    <ion-col>
      <div class="data data-out">
        <div>
          <p class ="right">{{moment(stay.checkOut,'DD/MM/YYYY').year()}}</p>
          <p class ="day right">{{moment(stay.checkOut,'DD/MM/YYYY').locale(userData.user.lang).format('DD MMM')}}</p>
        </div>
        <img src="assets/icon/mi-salida-white.png" alt="">
      </div>
    </ion-col>
  </ion-row>
</div>