<ion-header>
  <ion-navbar>
    <ion-title>{{'CAMBIAR_CONTRASENA.TITULO' | translate}}</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="blue">{{'CAMBIAR_CONTRASENA.CANCELAR' | translate}}</span>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button (click)="submit()" [disabled]="!formPassword.form.valid">
        <span ion-text color="blue">{{'CAMBIAR_CONTRASENA.CAMBIAR' | translate}}</span>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <form #formPassword="ngForm">
    <ion-list mode="ios">
      <ion-item>
        <ion-label>{{'CAMBIAR_CONTRASENA.ACTUAL' | translate}}</ion-label>
        <ion-input type="password" [(ngModel)]="form.actual" name="actual" required></ion-input>
      </ion-item>
    </ion-list>
    <ion-list mode="ios">
      <ion-item>
        <ion-label>{{'CAMBIAR_CONTRASENA.NUEVA' | translate}}</ion-label>
        <ion-input type="password" [(ngModel)]="form.new" name="new" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>{{'CAMBIAR_CONTRASENA.REPETIR' | translate}}</ion-label>
        <ion-input type="password" [(ngModel)]="form.new_bis" name="new_bis" required></ion-input>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
