page-cita {

  .image-container {
    background-color: white;
    position: relative;
    height: 160px;
    img {
      max-height: 160px;
      object-fit: cover;
      min-height: 100%;
      min-width: 100%;
      height: auto;
      width: auto;
    }
    .mask {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 100%;
      min-width: 100%;
      height: auto;
      width: auto;
      background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.70) 0%, rgba(0,0,0,0.50) 15%, rgba(0,0,0,0) 25%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to top, rgba(0,0,0,0.70) 0%, rgba(0,0,0,0.50) 15%, rgba(0,0,0,0) 25%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      z-index: 2;
      span {
        position: absolute;
        bottom: 0;
        right: 0;
        color: white;
        padding: 12px 20px;
        font-size: map-get($font-sizes, seccion);
        font-weight: 500;
      }
    }
  }
  .container {
    background-color: white;
    border-bottom: 2px solid map-get($colors,grey-medium-l);
    padding: 20px;
    .descripcion {
      color: map-get($colors,grey);
      font-size: 13px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  h1 {
    margin: 0;
    padding-top: 25px;
    margin-bottom: 10px;
  }

  .listado {
    font-size: map-get($font-sizes, descrip-mod) + 0.1;
    img, span {
      display:inline-block;
      vertical-align: middle;
    }
  }

  .icono-pequeno {
    margin-left: 0;
  }

  .advice, .type {
    margin: 10px 0;
    display: flex;
    align-items: center;
    font-size: map-get($font-sizes, descrip-mod);
    color: map-get($colors, grey-medium);
    span {
      padding-left: 5px;
    }
  }

  .advice{
    img {
      height: 20px;
    }
    pre {
      display:inline-block;
      white-space: pre-wrap;       /* css-3 */
      white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
      white-space: -pre-wrap;      /* Opera 4-6 */
      white-space: -o-pre-wrap;    /* Opera 7 */
      word-wrap: break-word;       /* Internet Explorer 5.5+ */
      padding-left: 5px;
    }
  }


  .type{
    margin-right: 4px;
    ion-badge {
      text-transform: uppercase;
      font-size: map-get($font-sizes, descrip-mod) - 0.2 !important;
      font-weight: normal !important;
      color: map-get($colors, blue);
      border: 1px solid map-get($colors, blue);
    }
  }

  .descripcion {
    font-size:map-get($font-sizes, descrip-mod) + 0.1 !important;
    text-align: left;
  }

  ion-row {
    margin-top: 40px;
    padding-top: 0;
    .seccion {
      font-weight: normal;
    }
    ion-col {
      padding: 0;
      span {
        margin-right: 5px;
        display:inline-block;
        vertical-align: middle;
      }

      ion-toggle {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}
