<ion-header>
  <ion-navbar>
    <button ion-button menuToggle color="dark">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{cita.name}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <div class="image-container">
    <div class="mask" [hidden]="(cita.videoId == '')"><span (click)="openVideo()">{{'TRATAMIENTO.VER_VIDEO' | translate}}</span></div>
    <img [src]="(cachedImages) ? (cita.image) : (cita.image + '?' + getRandom())" onError="this.src='assets/images/placeholders/no-image.jpg'" class="image-treatment" alt="">
  </div>
  <div class="container">
    <div class="listado descripcion-ico">
      <div *ngIf="cita.room"><img src="assets/icon/localizador-blue.png" class="icono-pequeno" alt=""><span>{{cita.room}}</span></div>
      <div><img src="assets/icon/agenda-blue.png" class="icono-pequeno" alt=""><span>{{day}}</span></div>
      <div><img src="assets/icon/reloj-blue.png" class="icono-pequeno" alt=""><span>{{cita.start}} ({{moment(cita.end,"HH:mm").diff(moment(cita.start,"HH:mm"), 'minutes')}} {{'AGENDA.MINUTOS' | translate}})</span></div>
      <!--<div *ngIf="cita.doctor.name" (click)="doctorTapped()"><img src="assets/icon/doctor-blue.png" class="icono-pequeno" alt=""><span color="blue">{{cita.doctor.name}}</span></div>-->
      <div class="advice" [hidden]="!cita.advice">
        <img src="assets/icon/alerta.png" alt="">
        <pre style="display:inline-block" [innerHtml]="cita.advice"></pre>
      </div>
      <div class="type" [hidden]="(cita.type == 'included') || (cita.price == '0€')">
        <ion-badge color="white" mode="ios">{{'AGENDA.ADICIONAL' | translate}}</ion-badge>
      </div>
    </div>
    <p class="descripcion">{{cita.description}}</p>
    <ion-row center *ngIf="showReminder">
      <ion-col class="seccion" width-33>{{'CITA.AVISARME' | translate}}</ion-col>
      <ion-col text-right width-67>
        <span class="descripcion-mod" [ngClass]="{'descripcion-ico': notificar}">{{advice}} {{'CITA.ANTES' | translate}}</span> <ion-toggle [checked]="notificar" color="blue" (ionChange)="toggleButtonTapped($event)"></ion-toggle>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
