<ion-header>
  <ion-navbar>
    <button ion-button menuToggle color="dark">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{item.name}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <div class="img-container">
    <img [src]="image" alt="" onError="this.src='assets/images/placeholders/no-image.jpg'" alt="">
  </div>
  <p class="info-container" [innerHTML]="item.description"></p>
</ion-content>
