page-ficha-instalacion-horarios {
  .img-container {
    position: relative;
    height: $header-images-height;
    img {
      max-height: $header-images-height;
      object-fit: cover;
      min-height: 100%;
      min-width: 100%;
      height: auto;
      width: auto;
    }
  }

  .info-container {
    background-color: white;
    padding: 20px;
    border-bottom: 2px solid map-get($colors, grey-medium-l);
    font-size: 14px;
    text-align: left;
    color: map-get($colors, grey);
    margin:0;
    line-height: 18px;
  }
}
