
<div class="calendar" >
  <ion-slides #mySlider (ionDidChange)="onSlideChanged($event)" [options]="slideOptions">
    <ion-slide *ngFor="let monthObj of months">
      <ion-row class="month-row" center>
        <ion-col width-10 (click)="slider.slidePrev(500)">
            <ion-icon ios="ios-arrow-back" md="ios-arrow-back"></ion-icon>
        </ion-col>
        <ion-col width-80 class="text-center">
          {{monthObj.selectedMonth.format("MMMM YYYY")}}
        </ion-col>
        <ion-col width-10 (click)="slider.slideNext(500)">
            <ion-icon ios="ios-arrow-forward" md="ios-arrow-forward"></ion-icon>
        </ion-col>
      </ion-row>

      <div class="day-grid">
        <ion-row class="text-center week-row">
          <ion-col *ngFor="let weekName of weekNames">
            <span>{{weekName}}</span>
          </ion-col>
        </ion-row>

        <ion-row class="text-center day-row" *ngFor="let week of monthObj.weeks" center>
            <template [ngIf]="week.days" >
              <ion-col class="day-col" *ngFor="let day of week.days" 
                [ngClass]="{
                  'stay': day.isBetween(checkIn, checkOut),
                  'stayStart-col': day.isSame(checkIn),
                  'stayEnd-col': day.isSame(checkOut)
                }">
                <div class="day-cell"
                  (click)="select(monthObj,day)"
                  [ngClass]="{
                    'weekend': ((day.days() % 6) === 0),
                    'non-current-month': !(day.month() === monthObj.selectedMonth.month()),
                    'stayStart': day.isSame(checkIn),
                    'stayEnd': day.isSame(checkOut),
                    'today': day.isSame(today,'day'),
                    'selected': day.isSame(selectedDate, 'day')
                }">
                  {{day.date()}}
                </div>
              </ion-col>
            </template>
        </ion-row>
      </div>
    </ion-slide>
  </ion-slides>

  <ion-row class="day-bar" center>
    <ion-col>
      <h5 ion-text class="seccion">{{selectedDate.format('ddd[,] D MMM')}}</h5>
    </ion-col>
    <ion-col text-right>
      <span class="acciones" (click)="addTreatement($event)" [hidden]="userData.user.fase === 'preSha'">{{'AGENDA.ANADIR_TRATAMIENTO' | translate}}</span>
    </ion-col>     
  </ion-row>

  <div class="list-citas">
    <div class="cita-box" >
      <ion-list mode="ios">
        <button ion-item *ngFor="let cita of citas" detail-push (click)="citaTapped($event, cita)">
          <ion-row center>
            <ion-col width-20>
              <p ion-text class="descripcion" color="dark">{{cita.start | to12hour}}</p>
              <p ion-text class="descripcion" color="grey-medium">{{cita.end | to12hour}}</p>
            </ion-col>
            <ion-col width-80>
              <h2 ion-text class="seccion" color="grey">{{cita.name.toLowerCase()}}</h2>
              <p ion-text class="descripcion" color="grey-medium">{{cita.description}}</p>            
            </ion-col>
          </ion-row>
        </button>
      </ion-list>
    </div>
  </div>
</div>