
calendar {
  $calBaseColor: map-get($colors,white);
  $calDarkColor: map-get($colors,dark);
  $calTextColor:map-get($colors,dark);
  $calSelectedDayColor: map-get($colors,blue);
  $calTodayColor: map-get($colors,blue);
  $calMonthHeaderBgColor:$calBaseColor;
  $calWeekHeaderBgColor:$calBaseColor;
  $calDayCellBgColor: $calBaseColor;
  $stayColor:map-get($colors,blue-light);
  $dateHolidayBgColor:$calBaseColor;
  $dateWeekendColor: map-get($colors,grey-medium);
  $dateNonCurrentMonthColor: map-get($colors,grey-medium-l);

  .calendar {
    
    .swiper-container.swiper-container-horizontal {
      background-color: white !important;
    }

    ion-grid {
      padding:0;
    }

    ion-row {
      padding-left:0;
      padding-right:0;
    }

    button.item-block.item.item-ios,
    button.item-block.item.item-md {
      padding-left: 0;
    }

    ion-label.label.label-ios,
    ion-label.label.label-md {
      margin: 0px;
      margin-right: 5px;
    }

    .day-grid {
      background-color: white;
      padding-bottom: 6px;
    }
    

    .month-row {
      background-color:$calMonthHeaderBgColor;
      color:$calSelectedDayColor;
      font-size:map-get($font-sizes,texto);
      border-bottom:solid 1px $dateNonCurrentMonthColor;

    }
    .week-row {
      background-color:$calWeekHeaderBgColor !important;
      color:$calTextColor;
      font-size:12px;
      padding-top: 8px;

    }

    .day-row button {
      color:$calTextColor !important;
      position:relative;
    }

    .day-col {
      background-color: none !important;
      /*border:solid 1px $calBaseColor;*/
      margin:6px 0 !important;
      padding: 0;
      height: 36px;
    }

    .day-col:hover,
    .day-col:active  {
      cursor: pointer;
    }

    .day-cell {      
      border: 2px solid transparent;
      margin: 0 auto;
      line-height: 32px;
      width: 36px;
    }

    .today {
        background-color: none;
        color: $calTodayColor !important;
        border-radius: 50% !important;
        border-color: $calTodayColor;
     }


    .selected {
      background-color: $calSelectedDayColor !important;
      color: white !important;
      border-radius: 50% !important;
      border-color: $calSelectedDayColor;
    }

    .stay {
      background-color:$stayColor;
    }

    .stayStart-col {
      background: -webkit-linear-gradient(90deg, transparent 50%, $stayColor 50%);
      background: -moz-linear-gradient(90deg, transparent 50%, $stayColor 50%);
      background: -o-linear-gradient(90deg, transparent 50%, $stayColor 50%);
      background: linear-gradient(90deg, transparent 50%, $stayColor 50%);
    }

    .stayEnd-col {
      background: -webkit-linear-gradient(90deg, $stayColor 50%, transparent 50%);
      background: -moz-linear-gradient(90deg, $stayColor 50%, transparent 50%);
      background: -o-linear-gradient(90deg, $stayColor 50%, transparent 50%);
      background: linear-gradient(90deg, $stayColor 50%, transparent 50%);
    }

    .stayStart {
      border-radius:50% 0 0 50%;
      background-color:$stayColor;
    }

    .stayEnd {
      border-radius:0 50% 50% 0;
      background-color:$stayColor;     
    }

    .weekend {
      color: $dateWeekendColor;
      /*box-shadow:none !important;*/
    }

    .non-current-month {
      color: $dateNonCurrentMonthColor;
    }


    .holiday {
      background-color: $dateHolidayBgColor;
      box-shadow:none !important;
    }


    .day-bar {
      height: 55px;
      margin: 0;
      margin-bottom: 1px;
      padding:0 5px;
      background-color: map-get($colors, grey-light) !important;
      border-bottom: 2px solid map-get($colors, grey-medium-l);
      
      h5 {
        margin:0;
      }
    }


    .list-citas {
      position:relative;
      background-color: $dateNonCurrentMonthColor !important;
    }

    .cita-box {

      .item {
        background-color: white;
      }

      button {
        
        ion-col:first-child {
          max-width: 83px;
          text-align: center;
        }

        ion-col:last-child {
          border-left: 2px solid map-get($colors, blue);
        }

        h2 {
          font-weight: 500;
          font-size: map-get($font-sizes, texto);
          text-transform: capitalize;

        }
        p {
          font-size: map-get($font-sizes, descrip-mod);
        }
      }
    }

    button:first-child {
      border-top: none !important;
    }

  }
}

