// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
@import "ionic.globals";



// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:      #A39382,
  white:        #fff,
  dark:         #404545,
  grey:         #75787B,
  grey-medium:  #999,
  grey-medium-l:#e2e2e2,
  grey-light:   #f8f8f8,
  blue:         #A39382,
  blue-light:   #D6D2C4,
  yellow:       #F6B036,
  red:          #CC0000,
  green:        #16A750
);



// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$text-color:        map-get($colors, dark);
$background-color:  map-get($colors, white);

$font-family-base: "Helvetica Neue", sans-serif;

$toolbar-background: map-get($colors,grey-light);
$toolbar-border-color: map-get($colors,grey-medium);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

$toast-ios-background: rgba(0, 0, 0, .85);
$action-sheet-ios-button-text-color: map-get($colors, blue);

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

//desactiva UI validación de inputs en Android
$text-input-md-show-focus-highlight: false;

$toast-md-background: rgba(0, 0, 0, .85);
$action-sheet-md-button-text-color: map-get($colors, blue);


// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

$ionicons-font-path: "../assets/fonts";
@import "ionicons";
