<ion-header>
  <ion-navbar>
    <button ion-button menuToggle color="dark">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'ACADEMY.TITULO' | translate}}</ion-title>
    <ion-buttons end>
      <button ion-button color="blue" clear (click)="goToToday()">{{'ACADEMY.HOY' | translate}}</button>
      <button ion-button color="blue" clear (click)="openActionSheet()"><img src="assets/icon/contact.png" height="22px" alt=""></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div #headerTag class="calendar" ion-fixed>
    <calendar-by-week [check_in]="userData.user.checkIn" [check_out]="userData.user.checkOut" (daySelected) = "dayChanged($event)"></calendar-by-week>
  </div>
  <div #scrollableTag class="list-activities">
    <div class="day-bar">{{moment(daySelected, 'DD/MM/YYYY').locale(userData.user.lang).format('dddd[,] D MMMM')}}</div>
    <ion-list mode="md">
      <ion-item mode="ios" class="item" text-wrap *ngFor="let activity of activitiesToShow" (click)="openActivityDetails(activity)" [@fadeInOut] detail-push>
        <div class="img-container" item-left>
          <img [src]="(cachedImages) ? (activity.image) : (activity.image + '?' + getRandom())" onError="this.src='assets/images/placeholders/no-image.jpg'" alt=""> 
        </div>
        <div class="activities-text">
          <p class="name">{{activity.name}}</p>
          <p class="level">{{activity.level}}</p>
          <div class="place" [hidden]="activity.place == ''">
            <img src="assets/icon/localizador-blue.png" alt="">
            <span>{{activity.place}}</span>
          </div>
          <div class="hours">
            <img src="assets/icon/reloj-blue.png" alt="">
            <span>{{activity.hourIn}} ({{((moment(activity.hourOut,"HH:mm").diff(moment(activity.hourIn,"HH:mm"), 'minutes')) < 0) ? (moment(activity.hourOut,"HH:mm").diff(moment(activity.hourIn,"HH:mm"), 'minutes') + 24*60) : (moment(activity.hourOut,"HH:mm").diff(moment(activity.hourIn,"HH:mm"), 'minutes')) }} {{'AGENDA.MINUTOS' | translate}})</span>
          </div>         
        </div>
      </ion-item>
      <div class="sin-contenido" [hidden]="!noActivitiesToShow" [@fadeInOut]>
        <span></span>
        <p>
          {{'ACADEMY.NO_ACTIVITIES' | translate}}
        </p>
      </div>
    </ion-list>
  </div>
</ion-content>
