page-sha-academy {
  .calendar {
    width: 100%;
    border-bottom: 1px solid #CFCFCF;
  }
  .list-activities {
    .day-bar {
      padding: 10px;
      padding-top: 20px;
      background: map-get($colors, grey-medium-l);
      font-size: map-get($font-sizes, texto);
      font-weight: 500;
      border-bottom: 2px solid #CFCFCF;
    }
    .item {
      border-bottom: 2px solid map-get($colors, grey-medium-l);
      padding-left:0;
      .img-container {
        align-self: flex-start;
        margin: 0;
        width: 110px;
        height: 110px;
        img {
          height: 100%;
          object-fit: cover;
        }
      }
      .activities-text {
        padding:5px;
        padding-right:0;
        p {
          margin: 5px;
          color: map-get($colors, dark);
        }
        .level {
          font-size: map-get($font-sizes, descrip-mod);
          color: map-get($colors, grey-medium);
        }
        .name {
          font-size: map-get($font-sizes, texto);
          font-weight: bold;
          margin-bottom: 10px;
        }
        .place, .hours {
          display: flex;
          align-items: center;
          margin: 5px;
          img {
            height:auto;
            width:15px;
            &.icono-pequeno {
              margin:0px;
            }
          }
          span {
            font-size: map-get($font-sizes, descrip-mod);
            margin-left: 5px;
            line-height: 1.1em;
          }
        }
      }      
    }
  }
  ion-list {
    margin:0 !important;
    .item-inner {
      border: 0 !important;
    }
  }
  ion-label.label{
    margin: 0px !important;
    margin-right: 5px !important;
  }
}
