<ion-header>
  <ion-navbar>
    <button ion-button menuToggle color="dark">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'CATEGORIA_SHAFIRE.TITULO' | translate}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <div class="content-text">
    <p>{{'CATEGORIA_SHAFIRE.PRIMER_PARRAFO' | translate}}</p>
    <p *ngIf="userData.user.shafire.points && userData.user.shafire.points.split(',')[0] > 0">{{'CATEGORIA_SHAFIRE.SEGUNDO_PARRAFO' | translate:params}}</p>
    <ul class="beneficts-list" *ngIf="userData.user.shafire.points && userData.user.shafire.points.split(',')[0] > 0">
      <li *ngFor="let item of userData.user.shafire.description">{{item}}</li>
    </ul>
    <ul class="footer_description" *ngIf="userData.user.shafire.points && userData.user.shafire.points.split(',')[0] > 0">
      <li *ngFor="let item2 of userData.user.shafire.footer">{{item2}}</li>
    </ul>
  </div>
  <div class="contacto">
    <p>{{'CATEGORIA_SHAFIRE.TEXTO_CONSULTA' | translate}}</p>
    <button *ngIf="userData.user.shafire.points && userData.user.shafire.points.split(',')[0] > 0" ion-button round small color="blue" (click)="openConditionsPage()">{{'CATEGORIA_SHAFIRE.TEXTO_BOTON' | translate}}</button>     
    <button *ngIf="userData.user.shafire.points && userData.user.shafire.points.split(',')[0] == 0" ion-button round small color="blue" (click)="openPrivilegedPage()">{{'CATEGORIA_SHAFIRE.TEXTO_BOTON2' | translate}}</button>    
  </div>
</ion-content>
