page-ficha-categoria-shafire {
  p {
    margin:0;
    margin-bottom: 14px;
  }

  ul {
    &.beneficts-list {
      padding-left: 30px;
      li {
        font-size: map-get($font-sizes, texto);
        font-weight: 500;
        color: map-get($colors, dark);
        padding: 6px 0;
      }
    }

    &.footer_description {
      margin-top: 30px;
      padding-left:0px;
      margin-left:0px;
      li {
        list-style-type: none;
        color: map-get($colors, grey-medium);
        padding: 5px 0;
      }
    }
  }

  .content-text {
    padding: 16px;
    border-bottom: 2px solid map-get($colors, grey-medium-l);
    background-color: white;
    p {
      line-height: 16px;
    }
  }

  .contacto {
    padding: 10px 15px;
    p {
      text-align: center;
      font-size: map-get($font-sizes, descrip-mod) !important;
      color: map-get($colors, grey-medium) !important;
      margin-bottom: 6px;
    }
    button {
      margin-top:15px;
      width: 100%;
      span {
        font-size: map-get($font-sizes, texto) !important;
      }
    }
  }

}
