<ion-menu id="menu" side="left" [content]="content">
  <ion-content style="background-color: white !important;">
    <div color="white" class="img-menu" text-center>
      <img src="assets/icon/logo-bg.png">
    </div>
    <ion-list mode="ios">
      <button class="button-menu" menuClose ion-item *ngFor="let p of pages; let i = index" (click)="openPage(p.component)" detail-none>
        <img class="icono-grande" [src]="(checkPageActive(p.component)) ? 'assets/icon/'+p.icon+'-blue.png' : 'assets/icon/'+p.icon+'-dark.png'">
        <span [class.activeHighlight]="checkPageActive(p.component)">{{p.title | translate}}</span>
        <ion-badge [hidden]="badge === 0" *ngIf="(p.icon === 'notificaciones')" color="blue" item-right>{{badge}}</ion-badge>
      </button>
    </ion-list>
    <div class="reservar" *ngIf="userData.user.fase == 'postSha'">
      <p>{{'MENU.NUEVA_ESTANCIA' | translate}}</p>
      <button ion-button small round color="blue" (click)="reservarTapped()">{{'MENU.RESERVAR_AHORA' | translate}}</button>    
    </div>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>