// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

$font-sizes: (
  titulares:    2.4rem,
  seccion:      1.6rem,
  texto:        1.5rem,
  acciones:     1.5rem,
  descrip-mod:  1.3rem,
  descrip-ico:  1.3rem  
);

$header-images-height: 26vh;


@font-face {
  font-family: 'HelveticaNeue';
  src: url('../assets/fonts/HelveticaNeueLTStd-Lt.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../assets/fonts/HelveticaNeueLTStd-LtIt.otf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../assets/fonts/HelveticaNeueLTStd-Rg.otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../assets/fonts/HelveticaNeueLTStd-RgIt.otf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../assets/fonts/HelveticaNeueLTStd-Md.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../assets/fonts/HelveticaNeueLTStd-MdIt.otf');
  font-weight: bold;
  font-style: italic;
}


//** Estilos Textos **
.titulares {
  font-size: map-get($font-sizes, titulares);
  font-weight: 500;
  color: map-get($colors, dark);
}

.seccion {
  font-size: map-get($font-sizes, seccion);
  font-weight: bold;
  color: map-get($colors, dark);
}

.texto {
  font-size: map-get($font-sizes, texto);
  font-weight: normal;
  color: map-get($colors, dark);
}

.acciones {
  font-size: map-get($font-sizes, acciones);
  font-weight: 500;
  color: map-get($colors, blue);
}

.descripcion-mod {
  font-size: map-get($font-sizes, descrip-mod);
  font-weight: normal;
  color: map-get($colors, grey-medium);
}

.descripcion-ico {
  font-size: map-get($font-sizes, descrip-ico);
  font-weight: normal;
  color: map-get($colors, dark);
}

.descripcion-ico-acciones {
  font-size: map-get($font-sizes, descrip-mod);
  color: map-get($colors, blue);
}
//*****

//*** Estilos iconos
.icono-pequeno {
  width: 18px;
  margin: 6px;
  height: 18px;
}

.icono-grande {
  width: 22px;
  margin: 0 5px 0 12px;
  height: 22px;
}

.icono-usuario {
  width: 36px;
  margin: 0 5px 0 12px;
  height: 36px;
  object-fit: cover;
  border-radius: 50%;
}
//*****

.img-menu {
  border-bottom: 2px solid map-get($colors, grey-medium-l);
  padding: 10px 0;
  text-align:center;
  img {
    height: auto; 
    width: 114px;
  }
}

.button-menu {
  padding-left: 0 !important;
  background-color: map-get($colors, grey-light) !important;
  img {
    display:inline-block !important;
    vertical-align: middle !important;
  }
  span {
    display:inline-block !important;
    vertical-align: middle !important;
  }
}

.activeHighlight {
  font-weight: bold;
}

.nameUserText {
  font-size: 1.8rem;
}

.reservar {
  padding: 20px 10px;
  text-align: center;
  button span {
    font-size: 14px;
    font-weight: 500;
  }
}

/*
* {
  font-family: 'HelveticaNeue' !important;
}
*/

pre {
  font-family: "HelveticaNeue", "Helvetica Neue", "Roboto", sans-serif;
}

ion-content {
  background-color: map-get($colors, grey-light) !important;
}

//Quita el shadow del header en android
ion-header.header.header-md::after {
  background-image: none;
  background-color: transparent !important;
}

ion-header ion-navbar .toolbar-background {
  border-bottom: 2px map-get($colors,grey-medium-l) solid !important;
}

ion-header button.bar-button-default-ios {
  color: map-get($colors,grey);
}

/*
ion-header button {
  font-size: map-get($font-sizes, texto) !important;
}
*/

ion-list {
  button {
    border-color: map-get($colors, grey-medium-l) !important;
    .item-inner {
      border-color: map-get($colors, grey-medium-l) !important;
    }
  }
}

button:disabled {
  color: map-get($colors, grey-medium)
}

.text-input::-moz-placeholder {
  color: map-get($colors,grey-medium-l);
}

.text-input:-ms-input-placeholder {
  color: map-get($colors,grey-medium-l);
}

.text-input::-webkit-input-placeholder {
  color: map-get($colors,grey-medium-l);
}

.sin-contenido {
  text-align: center;
  font-size: map-get($font-sizes, descrip-mod);
  p {
    padding: 0 16px;
  }
  span {
    display: block;
    margin: 18px auto;
    width: 30px;
    border-bottom: 2px solid #333;
  }
}

.alert-radio-label {
  overflow: auto !important;
  white-space: normal !important;
}

ion-item.hideBorderItem > .item-inner{
  border-bottom: none !important;
}

.alert_cuestionario {
  ul {
    padding-left:16px;
    font-size:14px;
    list-style-type:circle;
    text-align:left;
    li {
      margin:8px 0;
    }
  }
  span {
    text-align:left;
    font-size:14px;
  }
}