page-ficha-consejo {
  .image {
    background-color: white;
    img {
      width: 100%;
    }
  }
  .content {
    padding: 0 20px 40px 20px;
    background-color: white;
    p.title {
      margin-top: 0;
      margin-bottom: 8px;
      padding-top: 18px;
      font-size: map-get($font-sizes, descrip-mod);
      color: map-get($colors, grey-medium);
    }
    h1 {
      margin: 0;
      padding-bottom: 20px;
      border-bottom: 3px solid map-get($colors, grey-medium-l);
      font-weight: 500;
    }
    .seccion {
      font-size: 18px;
    }
    .texto {
      padding-top: 20px;
      p {
        margin-top: 0;
      }    
      ul {
        margin: 0;
        padding-left: 20px;
        li {
          padding: 8px 0;
        }
        &.indent {
          padding-left: 20px;
          li {
            list-style: none;
            display: flex;
            .img-container {
              min-width: 60px;
              height: 30px;
              img {
                text-align: center;
                margin: 0 auto;
                height: 100%;
              }
              img.consejo1 {
                content:url("../assets/icon/consejo-1.png");
              }
              img.consejo2 {
                content:url("../assets/icon/consejo-2.png");
              }
              img.consejo3 {
                content:url("../assets/icon/consejo-3.png");
              }
              img.consejo4 {
                content:url("../assets/icon/consejo-4.png");
              }
              img.consejo5 {
                content:url("../assets/icon/consejo-5.png");
              }
            }
            span {
            }
          }
        }
      }
    }
  }
}
