<ion-header>
  <ion-navbar>
    <button ion-button menuToggle color="dark">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'CONSEJO.TITULO' | translate}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <div class="image">
    <img [src]="(cachedImages) ? (item.image) : (item.image + '?' + getRandom())" />  
  </div>
  <div class="content">
    <p class="title">{{item.title}}</p>
    <h1 class="titulares">{{item.description}}</h1>
    <div class="texto" [innerHtml]="item.content">
    </div>
  </div>
</ion-content>
