page-condiciones-uso {

  ol {
    padding:0;
    ul {
      li {
        font-size:13px;
        margin-bottom: 10px;
      }
    }
    & > li {
      margin-bottom: 40px;
      list-style-type: none;
    }
    p {
      font-size:13px;
    }
    h3 {
      font-size:15px;
      font-weight:600;
    }
    h4 {
      text-decoration:underline;
      font-style:italic;
      font-weight:500;
      font-size:14px;
    }
  }
  ion-content {
    background-color: white !important;
  }

}
