<ion-header>
  <ion-navbar>
    <button ion-button menuToggle color="dark">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{('CONDICIONES_USO.TITULO' | translate)}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

<div [innerHtml]="('CONDICIONES_USO.TEXT' | translate)"></div>

</ion-content>
