<ion-header>
  <ion-navbar>
    <button ion-button menuToggle color="dark">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'NOTIFICACIONES.TITULO' | translate}}</ion-title>
    <ion-buttons end *ngIf="userData.user.fase == 'Sha'">
      <button ion-button color="blue" clear (click)="openActionSheet()"><img src="assets/icon/contact.png" height="22px" alt=""></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <div *ngFor="let notification of arrayNotifications">
    <ion-card class="meteo-card" *ngIf="(notification.data.type === 'meteo')">
      <ion-card-content [ngClass]="(notification.data.viewed) ? '' : 'highLight'">
        <ion-row center>
          <ion-col width-75>
            <p class="day">{{(fase === 'preSha') ? 'Pronóstico para tu llegada' : 'Hoy'}}</p>
            <p class="day">{{notification.data.content.day}}</p>
            <p class="sky">{{notification.data.content.sky}}</p>
            <div>
              <span class="tempMax">{{notification.data.content.tempMax}}º </span>
              <span class="tempMin"> {{notification.data.content.tempMin}}º</span>
            </div>
          </ion-col>
          <ion-col width-25>
            <img src="{{notification.data.content.skyImage}}" alt="">
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-card class="card" *ngIf="(notification.data.type == 'confirmacionLlegada')">
      <img *ngIf="notification.data.image !== ''" [src]="notification.data.image" />
      <ion-card-content [ngClass]="(notification.data.viewed) ? '' : 'highLight'">
        <ion-card-title class="title">
          {{notification.data.title}}
        </ion-card-title>
        <p class="description">
          {{notification.data.description}}
        </p>
        <ion-item>
          <button ion-button clear color="blue" item-right (click)="confirmacionLlegadaTapped(0)" mode="ios">
            <span class="descripcion-ico-acciones">{{notification.data.link.split(',')[0]}}</span>
          </button>
          <button ion-button clear color="blue" item-left (click)="confirmacionLlegadaTapped(1)" mode="ios">
            <span class="descripcion-ico-acciones">{{notification.data.link.split(',')[1]}}</span>
          </button>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card class="card" *ngIf="(notification.data.type !== 'meteo') && (notification.data.type !== 'confirmacionLlegada')">
      <img *ngIf="notification.data.image !== ''" [src]="notification.data.image" />
      <ion-card-content [ngClass]="(notification.data.viewed) ? '' : 'highLight'">
        <ion-card-title [ngClass]="((notification.data.type === 'consejo') || (notification.data.type === 'configurarSalida') || (notification.data.type === 'tratamientoBelleza')) ? 'description' : 'title'">
          {{notification.data.title}}
        </ion-card-title>
        <p [ngClass]="((notification.data.type === 'consejo') || (notification.data.type === 'configurarSalida') || (notification.data.type === 'tratamientoBelleza')) ? 'title' : 'description'">
          {{notification.data.description}}
        </p>
        <ion-item *ngIf="notification.data.link">
          <button ion-button clear color="blue" item-right (click)="notificationTapped($event, notification)" mode="ios">
            <img *ngIf="notification.data.type.includes('cuestionario')" src="assets/icon/cuestionario-blue.png" class="icono-pequeno" alt="">
            <span class="descripcion-ico-acciones">{{notification.data.link}}</span>
          </button>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
