page-notificaciones {

  ion-card.card {
    border-radius: 10px;
  }

  .highLight {
    border-top: 3px solid map-get($colors, blue);
    //background-color: white !important;
  }

  .card {
    ion-card-content {
      &.card-content {
        padding-top: 10px;
        padding-bottom: 5px;
        //background-color: map-get($colors, grey-medium-l);
        background-color: white;
      }
      ion-card-title {
        &.card-title {
          padding-top: 4px; 
          padding-bottom: 4px;
        }
      }
      .title {
        font-size: 18px;
        color: map-get($colors, dark);
        font-weight: 500;
      }
      .description{
        font-size: map-get($font-sizes, descrip-mod);
        color: map-get($colors, grey-medium);        
      }
      ion-item {
        &.item-block {
          background-color: transparent;
        }
        span {
          font-size: map-get($font-sizes, texto);
        }
      }
    }
  }

  .meteo-card {
    ion-card-content {
      &.card-content {
        padding-top: 5px;
        padding-bottom: 5px;
        //background-color: map-get($colors, grey-medium-l);
        background-color: white;
      }
      .day {
        font-size: map-get($font-sizes, descrip-mod);
        color: map-get($colors, grey-medium);
      }
      .sky {
        font-size: map-get($font-sizes, texto);
        color: map-get($colors, dark);
        font-weight: 500;
      }
      .tempMin {
        font-size: map-get($font-sizes, seccion);
        color: map-get($colors, blue);
      }
      .tempMax {
        font-size: 3rem;
        color: map-get($colors, dark);
      }
    }
  }

}
