<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-buttons start>
        <button ion-button color="blue" clear (click)="cancelarTapped($event)">{{'COMENTAR.CANCELAR' | translate}}</button>
    </ion-buttons>
    <ion-title>{{'COMENTAR.TITULO' | translate}}</ion-title>
    <ion-buttons end>
        <!-- <button ion-button color="blue" clear (click)="submitComment()" 
        [disabled]="!comentarioForm.form.valid">{{'COMENTAR.ENVIAR' | translate}}</button> -->
    </ion-buttons>
  </ion-navbar>
</ion-header>

<!-- <ion-content>
  <form #comentarioForm="ngForm">
    <ion-item>
      <ion-input type="text" placeholder="{{'COMENTAR.ASUNTO' | translate}}" name="subject" [(ngModel)]="form.subject" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea rows="8" placeholder="{{'COMENTAR.COMENTARIO' | translate}}" name="body" [(ngModel)]="form.body" required></ion-textarea>
    </ion-item>
  </form>
</ion-content> -->

<ion-content padding>
  <div class="contacto">
    <p>{{'COMENTAR.TEXTO_COMENTAR' | translate}}</p>
    <button ion-button round small color="blue" (click)="openActionSheet()">{{'COMENTAR.CONTACTAR' | translate}}</button>
    <div class="politica_block" [innerHTML]="'AGENDA.POLITICA_CANCELACION' | translate"></div>  
  </div>
</ion-content>

