page-comentar {
  .contacto {
    p {
      text-align: left;
      font-size: map-get($font-sizes, descrip-mod) !important;
      color: map-get($colors, grey-medium) !important;
      margin-bottom: 6px;
    }
    button {
      margin-top:25px;
      width: 100%;
      span {
        font-size: map-get($font-sizes, texto) !important;
      }
    }
    .politica_block {
      h1 {
        margin-top: 40px;
        font-weight: bold;
        font-size: 13px;
        color: map-get($colors, grey) !important;
      }
      p {
        font-size: 12px;
      }
    }
  }
}
