page-dieta {
  .calendar {
    top:0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #CFCFCF;
  }
  .day-bar {
    margin-top: 121px;
    padding: 10px;
    padding-top: 20px;
    background: map-get($colors, grey-medium-l);
    font-size: map-get($font-sizes, texto);
    font-weight: 500;
    border-bottom: 2px solid #CFCFCF;
  }
  .dietList {
    padding:20px;
    padding-top:0;
    border-bottom: 2px solid map-get($colors, grey-medium-l);
    background-color: white;
    h3 {
      font-size: map-get($font-sizes, titulares);
      font-weight: bold;
      padding-top: 25px;
      margin-top: 0;
      margin-bottom: 12px;
    }
    .menu {
      div {
        font-size: map-get($font-sizes, texto);
        padding: 0px;
        margin-bottom: 14px;
      }
      div:last-of-type {
      }
      ol li {
        margin: 6px 0;
        font-size: map-get($font-sizes, descrip-mod);
      }
      img {
        height: 20px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
      }
      span {
        display: inline-block;
        vertical-align: middle;
        font-size: map-get($font-sizes, descrip-texto);
        font-weight: 500;
      }
    }
    .observaciones {
      margin-top: 35px;
      font-size: map-get($font-sizes, descrip-mod);
      color: map-get($colors, dark);
      ul {
        padding-left: 20px;
      }
    }
  }
  .msg_disponibilidad{
    padding: 0 16px;
    margin: 20px 0;
    color: map-get($colors, grey-medium);
    text-align: left;
  }
}
