<ion-header>
  <ion-navbar>
    <button ion-button menuToggle color="dark">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'DIETA.TITULO' | translate}}</ion-title>
    <ion-buttons end [hidden]="hideTodayButton">
      <button ion-button color="blue" clear (click)="goToToday()">{{'ACADEMY.HOY' | translate}}</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <div class="calendar" ion-fixed>
    <calendar-by-week [check_in]="stay.checkIn" [check_out]="stay.checkOut" (daySelected)="dayChanged($event)"></calendar-by-week>    
  </div>
  <div class="day-bar">{{moment(daySelected, 'DD/MM/YYYY').locale(userData.user.lang).format('dddd[,] D MMMM')}}</div>
  <div class="dietList" *ngIf="dailyDiet" [@fadeInOut]>
    <h3>{{'DIETA.DESAYUNO' | translate}}</h3>
    <div class="menu">
      <div><img src="assets/icon/dieta-blue.png" alt=""><span>{{dailyDiet.breakfast.menu}}</span></div>
      <ol *ngIf="dailyDiet.breakfast.plates">
        <li *ngFor="let plate of dailyDiet.breakfast.plates">{{plate}}</li>
      </ol>
      <div><img src="assets/icon/te-blue.png" alt=""><span>{{dailyDiet.breakfast.te}}</span></div>
    </div>
    <h3>{{'DIETA.COMIDA' | translate}}</h3>
    <div class="menu">
      <div><img src="assets/icon/dieta-blue.png" alt=""><span>{{dailyDiet.lunch.menu}}</span></div>
      <ol *ngIf="dailyDiet.lunch.plates">
        <li *ngFor="let plate of dailyDiet.lunch.plates">{{plate}}</li>
      </ol>
      <div><img src="assets/icon/te-blue.png" alt=""><span>{{dailyDiet.lunch.te}}</span></div>
    </div>
    <h3>{{'DIETA.TE' | translate}}</h3>
    <div class="menu">
      <div><img src="assets/icon/te-blue.png" alt=""><span>{{dailyDiet.te.te1}}</span></div>
      <ol *ngIf="dailyDiet.te.plates">
        <li *ngFor="let plate of dailyDiet.te.plates">{{plate}}</li>
      </ol>
      <div><img src="assets/icon/te-blue.png" alt=""><span>{{dailyDiet.te.te2}}</span></div>
    </div>
    <h3>{{'DIETA.CENA' | translate}}</h3>
    <div class="menu">
      <div><img src="assets/icon/dieta-blue.png" alt=""><span>{{dailyDiet.dinner.menu}}</span></div>
      <ol *ngIf="dailyDiet.dinner.plates">
        <li *ngFor="let plate of dailyDiet.dinner.plates">{{plate}}</li>
      </ol>
      <div><img src="assets/icon/te-blue.png" alt=""><span>{{dailyDiet.dinner.te}}</span></div>
    </div>
    <div class="observaciones" *ngIf="dailyDiet.recommendations">
      <p>{{'DIETA.RECOMENDACIONES' | translate}}:<p>
      <ul>
        <li *ngFor="let item of dailyDiet.recommendations.split(',')">{{item}}</li>
      </ul>  
    </div>
  </div>
  <div class="msg_disponibilidad" [hidden]="noDailyDiet">
    <p>
      {{'DIETA.DISPONIBILIDAD' | translate}}
    </p>
  </div>
  <div class="sin-contenido" [hidden]="!noDailyDiet" [@fadeInOut]>
    <span></span>
    <p>
      {{'DIETA.NO_DIETA' | translate}}
    </p>
  </div>
</ion-content>
