<ion-header>
  <ion-navbar>
    <button ion-button menuToggle color="dark">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'MI_PERFIL.TITULO' | translate}}</ion-title>
    <ion-buttons end *ngIf="userData.user.fase == 'Sha'">
      <button ion-button color="blue" clear (click)="openActionSheet()"><img src="assets/icon/contact-white.png" height="22px" alt=""></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="header-container">
    <img class="avatar" [src]="(cachedImages) ? (userData.user.image) : (userData.user.image + '?' + getRandom())" onError="this.src='assets/icon/icono-usuario-dark.png'; this.style.border='none'">
    <div class="addImage" (click)="pickPicture()"><img src="assets/icon/add-user-white.png" alt=""></div>
    <h3>{{userData.user.name}}</h3>
    <div class="shafire"><span>{{userData.user.shafire.points.replace(",", ".")}} SHApphires</span> <ion-badge color="blue-light" (click)="categoryShafireTapped()"> <span>+info</span></ion-badge></div>
  </div>
  <div class="information-container">
    <div class="information-content">

      <ion-list mode="ios">
        <ion-list-header mode="ios">
          {{'MI_PERFIL.INFORMACION' | translate}}
        </ion-list-header>
        <ul>
          <li>{{'MI_PERFIL.EMAIL_CONTACTO' | translate}} <p>{{userData.user.email}}</p></li>
          <li>{{'MI_PERFIL.EMAIL_ANALISIS' | translate}} <p>{{userData.user.email_medical}}</p></li>
          <li>{{'MI_PERFIL.TELEFONO' | translate}} <p>{{userData.user.phone}}</p></li>
        </ul>
        <p class="modify_text">{{'MI_PERFIL.TEXTO_CONTACTO' | translate}} <a href="mailto:loyalty@shawellnessclinic.com">loyalty@shawellnessclinic.com</a></p>
      </ion-list>

      <ion-list mode="ios">
        <ion-list-header (click)="preferencesTapped()" mode="ios">
          <span>{{'MI_PERFIL.PREFERENCIAS' | translate}}</span>
          <ion-icon style="margin-right:16px" *ngIf="!showPreferences" ios="ios-add-circle-outline" md="ios-add-circle-outline" color="grey-medium" small item-right></ion-icon>
          <ion-icon style="margin-right:16px" *ngIf="showPreferences" ios="ios-remove-circle-outline" md="ios-remove-circle-outline" color="grey-medium" small item-right></ion-icon>
        </ion-list-header>
        <ul class="hideBorderItem" *ngIf="showPreferences">
          <li>
            {{'MI_PERFIL.TALLA_ZAPATILLAS' | translate}} <p>{{(userData.user.preferences.shoes != '') ? (userData.user.preferences.shoes == 'S' ? '35-37' : userData.user.preferences.shoes == 'M' ? '38-41' : '42-45') : ''}}</p>
          </li>
          <li>
            {{'MI_PERFIL.TALLA_ALBORNOZ' | translate}} <p>{{userData.user.preferences.bathrobe}}</p>
          </li>
          <li>
            {{'MI_PERFIL.TIPO_COLCHON' | translate}} <p>{{userData.user.preferences.mattress}}</p>
          </li>
          <li>
            {{'MI_PERFIL.TIPO_ALMOHADA' | translate}} <p>{{userData.user.preferences.pillow}}</p>
          </li>
          <li>
            {{'MI_PERFIL.HORARIO_LIMPIEZA' | translate}} <p>{{userData.user.preferences.cleaning_period}}</p>
          </li>
          <li>
            {{'MI_PERFIL.HORARIO_COBERTURA' | translate}} <p>{{userData.user.preferences.coverage_period}}</p>
          </li>
        </ul>
      </ion-list>

    </div>

    <div class="estancias-container" *ngIf="userData.user.stays.length != 0">
        <ion-list mode="ios">
          <ion-list-header mode="ios" (click)="estanciasTapped()">
            {{'MI_PERFIL.ESTANCIAS_ANTERIORES' | translate}}
            <ion-icon style="margin-right:16px" ios="ios-add-circle-outline" md="ios-add-circle-outline" color="grey-medium" small item-right [hidden]="userData.user.stays.length < 2"></ion-icon>
          </ion-list-header>

          <ion-item mode="ios" class="stay" text-wrap detail-push *ngFor="let stay of userData.user.stays; let i=index" (click)="estanciaTapped(stay)" [hidden]="i>1">
            <div class="img-container" item-left *ngIf="stay.programs.length == 0">
              <img src="assets/images/placeholders/without_program.jpg" alt=""> 
            </div>
            <div class="img-container" item-left *ngIf="stay.programs.length != 0">
              <img [src]="stay.programs[0].image" onError="this.src='assets/images/placeholders/no-image-program.jpg'" alt=""> 
            </div>
            <div *ngIf="stay.programs.length == 0"><span>{{'ESTANCIA.SIN_PROGRAMA' | translate}}</span></div>
            <div *ngIf="stay.programs.length != 0"><span>{{stay.programs[0].name}}</span></div>  
            <h4>{{moment(stay.checkIn, 'DD/MM/YYYY').locale(userData.user.lang).format('MMMM YYYY')}}</h4>         
          </ion-item>
        </ion-list> 
    </div>

    <div class="prescripciones-container" *ngIf="prescriptions.length != 0">
      <ion-list mode="ios">
        <ion-list-header mode="ios" (click)="prescripcionesTapped()">
          {{'MI_PERFIL.ULTIMAS_PRESCRIPCIONES' | translate}}
          <ion-icon style="margin-right:16px" ios="ios-add-circle-outline" md="ios-add-circle-outline" color="grey-medium" small item-right [hidden]="prescriptions.length < 2"></ion-icon>
        </ion-list-header>

        <div *ngFor="let prescripcion of prescriptions; let i=index">
          <ion-row class="prescripcion" *ngIf="i<2" center>
            <ion-col width-25 style="max-width: 80px">
              <img class="avatar-prescripcion" [src]="prescripcion.doctor.image" onError="this.src='assets/images/placeholders/no-image-doctor.jpg'">
            </ion-col>
            <ion-col text-left width-75>
              <ion-row>
                <ion-col text-left><span ion-text color="grey-medium">{{prescripcion.doctor.name}}</span></ion-col>
                <ion-col text-right><span ion-text color="grey-medium">{{moment(prescripcion.day,"DD/MM/YYYY").locale(userData.user.lang).fromNow()}}</span></ion-col>
              </ion-row>
              <p><i>{{prescripcion.text}}</i></p>
            </ion-col>
          </ion-row>  
        </div>
      </ion-list> 
    </div>

    <div class="sin-contenido" *ngIf="(userData.user.stays.length == 0) || (prescriptions.length == 0)">
      <span></span>
      <p *ngIf = "(userData.user.stays.length == 0) && (prescriptions.length != 0)">
        {{'MI_PERFIL.SIN_ESTANCIAS' | translate}}
      </p>
      <p *ngIf = "(userData.user.stays.length != 0) && (prescriptions.length == 0)">
        {{'MI_PERFIL.SIN_PRESCRIPCIONES' | translate}}
      </p>
      <p *ngIf = "(userData.user.stays.length == 0) && (prescriptions.length == 0)">
        {{'MI_PERFIL.SIN_ESTANCIAS_PRESCRIPCIONES' | translate}}
      </p>
    </div>
  </div>
</ion-content>