page-mi-perfil {
/*   .toolbar-ios {
      //workaround: statusbar height is too small on root view without home button
      // -> manually set min-height on root view (verified on iOS 10)
      min-height: 64px;
  } */

  ion-list-header {
    color: map-get($colors,grey) !important;
  }

  ion-navbar.toolbar {
    .toolbar-background {
      background-color: map-get($colors, blue) !important;
      border-bottom: none !important;
    }
    button {
      color: white !important;
    }
  }

  ion-title .toolbar-title {
    color: white !important;
  }

  .avatar {
    margin: 0 auto;
    width: 120px;
    height: 120px;
    border: 4px solid white;
    border-radius: 50%;
    object-fit: cover;
  }

  .header-container {
    position: relative;
    padding: 10px 20px;
    width: 100%;
    text-align: center;
    background-color: map-get($colors, blue);
    .addImage {
      position: absolute;
      left: 50%;
      top: 5px;
      margin-left: 56px;
      z-index: 2;
      img {
        height: 26px;
      }
    }
    h3 {
      color: white;
      font-size: (map-get($font-sizes, texto) + 0.1);
      font-weight: bold;
      margin: 10px 0;
    }
    .shafire {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
      color: white;
      font-size: map-get($font-sizes, texto);
      font-weight: 500;
      img {
        margin-left: 5px;
        height: 24px;
      }
      ion-badge {
        margin-left: 12px;
        text-transform: uppercase !important;
        font-weight: normal !important;
        font-size: 12px !important;
        span {
          text-transform: lowercase !important;
        }
      }
    }
    p {
      color: white;
      font-size: (map-get($font-sizes, descrip-mod) - 0.1);
      margin-top: 5px; 
      margin-bottom: 0;   
    }
  }

  .header-row {
    padding: 0px 8px 5px 8px;
    background-color: map-get($colors, grey-medium-l);
    font-size: map-get($font-sizes, texto);
    font-weight: 500;
    ion-col:nth-of-type(1) {
      font-weight: bold;
    }
    height: 44px;
  }

  .information-container {
    padding: 16px 0 10px 0;
    border-bottom: 2px solid map-get($colors, grey-medium-l);
    background-color: white;
    .information-content {
      margin-top:10px;
      .modify_text {
        padding:10px 20px;
        font-size: 13px;
        color: map-get($colors, grey-medium);
      }
      ion-list {
        ul {
          list-style-type: none;
          margin-bottom:0;
          padding: 0 16px 0 16px;
          li {
            padding:6px 0;
            font-weight: normal;
            font-size: 1.4rem !important;
            color: map-get($colors, dark);
            p {
              margin:0;
              padding-top: 4px;
              color: map-get($colors, grey-medium);
              font-weight: normal;
            }
          }
        }
      }
    }
  }

  .prescripciones-container {
    .avatar-prescripcion{
      width: 70px;
      height: 70px;
      border-radius: 50%;
      object-fit: cover;
      border: 4px solid white;   
    }
    .prescripcion {
      background: white;
      border-bottom: 1px solid map-get($colors, grey-medium-l);
      min-height: 100px;
      font-size: map-get($font-sizes, descrip-mod);
      p {
        margin: 10px 0;
        padding: 0 5px;
      }
    }
  }

  .estancias-container {
    .stay {
      height: 100px;
      border-bottom: 1px solid map-get($colors, grey-medium-l);
      padding-left:0;
      &:last-child{
        border-bottom: 0;
      }
      .img-container {
        width: 100px;
        height: 100px;
        img {
          height: 100%;
          object-fit: cover;
        }
      }
      .item-inner {
        border-bottom: none;
      }
      span {
        font-size: 1.4rem;
        color: map-get($colors, grey-medium);
      }
      h4 {
        font-size: 1.4rem;
        font-weight: normal;
        margin: 0;
        margin-top: 10px;
        text-transform:capitalize;
      }
    }
  }

}
