<ion-header>
  <ion-navbar>
    <button ion-button menuToggle color="dark">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'NEWSLETTER.TITULO' | translate}}</ion-title>
    <ion-buttons end>
      <button ion-button color="blue" clear (click)="openActionSheet()"><img src="assets/icon/contact.png" height="22px" alt=""></button>
    </ion-buttons>
  </ion-navbar>
    <div class="fecha">{{date}}</div>
</ion-header>


<ion-content>
  <div *ngIf="newsletter">
    <div class="seccion" *ngIf="newsletter.shaNews.generic.length != 0" >
      <h3 class="header"><img src="assets/icon/newsletter-blue.png" alt="">SHA News</h3>
      <ion-card *ngFor="let item of newsletter.shaNews.generic">
        <img *ngIf="item.image != ''" [src]="(cachedImages) ? (item.image) : (item.image + '?' + getRandom())" alt="" />
        <ion-card-content>
          <ion-card-title *ngIf="item.title">
            {{item.title}}
          </ion-card-title>
          <div *ngIf="item.description" class="description" [innerHtml]="(item.description.length > 110) ? (item.description | slice:0:110)+'...' : (item.description)">
          </div>
        </ion-card-content>
        <ion-row no-padding *ngIf="(item.description.length > 110) || item.url">
          <ion-col text-right>
            <button ion-button clear small color="blue" icon-start (click)="(item.description.length > 110) ? infoTapped(item, 'SHA News') : openUrl(item.url)">
              <span *ngIf="(item.description.length > 110)">{{'TRATAMIENTO.VER' | translate}}</span>
              <img *ngIf="!(item.description.length > 110)" src="assets/icon/link-ext-blue.png" alt="" />
            </button>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>
    <div class="seccion" *ngIf="(newsletter.shaAcademy.activities.length != 0) || newsletter.shaAcademy.generic.length != 0" >
      <h3 class="header"><img src="assets/icon/sha-academy-blue.png" alt="">Healthy Living Academy</h3>

      <ion-card *ngFor="let item of newsletter.shaAcademy.activities">
        <img [src]="(cachedImages) ? (item.image) : (item.image + '?' + getRandom())" onError="this.src='assets/images/placeholders/no-image.jpg'" alt=""> 
        <ion-card-content>
          <ion-card-title *ngIf="item.name">
              {{item.name}}
          </ion-card-title>
          <div class="text-container">
            <img src="assets/icon/reloj-blue.png" alt="">
            <span>{{item.hourIn}} ({{moment(item.hourOut,"HH:mm").diff(moment(item.hourIn,"HH:mm"), 'minutes')}} {{'AGENDA.MINUTOS' | translate}})</span>
          </div>
          <div class="text-container">
            <img src="assets/icon/localizador-blue.png" alt="">
            <span>{{item.place}}</span>
          </div>
          <div class="text-container" *ngIf="item.level" [hidden]="true">
            <span>{{item.level}}</span>
          </div>
        </ion-card-content>
        <ion-row no-padding *ngIf="(item.description.length > 0)">
          <ion-col text-right>
            <button ion-button clear small color="blue" icon-start (click)="infoTapped(item, 'SHA Academy')">
              <span>{{'TRATAMIENTO.VER' | translate}}</span>
            </button>
          </ion-col>
        </ion-row>
      </ion-card>

      <ion-card *ngFor="let item of newsletter.shaAcademy.generic">
        <img *ngIf="item.image != ''" [src]="(cachedImages) ? (item.image) : (item.image + '?' + getRandom())" alt="" />
        <ion-card-content>
          <ion-card-title *ngIf="item.title">
            {{item.title}}
          </ion-card-title>
          <div *ngIf="item.description" class="description" [innerHtml]="(item.description.length > 110) ? (item.description | slice:0:110)+'...' : (item.description)">
          </div>
        </ion-card-content>
        <ion-row no-padding *ngIf="(item.description.length > 110) || item.url">
          <ion-col text-right>
            <button ion-button clear small color="blue" icon-start (click)="(item.description.length > 110) ? infoTapped(item, 'Generic') : openUrl(item.url)">
              <span *ngIf="(item.description.length > 110)">{{'TRATAMIENTO.VER' | translate}}</span>
              <img *ngIf="!(item.description.length > 110)" src="assets/icon/link-ext-blue.png" alt="" />
            </button>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>
    <div class="seccion" *ngIf="newsletter.beWell.treatments.length != 0 || newsletter.beWell.generic.length != 0">
      <h3 class="header"><img src="assets/icon/disfruta-cuidandote-blue.png" alt="">{{'NEWSLETTER.DISFRUTA' | translate}}</h3>

      <ion-card *ngFor="let item of newsletter.beWell.treatments">
        <img [src]="(cachedImages) ? (item.image) : (item.image + '?' + getRandom())" onError="this.src='assets/images/placeholders/no-image.jpg'" alt=""> 
        <ion-card-content>
          <ion-card-title *ngIf="item.name">
              {{item.name}}
          </ion-card-title>
        </ion-card-content>
        <ion-row no-padding>
          <ion-col text-right>
            <button ion-button clear small color="blue" icon-start (click)="openTreatment(item)">
              <span>{{'TRATAMIENTO.VER' | translate}}</span>
            </button>
          </ion-col>
        </ion-row>
      </ion-card>

      <ion-card *ngFor="let item of newsletter.beWell.generic">
        <img *ngIf="item.image != ''" [src]="(cachedImages) ? (item.image) : (item.image + '?' + getRandom())" alt="" />
        <ion-card-content>
          <ion-card-title *ngIf="item.title">
            {{item.title}}
          </ion-card-title>
          <div *ngIf="item.description" class="description" [innerHtml]="(item.description.length > 110) ? (item.description | slice:0:110)+'...' : (item.description)">
          </div>
        </ion-card-content>
        <ion-row no-padding *ngIf="(item.description.length > 110) || item.url">
          <ion-col text-right>
            <button ion-button clear small color="blue" icon-start (click)="(item.description.length > 110) ? infoTapped(item, 'Be Well') : openUrl(item.url)">
              <span *ngIf="(item.description.length > 110)">{{'TRATAMIENTO.VER' | translate}}</span>
              <img *ngIf="!(item.description.length > 110)" src="assets/icon/link-ext-blue.png" alt="" />
            </button>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>

    <div class="seccion" *ngIf="newsletter.specials.generic.length != 0" >
      <h3 class="header"><img src="assets/icon/reflexiona-blue.png" alt="">{{'NEWSLETTER.REFLEXIONA' | translate}}</h3>
      <ion-card *ngFor="let item of newsletter.specials.generic">
        <img *ngIf="item.image != ''" [src]="(cachedImages) ? (item.image) : (item.image + '?' + getRandom())" alt="" />
        <ion-card-content>
          <ion-card-title *ngIf="item.title">
            {{item.title}}
          </ion-card-title>
          <div *ngIf="item.description" class="description" [innerHtml]="(item.description.length > 110) ? (item.description | slice:0:110)+'...' : (item.description)">
          </div>
        </ion-card-content>
        <ion-row no-padding *ngIf="(item.description.length > 110) || item.url">
          <ion-col text-right>
            <button ion-button clear small color="blue" icon-start (click)="(item.description.length > 110) ? infoTapped(item, 'Specials') : openUrl(item.url)">
              <span *ngIf="(item.description.length > 110)">{{'TRATAMIENTO.VER' | translate}}</span>
              <img *ngIf="!(item.description.length > 110)" src="assets/icon/link-ext-blue.png" alt="" />
            </button>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>
  </div>
</ion-content>
