page-newsletter {
  .fecha {
    text-align: center;
    font-size: map-get($font-sizes, descrip-mod);
    font-weight: 500;
    padding: 10px;
    background: white;
    width: 100%;
    color:map-get($colors, blue);
  }
  h3.header {
    display: block;
    margin: 0;
    padding: 15px 0;
    background: rgba(214,210,196, 0.3);
    font-size: map-get($font-sizes, titulares);
    font-weight: bold;
    text-align: center;
    border-top: 0px solid map-get($colors, blue);
    border-bottom: 1px solid map-get($colors, blue);
    img {
      margin: 0 auto;
      margin-bottom: 5px;
      display: block;
      height: 30px;
      width: 30px;
    }
  }

  .seccion {
    background-color: white;
    padding-bottom:20px;

    &:first-of-type{
      margin-top:16px;
    }

    ion-card-content {
      padding-bottom: 0px;
      ion-card-title {
        font-size: 18px !important;
      }
      .description {
        font-weight: normal;
        p{
          margin-bottom:0px;
        }
      }
    }

    p {
      font-weight:normal;
      padding: 8px 0;
      margin: 0px 0px 20px 0;
      text-align: left;
    }

    .text-container {
      display: flex;
      align-items: center;
      margin: 10px 0;
      &:last-of-type {
        margin-bottom: 20px;
      }
      img {
        height: 16px;
        width: auto;
      }
      span {
        font-size: map-get($font-sizes, descrip-mod);
        margin-left: 5px;
        font-weight: normal;
      }
    }
    ion-col {
      padding:0;
      button {
        padding:0px 16px 0px 0px;
        margin-bottom:16px;
        span {
          font-size: map-get($font-sizes, texto);
          font-weight: 500;
        }
        img{
          width: auto;
          height: 28px;
        }
      }
    }
  }

}
