page-solicitar-factura {

  ion-list {
    border-bottom: 2px solid map-get($colors, 'grey-medium-l');
    ion-item {
      border-bottom: none !important;
      ion-label {
        font-size: 1.6rem !important;
      }
    }
    ion-item:nth-of-type(2){
      .item-inner{
        border-bottom: none !important;
      }
    }
    ion-item:nth-of-type(3){
      .item-inner{
        font-size: 1.5rem !important;
      }
    }
  }

}
