<!--
  Generated template for the SolicitarFacturaPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button color="blue" (click)="dismiss()">
        {{'ESTANCIA.CERRAR' | translate}}
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button color="blue" [disabled]="(!this.form.suite) && (!this.form.email) || ((this.form.email) && (!this.form.email_address))" (click)="submit()">
        {{'ESTANCIA.ENVIAR' | translate}}
      </button>
    </ion-buttons>
    <ion-title>{{'ESTANCIA.SOLICITAR_FACTURA' | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-list mode="ios">
    <ion-item mode="ios">
      <ion-label>
        {{'ESTANCIA.SOLICITAR_FACTURA_PAPEL' | translate}}
      </ion-label>
      <ion-toggle color="blue" [(ngModel)]="this.form.suite"></ion-toggle>
    </ion-item>
    <ion-item mode="ios">
      <ion-label>
        {{'ESTANCIA.SOLICITAR_FACTURA_EMAIL' | translate}}
      </ion-label>
      <ion-toggle color="blue" [(ngModel)]="this.form.email"></ion-toggle>
    </ion-item>
    <ion-item mode="ios" [hidden]="!this.form.email">
      <ion-input type="text" placeholder="Especifique la dirección de email" [(ngModel)]="this.form.email_address"></ion-input>
    </ion-item>
  </ion-list>

</ion-content>
