<ion-header>
  <ion-navbar>
    <button ion-button menuToggle color="dark">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'MENU.ESTANCIAS_ANTERIORES' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list mode="md">
    <ion-item mode="ios" class="stay" text-wrap detail-push *ngFor="let stay of userData.user.stays" (click)="estanciaTapped(stay)">
      <div class="img-container" item-left *ngIf="stay.programs.length == 0">
        <img src="assets/images/placeholders/without_program.jpg" alt="">
      </div>
      <div class="img-container" item-left *ngIf="stay.programs.length != 0">
        <img [src]="(cachedImages) ? (stay.programs[0].image) : (stay.programs[0].image + '?' + getRandom())" onError="this.src='assets/images/placeholders/no-image-program.jpg'" alt="">
      </div>
      <div *ngIf="stay.programs.length == 0"><span>{{'ESTANCIA.SIN_PROGRAMA' | translate}}</span></div>
      <div *ngIf="stay.programs.length != 0"><span>{{stay.programs[0].name}}</span></div>
      <h4>{{moment(stay.checkIn, 'DD/MM/YYYY').locale(userData.user.lang).format('MMMM YYYY')}}</h4>
    </ion-item>
  </ion-list>
</ion-content>
