page-estancias-anteriores {
  .stay {
    height: 100px;
    border-bottom: 2px solid map-get($colors, grey-medium-l);
    padding-left:0;
    .img-container {
      width: 100px;
      height: 100px;
      img {
        height: 100%;
        object-fit: cover;
      }
    }
    .item-inner {
      border-bottom: none !important;
    }
    span {
      font-size: 1.4rem;
      color: map-get($colors, grey-medium);
    }
    h4 {
      font-size: 1.4rem;
      margin: 0;
      margin-top: 10px;
      text-transform: capitalize;
    }
  }
}
