page-ficha-resumen-estancia {
  ion-item {
    h3 {
      font-size: map-get($font-sizes, seccion) !important;
      font-weight: 500 !important;
      margin: 6px 0 !important;
    }
    li {
      font-size: map-get($font-sizes, descrip-mod);
      color: map-get($colors, grey-medium);
    }
    p.ver-todo {
      color: map-get($colors, dark);
      font-size: map-get($font-sizes, texto);
      text-align: right;
    }
    img, span {
      display: inline-block;
      vertical-align: middle;
    }
    img {
      height: 20px;
    }
    span {
      margin-left: 5px;
      font-size: map-get($font-sizes, seccion);
    }
  }
  
  .programsList {
    padding-left: 32px;

    ion-label button:last-of-type{
      margin-bottom: 20px;
    }
    ion-label {
      margin:0;
    }
    & > .item-inner {
      padding: 0 !important;
      border-bottom: none !important;
    }
  }
  .scroll-zoom-wrapper {
    display: flex;
    justify-content: space-around;
  }
  
  .equipoTerapeutico {
    ion-scroll{
      height: 125px;
    }
    ion-label.label {
      margin-right: 0 !important;
    }
    .item-inner {
      padding-right: 0 !important;
    }
    .terapeuta {
      display: inline-block;
      vertical-align: top;
      width: 65px;
      margin: 10px;
      margin-left: 0px;
      margin-right: 15px;
      p {
        width: 100%;
        margin: 0;
        color: map-get($colors, dark);
        font-size: map-get($font-sizes, descrip-mod) - 0.1;
        text-align: center;
        white-space: normal;
        text-transform: capitalize;
      }
    }
  }
  .avatar {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    object-fit: cover;
  }
  .prescripcion {
    padding: 0;
    background: white;
    border-bottom: 2px solid map-get($colors, grey-medium-l);
    min-height: 100px;
    font-size: map-get($font-sizes, descrip-mod) - 0.1;
    p {
      margin: 10px 0;
      padding: 0 5px;
      color: map-get($colors, dark);
      font-size: map-get($font-sizes, descrip-mod) - 0.1;
    }
    ion-col {
      padding:0;
    }
  }
  
}
