<ion-header>
  <ion-navbar>
    <button ion-button menuToggle color="dark">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'RESUMEN_ESTANCIA.TITULO' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <slider-resumen-estancia [stay] = "stay"></slider-resumen-estancia>
  <ion-list mode="ios">
    <ion-item mode="ios">
      <img src="assets/icon/suite-blue.png" alt="">
      <span>{{stay.suite.name}}</span>
    </ion-item>
    <ion-item mode="ios" (click)="programsTapped()" *ngIf="stay.programs.length > 0">
      <ion-icon *ngIf="!showPrograms" ios="ios-add-circle-outline" md="ios-add-circle-outline" color="grey-medium" small item-right></ion-icon>
      <ion-icon *ngIf="showPrograms" ios="ios-remove-circle-outline" md="ios-remove-circle-outline" color="grey-medium" small item-right></ion-icon>
      <img src="assets/icon/programs-blue.png">
      <span>{{'MI_LLEGADA.PROGRAMA' | translate}}</span>
    </ion-item>
    <ion-item detail-none mode="ios" class="programsList" *ngIf="showPrograms">
      <button ion-item detail-push mode="ios" (click)="openProgramDetails(program)" *ngFor="let program of stay.programs" style="font-size: 1.5rem !important">
        {{program.name}}
      </button>
    </ion-item>
    <ion-item mode="ios" detail-push (click)="tratamientosTapped()" *ngIf="stay.treatmentsList.length > 0">
      <img src="assets/icon/tratamientos-blue.png">
      <span>{{'RESUMEN_ESTANCIA.TRATAMIENTOS_INCLUIDOS' | translate}}</span>
    </ion-item>
    <ion-item mode="ios" detail-push (click)="dietaTapped()" *ngIf="stay.diet.length > 0">
      <img src="assets/icon/dieta-blue.png" alt="">
      <span>{{'RESUMEN_ESTANCIA.DIETA' | translate}}</span>
    </ion-item>
    <ion-item mode="ios" detail-push (click)="prescripcionesTapped()" *ngIf="stay.prescriptions.length > 0">
      <img src="assets/icon/prescriptions-blue.png">
      <span>{{'RESUMEN_ESTANCIA.PRESCRIPCIONES' | translate}}</span>
    </ion-item>
    <ion-item mode="ios" class="hideBorderItem" (click)="careTeamTapped()" *ngIf="stay.careTeam.length > 0" [hidden]="true">
      <ion-icon *ngIf="!showEquipment" ios="ios-add-circle-outline" md="ios-add-circle-outline" color="grey-medium" small item-right></ion-icon>
      <ion-icon *ngIf="showEquipment" ios="ios-remove-circle-outline" md="ios-remove-circle-outline" color="grey-medium" small item-right></ion-icon>
      <img src="assets/icon/care-team-blue.png">
      <span>{{'RESUMEN_ESTANCIA.EQUIPO' | translate}}</span>
    </ion-item>
    <ion-item detail-none class="equipoTerapeutico" *ngIf="showEquipment">
      <ion-scroll scrollX="true" zoom="false">
        <div class="terapeuta" *ngFor="let person of stay.careTeam" (click)="terapeutaTapped(person)" >
          <img class="avatar" [src]="(cachedImages) ? (person.image) : (person.image + '?' + getRandom())" onError="this.src='assets/images/placeholders/no-image-guest.jpg'">
          <p>{{person.role == 'GA' ? 'Gestor de Agenda' : (person.role == 'GR') ? 'Guest Relations' : person.role}}</p>
        </div>
      </ion-scroll>
    </ion-item>
  </ion-list>

  <div class="sin-contenido" *ngIf="(stay.diet.length == 0) || (stay.prescriptions.length == 0) || (stay.treatmentsList.length == 0)">
    <span></span>
    <p *ngIf = "(stay.diet.length == 0) && (stay.prescriptions.length == 0) && (stay.treatmentsList.length == 0)">
      {{'RESUMEN_ESTANCIA.SIN_DATOS' | translate}}
    </p>
    <p *ngIf = "(stay.diet.length == 0) && (stay.prescriptions.length == 0) && (stay.treatmentsList.length != 0)">
      {{'RESUMEN_ESTANCIA.SIN_DIETA_NI_PRESCRIPCIONES' | translate}}
    </p>
    <p *ngIf = "(stay.diet.length == 0) && (stay.prescriptions.length != 0) && (stay.treatmentsList.length == 0)">
      {{'RESUMEN_ESTANCIA.SIN_DIETA_NI_TRATAMIENTOS' | translate}}
    </p>
    <p *ngIf = "(stay.diet.length != 0) && (stay.prescriptions.length == 0) && (stay.treatmentsList.length == 0)">
      {{'RESUMEN_ESTANCIA.SIN_PRESCRIPCIONES_NI_TRATAMIENTOS' | translate}}
    </p>
    <p *ngIf = "(stay.diet.length == 0) && (stay.prescriptions.length != 0) && (stay.treatmentsList.length != 0)">
      {{'RESUMEN_ESTANCIA.SIN_DIETA' | translate}}
    </p>
    <p *ngIf = "(stay.diet.length != 0) && (stay.prescriptions.length == 0) && (stay.treatmentsList.length != 0)">
      {{'RESUMEN_ESTANCIA.SIN_PRESCRIPCIONES' | translate}}
    </p>
    <p *ngIf = "(stay.diet.length != 0) && (stay.prescriptions.length != 0) && (stay.treatmentsList.length == 0)">
      {{'RESUMEN_ESTANCIA.SIN_TRATAMIENTOS' | translate}}
    </p>
  </div>
</ion-content>
