page-telefonos-interes {
  .item {
    border-bottom: 1px solid map-get($colors, grey-medium-l);
    background: white;
    .avatar {
      margin: 0 auto;
      width: 55px;
      height: 55px;
      background-size: cover;
      background-position: center;
      border-radius: 50%;
    }
    .text {
      p {
        margin: 4px;
        color: map-get($colors, dark);
        font-size: map-get($font-sizes, texto);
      }
      p:last-of-type {
        color: map-get($colors, grey-medium);
        font-size: map-get($font-sizes, descrip-mod) - 0.1;        
      }
    }
    .link {
      text-align: right;
      padding-right: 15px;
      img {
        margin: 0 auto;
        height: 22px;
      }
    }
  }
}
