<ion-header>
  <ion-navbar>
    <button ion-button menuToggle color="dark">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'ESTANCIA.VER_TELEFONOS' | translate}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-row class="item" *ngFor="let item of items" center>
    <ion-col width-25 text-wrap>
      <div  class="avatar" [ngStyle]="{'background-image': 'url('+ ((item.image != '') ? item.image : '') +')'}"></div>
    </ion-col>
    <ion-col width-50 text-wrap>
      <div class="text">
        <p>{{item.title}}</p>
        <p class="extension">{{item.extension}}</p>
      </div>
    </ion-col>
    <ion-col width-25 text-wrap>
      <div *ngIf="item.phone_number" class="link" (click)="telephoneTapped(item.phone_number)">
        <img src="assets/icon/telefono-blue.png" alt="">
      </div>
    </ion-col>
  </ion-row>
</ion-content>
