page-instalaciones-horarios {
  .item {
    border-bottom: 2px solid map-get($colors, grey-medium-l);
    padding-left:0;
    .img-container {
      align-self: flex-start;
      margin: 0;
      width: 130px;
      height: 130px;
      img {
        height: 100%;
        object-fit: cover;
      }
    }
    .facilities-text {
      padding:5px;
      padding-left: 15px;
      padding-right:0;
      p {
        margin:0;
        margin-bottom: 5px;
        color: map-get($colors, dark);
      }
      .name {
        font-size: map-get($font-sizes, seccion);
        font-weight: bold;
      }
      .icon-text {
        display: flex;
        align-items: center;
        padding-top: 5px;
        padding-bottom: 2px;
        img {
          height: 16px;
          width: auto;
        }
        span {
          font-size: map-get($font-sizes, descrip-mod) - 0.1;
          margin-left: 5px;
          line-height: 1.1em;
        }
      }
    }      
  }
  ion-list {
    margin:0 !important;
    .item-inner {
      border: 0 !important;
    }
  }
  ion-label.label{
    margin: 0px !important;
    margin-right: 5px !important;
  }
}
