<ion-header>
  <ion-navbar>
    <button ion-button menuToggle color="dark">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'ESTANCIA.VER_HORARIOS' | translate}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list mode="md">
    <ion-item mode="ios" class="item" text-wrap *ngFor="let item of items" (click)="itemTapped(item)" detail-push>
      <div class="img-container" item-left>
        <img [src]="item.image" onError="this.src='assets/images/placeholders/no-image.jpg'" alt=""> 
      </div>
      <div class="facilities-text">
        <p class="name">{{item.name}}</p>
        <div class="icon-text" *ngIf="item.hours.length != 0">
          <img src="assets/icon/reloj-blue.png" alt="">
          <span style="display:block">{{item.hours[0]}}<br>{{item.hours[1]}}</span>
        </div>
        <div class="icon-text" *ngIf="item.place">
          <img src="assets/icon/localizador-blue.png" alt="">
          <span>{{item.place}}</span>
        </div> 
        <div class="icon-text" *ngIf="item.telephone">
          <ion-icon ios="ios-call" md="md-call" color="blue"></ion-icon>
          <span>{{item.telephone}}</span>
        </div>    
      </div>
    </ion-item>
  </ion-list>
</ion-content>
