<ion-slides class="img-container" [options]="slideOptions" *ngIf="userData.user.programs.length > 1">
  <ion-slide *ngFor="let program of userData.user.programs" style="margin:0;padding:0">
    <div class="image">
      <img [src]="program.image" onError="this.src='assets/images/placeholders/no-image-program.jpg'" alt=""> 
    </div>
  </ion-slide>
</ion-slides>
<div class="img-container" *ngIf="userData.user.programs.length == 1">
  <div class="image">
    <img [src]="userData.user.programs[0].image" onError="this.src='assets/images/placeholders/no-image-program.jpg'" alt="">
  </div>
</div>
<div class="img-container" *ngIf="userData.user.programs.length == 0">
  <div class="image"> 
    <img src="assets/images/placeholders/without_program.jpg" alt="">
  </div>
</div>