slider-programs {
  .img-container {
    position: relative;
    height: $header-images-height;
    .image {
      background: white !important;
      img {
        height: $header-images-height;
        object-fit: cover;
        min-width: 100%;
        width: auto;
      }
    }
    .mask {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 100%;
      min-width: 100%;
      height: auto;
      width: auto;
      background: rgba(0,0,0,0.28);
      z-index: 2;
      span {
        position: absolute;
        bottom: 0;
        left: 0;
        color: white;
        padding: 12px 20px;
        font-size: map-get($font-sizes, titulares) - 0.3;
        font-weight: 500;
        text-transform: capitalize;
      }
    }
  }
  .swiper-pagination {
    top:15px;
    bottom:inherit;
  }
  span.swiper-pagination-bullet {
    color: map-get($colors, dark);
  }
  .swiper-pagination-bullet-active {
    background: rgba(255,255,255,0.70);
  }
}
