<!--
  Generated template for the FichaDetallesProgramaPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{item.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="img-container">
    <img [src]="(cachedImages) ? (item.image) : (item.image + '?' + getRandom())" onError="this.src='assets/images/placeholders/no-image-program.jpg'" alt="">
  </div>
  <div class="container">
    <div class="text-container">
      <img src="assets/icon/localizador-blue.png" alt="">
      <span>{{item.place}}</span>
    </div>
    <div class="text-container">
      <img src="assets/icon/reloj-blue.png" alt="">
      <span>{{item.hourIn}} ({{((moment(item.hourOut,"HH:mm").diff(moment(item.hourIn,"HH:mm"), 'minutes')) < 0) ? (moment(item.hourOut,"HH:mm").diff(moment(item.hourIn,"HH:mm"), 'minutes') + 24*60) : (moment(item.hourOut,"HH:mm").diff(moment(item.hourIn,"HH:mm"), 'minutes')) }} {{'AGENDA.MINUTOS' | translate}})</span>
    </div>
    <div class="text-container" *ngIf="item.level" [hidden]="item.level == 0">
      <span>{{item.level}}</span>
    </div>
    <div class="advice" [hidden]="!item.advice">
      <img src="assets/icon/alerta.png" alt="">
      <pre style="display:inline-block" [innerHtml]="item.advice"></pre>
    </div>
    <div class="info-container" *ngIf="item.description">
      <pre [innerHtml]="item.description"></pre>
    </div>
  </div>
</ion-content>
