page-ficha-detalles-academy {

  .img-container {
    position: relative;
    height: $header-images-height;
    img {
      max-height: $header-images-height;
      object-fit: cover;
      min-height: 100%;
      min-width: 100%;
      height: auto;
      width: auto;
    }
  }

  .container {
    background-color: white;
    padding:20px;
    border-bottom: 2px solid map-get($colors, grey-medium-l);

    .info-container {
      margin-top:20px;
      font-size: map-get($font-sizes, descrip-mod) + 0.1;
      color:  map-get($colors, grey);
      text-align: left;
      pre {
        white-space: pre-wrap;       /* css-3 */
        white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
        white-space: -pre-wrap;      /* Opera 4-6 */
        white-space: -o-pre-wrap;    /* Opera 7 */
        word-wrap: break-word;       /* Internet Explorer 5.5+ */
        line-height: 20px;
        margin-top:0;
        font-size: 14px;
      }
    }
    .text-container {
      display: flex;
      align-items: center;
      padding: 6px 0px;
      text-align: left;
      img {
        height: 16px;
        width: auto;
      }
      span {
        font-size: map-get($font-sizes, descrip-mod) + 0.1;
        margin-left: 5px;
        font-weight: normal;
      }
    }
  }

  .advice {
    margin: 10px 0;
    display: flex;
    align-items: center;
    font-size: map-get($font-sizes, descrip-mod);
    color: map-get($colors, grey-medium);
    pre {
      display:inline-block;
      white-space: pre-wrap;       /* css-3 */
      white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
      white-space: -pre-wrap;      /* Opera 4-6 */
      white-space: -o-pre-wrap;    /* Opera 7 */
      word-wrap: break-word;       /* Internet Explorer 5.5+ */
      padding-left: 5px;
    }
    img {
      height: 20px;
    }
  }

}
