<ion-header>
  <ion-navbar>
    <ion-title>{{'SIN_CONEXION.TITULO' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content (click)="reload()" padding>
  <img src="assets/icon/nube-grey.png" alt="">
  <div class="texto" [hidden]="!spinnerHide">
    <h1>{{'SIN_CONEXION.MESSAGE' | translate}}</h1>
    <p>{{'SIN_CONEXION.ACTION' | translate}}</p>
  </div>
  <div class="spinner" [hidden]="spinnerHide">
    <ion-spinner></ion-spinner>
  </div>
</ion-content>
