page-sin-conexion {

  img {
    width: 100%;
    margin: 60px auto;
  }

  .texto {
    margin-top: 6%;
    h1 {
      color: map-get($colors, grey-medium);
      text-align: center;
      font-size: map-get($font-sizes, seccion);
      padding: 12px;
    }
    p {
      color: map-get($colors, blue);
      text-align: center;
      font-size: map-get($font-sizes, descrip-mod);
      margin: 16px 0;
    }    
  }

  .spinner {
    margin-top: 8%;
    text-align: center;
    ion-spinner {
      width: 40px;
      height: 40px;
      stroke: #A39382;
      fill: white;
    }    
  }

}
