page-tratamientos-incluidos {
  ul {
    margin:0;
    padding: 20px 20px 20px 40px !important;
    color: map-get($colors, grey);
    font-size: map-get($font-sizes, texto);
    background: white;
    border-bottom: 2px solid map-get($colors, grey-medium-l);
    li {
      padding: 4px 0px;
    }
  }
}
