<ion-header>
  <ion-navbar>
    <button ion-button menuToggle color="dark">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'RESUMEN_ESTANCIA.TRATAMIENTOS_INCLUIDOS' | translate}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ul>
    <li *ngFor="let treatment of treatments">{{treatment.count}}x {{treatment.value}}</li>
  </ul>
</ion-content>
