page-mi-estancia {

  ion-list-header {
    color: #75787B !important;
    ion-icon {
      margin-right:14px !important;
    }
  }

  .item-ios p {
    color: map-get($colors, dark);
    font-size: 1.5rem;
    margin: 4px 0px;
  }

  .dates-container {
    padding: 20px 15px 0px 15px;
    background: white;
    ion-col {
      img {
        display: inline-block;
        vertical-align: middle;
        height: 32px;
      }
      span {
        display: block;
        margin: 2px 0;
        font-size: (map-get($font-sizes, descrip-mod) - 0.1);
        color: map-get($colors, grey-medium);
        text-transform: uppercase;
        &.date {
          color: map-get($colors, dark);
          font-size: map-get($font-sizes, texto);
          text-transform: none;
          font-weight: 500;
        }
      }
    }
    ion-row:nth-of-type(2) ion-col {
      img {
        margin-left: 14px;
      }
    }
  }

  .careTeam {
    background: white;
    padding-top: 20px;
    ion-list {
      margin-bottom: 0px;
    }
    .scroll-zoom-wrapper {
      display: flex;
      justify-content: space-around;
    }
  }

  .action-list-container {
    padding-top: 15px;
    padding-bottom: 15px;
    background: white;
    border-bottom: 2px solid map-get($colors, grey-medium-l);
    ion-item {
      border: 0 !important;
    }
    .invoice-button {
      text-align: center;
      margin-bottom: 20px;
      button {
        text-transform: uppercase;
      }
    }
  }

  .equipoTerapeutico {
    border-bottom: 0px !important;
    padding-left:16px !important;
    ion-scroll{
      height: 120px;
    }
    ion-label.label {
      margin-right: 0 !important;
    }
    .item-inner {
      padding-right: 0 !important;
    }
    .terapeuta {
      display: inline-block;
      vertical-align: top;
      width: 65px;
      margin: 10px 10px 10px 0px;
      .avatar {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        object-fit: cover;
      }
      p {
        width: 100%;
        margin: 0;
        color: map-get($colors, dark);
        font-size: map-get($font-sizes, descrip-mod);
        text-align: center;
        white-space: normal;
        text-transform: capitalize;
        min-width: 68px;
      }
    }
    &.careTeam {
      padding-top:0px;
      ion-label {
        margin-bottom: 0px !important;
      }
    }
  }

  .careTeam {
    &__text {
      margin-top:0;
      margin-bottom: 8px !important;
      white-space: normal;
      padding-right: 16px;
      text-align: left;
      font-size: 13px !important;
      line-height: 16px !important;
      color: map-get($colors, grey-medium) !important;
    }
  }  

  .button_to_config {
    margin-top: 30px;
    margin-bottom: 30px;
    button {
      padding-left: 20px !important;
      ion-label {
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }
    .seccion {
      font-weight: normal;
      letter-spacing: 0.1rem;
      font-size: 12px;
      font-weight: 500;
      text-transform: uppercase;
    }
    .descripcion-mod {
      font-size: 12px;      
    }
  }

  ion-item.item-block, button.item-block {
    padding-left: 54px;
  }

}