<ion-header>
  <ion-navbar>
    <button ion-button menuToggle color="dark">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'ESTANCIA.TITULO' | translate}}</ion-title>
    <ion-buttons end>
      <button ion-button color="blue" clear (click)="openActionSheet()"><img src="assets/icon/contact.png" height="22px" alt=""></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <slider-programs></slider-programs>
  <div class="dates-container">
    <ion-row center>
      <ion-col width-20 text-center>
        <img src="assets/icon/mi-llegada-grey.png" alt="">
      </ion-col>
      <ion-col width-80>
        <span>{{'ESTANCIA.INICIO' | translate}}</span>
        <span class="date">{{checkIn.format("LL")}}</span>
      </ion-col>
    </ion-row>
    <ion-row center>
      <ion-col width-20 text-center>
        <img src="assets/icon/mi-salida-grey.png" alt="">
      </ion-col>
      <ion-col width-80>
        <span>{{'ESTANCIA.FIN' | translate}}</span>
        <span class="date">{{checkOut.format("LL")}}</span>
      </ion-col>
    </ion-row>
  </div>
  <div class="careTeam">
    <ion-list mode="ios">
      <ion-list-header mode="ios" (click)="showTapped('careTeam')" mode="ios">
        <img src="assets/icon/care-team-blue.png" class="icono-grande" item-left>
        SHA Care Team
        <ion-icon *ngIf="!showCareTeam" ios="ios-add-circle-outline" md="ios-add-circle-outline" color="grey-medium" small item-right></ion-icon>
        <ion-icon *ngIf="showCareTeam" ios="ios-remove-circle-outline" md="ios-remove-circle-outline" color="grey-medium" small item-right></ion-icon>
      </ion-list-header>
      <ion-item detail-none class="equipoTerapeutico careTeam" *ngIf="showCareTeam">
        <p class="careTeam__text">{{'ESTANCIA.TEXTO_SHA_CARE_TEAM' | translate}}</p>
        <ion-scroll scrollX="true" zoom="false">
          <div class="terapeuta" *ngFor="let person of userData.user.careTeam" (click)="careTeamTapped(person)" >
            <img class="avatar" [src]="(cachedImages) ? (person.image) : (person.image + '?' + getRandom())" onError="this.src='assets/images/placeholders/no-image-guest.jpg'">
            <p>{{person.role == 'GA' ? ('TERAPEUTA.GA' | translate) : (person.role == 'GR') ? ('TERAPEUTA.GR' | translate) : (person.role == 'Médico') ? ('TERAPEUTA.MEDICO' | translate) : ('TERAPEUTA.CN' | translate)}}</p>
          </div>
        </ion-scroll>
      </ion-item>
    </ion-list>
  </div>
  <div class="action-list-container">
    <ion-list mode="ios">
      <ion-list-header mode="ios" detail-push (click)="dietaTapped()">
        <img src="assets/icon/dieta-blue.png" class="icono-grande" item-left>
        {{'ESTANCIA.VER_DIETA' | translate}}
      </ion-list-header>
    </ion-list>
    <ion-list mode="ios">
      <ion-list-header mode="ios" detail-push (click)="prescripcionesTapped()">
        <img src="assets/icon/prescriptions-blue.png" class="icono-grande" item-left>
        {{'ESTANCIA.PRESCRIPCIONES' | translate}}
      </ion-list-header>
    </ion-list>
    <!--<ion-list mode="ios">
      <ion-list-header mode="ios" (click)="showTapped('professionals')" mode="ios">
        <img src="assets/icon/doctor-blue.png" class="icono-grande" item-left>
        {{'ESTANCIA.PROFESIONALES' | translate}}
        <ion-icon *ngIf="!showProfessionals" ios="ios-add-circle-outline" md="ios-add-circle-outline" color="grey-medium" small item-right></ion-icon>
        <ion-icon *ngIf="showProfessionals" ios="ios-remove-circle-outline" md="ios-remove-circle-outline" color="grey-medium" small item-right></ion-icon>
      </ion-list-header>
      <ion-item detail-none class="equipoTerapeutico" mode="ios" detail-none *ngIf="showProfessionals">
        <ion-scroll scrollX="true" zoom="false">
          <div class="terapeuta" *ngFor="let professional of professionals" (click)="professionalTapped(professional)" >
            <img class="avatar" [src]="professional.image" onError="this.src='assets/images/placeholders/no-image-doctor.jpg'">
            <p>{{professional.name}}</p>
          </div>
        </ion-scroll>
      </ion-item>
    </ion-list>-->
    <ion-list mode="ios">
      <ion-list-header mode="ios" detail-push (click)="agendaTapped()">
        <img src="assets/icon/agenda-blue.png" class="icono-grande" item-left>
        {{'ESTANCIA.VER_AGENDA' | translate}}
      </ion-list-header>
    </ion-list>
    <ion-list mode="ios" *ngIf="userData.user.programs.length > 0">
      <ion-list-header mode="ios" (click)="showTapped('programs')" mode="ios">
        <img src="assets/icon/programs-blue.png" class="icono-grande" item-left>
        {{'MI_LLEGADA.PROGRAMA' | translate}}
        <ion-icon *ngIf="!showPrograms" ios="ios-add-circle-outline" md="ios-add-circle-outline" color="grey-medium" small item-right></ion-icon>
        <ion-icon *ngIf="showPrograms" ios="ios-remove-circle-outline" md="ios-remove-circle-outline" color="grey-medium" small item-right></ion-icon>
      </ion-list-header>
      <div *ngIf="showPrograms">
        <button ion-item detail-push mode="ios" (click)="openProgramDetails(program)" *ngFor="let program of userData.user.programs" style="font-size: 1.5rem !important">
          {{program.name}}
        </button>
      </div>
    </ion-list>
    <ion-list mode="ios">
      <ion-list-header mode="ios" (click)="showTapped('additionalTreatments')" mode="ios">
        <img src="assets/icon/tratamientos-blue.png" class="icono-grande" item-left>
        <span *ngIf="userData.user.programs.length > 0">{{'MI_LLEGADA.TRATAMIENTOS_ADICIONALES' | translate}}</span>
        <span *ngIf="userData.user.programs.length == 0">{{'MI_LLEGADA.TRATAMIENTOS' | translate}}</span>
        <ion-icon *ngIf="!showAdditionalTreatments" ios="ios-add-circle-outline" md="ios-add-circle-outline" color="grey-medium" small item-right></ion-icon>
        <ion-icon *ngIf="showAdditionalTreatments" ios="ios-remove-circle-outline" md="ios-remove-circle-outline" color="grey-medium" small item-right></ion-icon>
      </ion-list-header>
      <ion-item mode="ios" detail-none class="hideBorderItem" *ngIf="showAdditionalTreatments">
        <p *ngFor="let additionalTreatment of additionalTreatments">
          {{additionalTreatment.count}}x {{additionalTreatment.value}}
        </p>
      </ion-item>
    </ion-list>
    <ion-list mode="ios">
      <ion-list-header mode="ios" (click)="showTapped('suite')" mode="ios">
        <img src="assets/icon/suite-blue.png" class="icono-grande" item-left>
        {{'MI_LLEGADA.SUITE' | translate}}
        <ion-icon *ngIf="!showSuite" ios="ios-add-circle-outline" md="ios-add-circle-outline" color="grey-medium" small item-right></ion-icon>
        <ion-icon *ngIf="showSuite" ios="ios-remove-circle-outline" md="ios-remove-circle-outline" color="grey-medium" small item-right></ion-icon>
      </ion-list-header>
      <ion-item mode="ios" *ngIf="showSuite" style="font-size: 1.5rem !important">
        {{userData.user.suite.name}}
      </ion-item>
    </ion-list>
    <ion-list mode="ios">
      <ion-list-header mode="ios" detail-push (click)="horariosTapped()">
        <img src="assets/icon/reloj-blue.png" class="icono-grande" item-left>
        {{'ESTANCIA.VER_HORARIOS' | translate}}
      </ion-list-header>
    </ion-list>
    <ion-list mode="ios">
      <ion-list-header mode="ios" detail-push (click)="tlfTapped()">
        <img src="assets/icon/telefono-blue.png" class="icono-grande" item-left>
        {{'ESTANCIA.VER_TELEFONOS' | translate}}
      </ion-list-header>
    </ion-list>
    <div class="invoice-button">
      <button ion-button round small color="blue" (click)="solicitarFacturaTapped()">{{'ESTANCIA.SOLICITAR_FACTURA' | translate}}</button>
    </div>
  </div>
  <ion-list class="button_to_config" mode="ios" [hidden]="!formMyDepartureConfig">
    <button ion-item detail-push (click)="openConfigDeparture()" [disabled]="!isTwoDaysBeforeCheckOut && !formMyDepartureConfig['configured']">
      <div class="seccion">
        {{buttonDepartureConfig.title}}
      </div>
      <div class="descripcion-mod">
        {{buttonDepartureConfig.subtitle}}   
      </div>
    </button>
  </ion-list>
</ion-content>
