<iframe id="YT_player" type="text/html" width="100%" height="100%" [src]="videoUrl" frameborder="0">
</iframe>
<button class="video-exit-button" ion-button color="grey" clear (click)="backToPage()" large [hidden]="hideCloseBtn">
  <ion-icon name='close'></ion-icon>
</button>