page-configuracion {
  ion-select {
    margin: 0 !important;
    color: map-get($colors, blue) !important;
  }
  .select-icon {
    display: none !important;
  }
  ion-label {
    color: map-get($colors, dark) !important;
  }
  .logout {
    color: map-get($colors, red) !important;
  }
  .conditions {
    color: map-get($colors, blue) !important;
  }
}
