<ion-header>
  <ion-navbar>
    <button ion-button menuToggle color="dark">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'MENU.AJUSTES' | translate}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list mode="ios">
    <ion-item>
      <ion-label>
        {{'AJUSTES.IDIOMA' | translate}}       
      </ion-label>
      <ion-select item-right name="language" [selectOptions]="{title:'AJUSTES.IDIOMA' | translate}" okText="{{'AJUSTES.ACEPTAR' | translate}}" cancelText="{{'AJUSTES.CANCELAR' | translate}}" [(ngModel)]="language" (ionChange)="changeLanguage(language)">
        <ion-option value="es">{{'AJUSTES.ES' | translate}}</ion-option>
        <ion-option value="en">{{'AJUSTES.EN' | translate}}</ion-option>
        <!-- <ion-option value="ru">{{'AJUSTES.RU' | translate}}</ion-option> -->
      </ion-select>
    </ion-item>
    <ion-item detail-push (click)="changePassword()">
      {{'AJUSTES.CAMBIAR_CONTRASENA' | translate}}
    </ion-item>
  </ion-list>
  <ion-list mode="ios">
    <ion-item>
      <ion-label>
        {{'AJUSTES.AVISO_CITAS' | translate}}     
      </ion-label>
      <ion-select item-right name="adviceTime" [selectOptions]="{title:'AJUSTES.AVISO_CITAS' | translate}" okText="{{'AJUSTES.ACEPTAR' | translate}}" cancelText="{{'AJUSTES.CANCELAR' | translate}}" [(ngModel)]="adviceTime" (ionChange)="changeAdviceTime()">
        <ion-option value="5-minutes">5 {{'AJUSTES.MINUTES' | translate}}</ion-option>
        <ion-option value="10-minutes">10 {{'AJUSTES.MINUTES' | translate}}</ion-option>
        <ion-option value="15-minutes">15 {{'AJUSTES.MINUTES' | translate}}</ion-option>
        <ion-option value="30-minutes">30 {{'AJUSTES.MINUTES' | translate}}</ion-option>
        <ion-option value="1-hour">1 {{'AJUSTES.HOUR' | translate}}</ion-option>
        <ion-option value="2-hours">2 {{'AJUSTES.HOURS' | translate}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>
        {{'AJUSTES.COMIENZO_SEMANA' | translate}}
      </ion-label>
      <ion-select item-right name="weekStartDay" [selectOptions]="{title:'AJUSTES.COMIENZO_SEMANA' | translate}" okText="Aceptar" cancelText="Cancelar" [(ngModel)]="weekStartDay" (ionChange)="changeWeekStartDay()">
        <ion-option value="1">{{'AJUSTES.LUNES' | translate}}</ion-option>
        <ion-option value="0">{{'AJUSTES.DOMINGO' | translate}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-list mode="ios">
    <ion-item (click)="conditions()">
      <ion-label class="conditions">
        {{'CONDICIONES_USO.TITULO' | translate}}
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list mode="ios">
    <ion-item (click)="logout()">
      <ion-label class="logout">
        {{'AJUSTES.CERRAR_SESION' | translate}}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
