page-ficha-prescripciones {

  .avatar{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover; 
  }

  .prescripcion {
    background: white;
    border-bottom: 2px solid map-get($colors, grey-medium-l);
    min-height: 100px;
    font-size: map-get($font-sizes, descrip-mod);
    p {
      margin: 10px 0;
      padding: 0 5px 0 10px;
    }
  }

  ion-row {
    padding: 0 5px;
  }

  .msg_disponibilidad{
    padding: 40px 20px;
    color: map-get($colors, grey-medium);
    text-align: left;
    background-color:white;
    border-bottom: 2px solid map-get($colors, grey-medium-l);
  }

}
