<ion-header>
  <ion-navbar>
    <button ion-button menuToggle color="dark">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'RESUMEN_ESTANCIA.PRESCRIPCIONES' | translate}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-row class="prescripcion" *ngFor="let prescripcion of items" center>
    <ion-col width-25>
      <img class="avatar" [src]="(cachedImages) ? (prescripcion.doctor.image) : (prescripcion.doctor.image + '?' + getRandom())" onError="this.src='assets/images/placeholders/no-image-doctor.jpg'">
    </ion-col>
    <ion-col text-left width-75>
      <ion-row>
        <ion-col text-left><span color="grey-medium">{{prescripcion.doctor.name}}</span></ion-col>
        <ion-col text-right><span color="grey-medium">{{moment(prescripcion.day,"DD/MM/YYYY").locale(userData.user.lang).fromNow()}}</span></ion-col>
      </ion-row>
      <p><i>{{prescripcion.text}}</i></p>
    </ion-col>
  </ion-row>
  <div *ngIf="!items.length" class="msg_disponibilidad">
    {{'MI_PERFIL.SIN_PRESCRIPCIONES' | translate}}
  </div>
</ion-content>
